
<!-- Navigation Mobile type 4 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type4">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	
	<div class="padding_top30 padding_bottom60 inner">
		<div class="max_width230 left40 font18 white slogan">
			With Startup, we don't make you start from an empty slate.
		</div>
		<a href="#" class="top20 left40 bottom40 btn size40 transparent_white border radius6 uppercase spacing15 font12 padding_sides20">Get Started</a>
		
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-asterisk font18 line_height70 right20"></i>Tour</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-briefcase font18 line_height70 right20"></i>Showcase</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-paint-brush font18 line_height70 right20"></i>Designers</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-coffee font18 line_height70 right20"></i>Teams</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-star font18 line_height70 right20"></i>About</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-question-circle font18 line_height70 right20"></i>Help</a>
		<div class="hr height1 white opacity1"></div>

		<div class="left40 top110 links">
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Privacy Policy</a></div>
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Terms & conditions</a></div>
		</div>
	</div>
</div>

<!-- Header 18 -->

<header class="padding_top305 padding_bottom255 header_18">

	<!-- Navigation 20 -->

	<nav class="navigation_20 transparent padding_top60 padding_bottom30">
		<div class="container nopadding">
			<div class="row">
				<div class="col-lg-3">
					<div class="white font20 line_height40"><b>Startup</b> Framework</div>
				</div>
				<div class="col-lg-9 text-right right_block">
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Get The App</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Features</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">About</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">F.A.Q.</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Sign In</a>
					<a href="#" class="btn transparent_white size40 uppercase border border_white padding_sides20 semibold font12 spacing20 left10">Sign Up</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding">
		<div class="max_width630 inner">
			<h1 class="white font_second light font62">Startup Framework. <br />Suit Up Your Startup.</h1>
			<div class="white light font22 opacity7 max_width570 hyphens top40 text">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<div class="top70">
				<a href="#" class="btn red size60 width170 right40">Get Started</a>
				<a href="#" class="link white line_height60 header18_link"><i class="fa fa-comment font18 right10"></i>Have a question? Ask us!</a>
			</div>
		</div>
	</div>
</header>
