	
<!-- Navigation Mobile type 4 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type4">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	
	<div class="padding_top30 padding_bottom60 inner">
		<div class="max_width230 left40 font18 white slogan">
			With Startup, we don't make you start from an empty slate.
		</div>
		<a href="#" class="top20 left40 bottom40 btn size40 transparent_white border radius6 uppercase spacing15 font12 padding_sides20">Get Started</a>
		
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-asterisk font18 line_height70 right20"></i>Tour</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-briefcase font18 line_height70 right20"></i>Showcase</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-paint-brush font18 line_height70 right20"></i>Designers</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-coffee font18 line_height70 right20"></i>Teams</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-star font18 line_height70 right20"></i>About</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-question-circle font18 line_height70 right20"></i>Help</a>
		<div class="hr height1 white opacity1"></div>

		<div class="left40 top110 links">
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Privacy Policy</a></div>
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Terms & conditions</a></div>
		</div>
	</div>
</div>

<!-- Header 20 -->

<header class="bg_dark_gray padding_top155 padding_bottom170 header_20">

	<!-- Navigation 10 -->

	<nav class="navigation_10 transparent padding_top60">
		<div class="container nopadding clearfix">
			<div class="float_right dropdown">
				<a href="#" class="link white line_height40" id="navigation_10_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
				<div class="bg_dark_gray dropdown-menu dropdown-menu-right text-right line_height40" aria-labelledby="navigation_10_dropdown">
					<div><a href="#" class="link white">Startup Framework 2</a></div>
					<div><a href="#" class="link white">Slides</a></div>
					<div><a href="#" class="link white">Qards</a></div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding">
		<div class="row justify-content-between">
			<div class="col-xl-5 col-md-4 text-right bg_holder">
				<img srcset="i/header_20_bg.png 1x, i/header_20_bg_2x.png 2x" src="i/header_20_bg.png" class="max_height_full max_width_full bg" alt="" />
			</div>
			<div class="col-xl-6 col-md-7 padding_top185 white inner">
				<div class="font20 font_second logo"><b>Startup</b> Framework</div>
				<h1 class="font_second light font62 top30">Let's make design fast and easy.</h1>
				<div class="max_width470 font18 light opacity7 top30 text">
					The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit.
				</div>
				<a href="#" class="header_20_link">
					<img srcset="i/demo_images/header_20_btn.png 1x, i/demo_images/header_20_btn_2x.png 2x" src="i/demo_images/header_20_btn.png" alt="" class="top50" />
				</a>
			</div>
		</div>
	</div>
</header>

