	
<!-- Navigation Mobile type 2 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type2">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 text-center inner">
		<div><a href="#" class="font_second font22 link white bottom20">Tour</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Features</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Pricing</a></div>
		<div><a href="#" class="font_second font22 link white bottom40">Blog</a></div>

		<div class="socials top120">
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-google-plus"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-facebook-square"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-twitter"></i></a>
		</div>
	</div>
</div>

<!-- Header 22 -->

<header class="padding_top200 padding_bottom60 bg_black header_22">

	<!-- Navigation 19 -->

	<nav class="navigation_19 padding_top20 padding_bottom20">
		<div class="container nopadding">
			<div class="float_left white font20 line_height40"><b>Startup</b> Framework</div>
			<div class="float_right">
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Tour</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Features</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Pricing</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Blog</a>
				<div class="inline_block sides15">
					<a href="#" class="link white font18 line_height40 spacing20 right15"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="link white font18 line_height40 spacing20 sides15"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="link white font18 line_height40 spacing20 left15"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</nav>

	<div class="bg_video">
		<!-- Use this code to set youtube video in background. 
		Don't forget to set video aspect ratio. Ratio can be set as original size of video, e.g. 1280:720 -->
		<script src="https://www.youtube.com/iframe_api"></script>
		<div class="youtube_video opacity5" id="header_22_bg_video" data-videoId="Rk6_hdRtJOE" data-ratio="1280:720"></div>
		
		<!-- Use this code to set .mp4 video from your server in background. -->
		<!--
		<video autoplay loop mute class="opacity7">
			<source src="video/video1.mp4" type="video/mp4">
		</video>
		-->
	</div>

	<div class="container nopadding max_width970 white">
		<h1 class="font_second light font62">Create beautiful responsive <br />sites in under 60 minutes</h1>
		<div class="top50 buttons line_height60">
			<a href="#" class="right55 btn size60 green radius6 font16 padding_sides30">Create Your First Site</a>
			<a href="https://www.youtube.com/watch?v=Rk6_hdRtJOE" target="_blank" class="link white light font16 line_height50">
				<div class="right10 btn width50 height50 white font14 line_height50 radius_full"><i class="fa fa-play left3 dark_gray"></i></div>
				View Presentation
			</a>
		</div>
		<div class="top85 bottom75 hr white opacity2 height1"></div>
		<div class="row">
			<div class="col-sm-4">
				<div class="bottom50 block">
					<div class="font14 semibold uppercase spacing20 title">Layouts</div>
					<div class="top20 max_width270 font18 light opacity5 text">More than 170 ready-to-use components in 10 popular categories.</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="bottom50 block">
					<div class="font14 semibold uppercase spacing20 title">Prototypes</div>
					<div class="top20 max_width270 font18 light opacity5 text">With our universal blocks you will create your prototype.</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="bottom50 block">
					<div class="font14 semibold uppercase spacing20 title">Retina Ready</div>
					<div class="top20 max_width270 font18 light opacity5 text">Our websites look sharper and more gorgeous on devices.</div>
				</div>
			</div>
		</div>
	</div>
</header>