
<!-- Navigation Mobile type 2 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type2">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 text-center inner">
		<div><a href="#" class="font_second font22 link white bottom20">Home</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Popular</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Recent</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Featured</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Designers</a></div>
		<div><a href="#" class="font_second font22 link white bottom40">Team</a></div>

		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">Help</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">F.A.Q.</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">Support</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">About Us</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">Blog</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">Careers</a></div>

		<div class="socials top120">
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-facebook"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-dribbble"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-instagram"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fa fa-behance"></i></a>
		</div>
	</div>
</div>

<!-- Header 16 -->

<header class="padding_bottom190 header_16">

	<!-- Navigation 18 -->

	<nav class="navigation_18 padding_top30 padding_bottom30">
		<div class="container nopadding">
			<div class="row">
				<div class="col-lg-3">
					<div class="nav_logo white line_height40"><b>Startup</b> Framework</div>
				</div>
				<div class="col-lg-9 text-right right_block">
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 right15">Tour</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">Prices</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">About</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">F.A.Q.</a>
					<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">Support</a>
					<form id="nav18_form" class="width170 height40 line_height38 float_right radius20 left10" method="POST" action="/">
						<button class="nopadding right10 white float_left left15"><i class="fa fa-search"></i></button>
						<input type="text" name="search" placeholder="Search" required class="white width120 line_height38 float_left" onfocus="focusForm('nav18_form');" onblur="focusForm('nav18_form');" />
					</form>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding">				
		<div class="max_width670 padding_top265 inner">
			<h1 class="white font_second light font62">Build Your Own Site like <br />a Lego Constructor</h1>
			<div class="white font22 light max_width570 opacity7 top35 bottom100 hyphens text">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<div class="float_left width270 right80 block">
				<img srcset="i/demo_images/header_16_img1.png 1x, i/demo_images/header_16_img1_2x.png 2x" src="i/demo_images/header_16_img1.png" alt="" />
				<div class="semibold white font18 top30 title">Based on Bootstrap 3</div>
				<div class="light font18 white opacity7 top25">
					HTML layout is based on one of the most common and reliable framework - Bootstrap.
				</div>
			</div>
			<div class="float_left width270 block">
				<img srcset="i/demo_images/header_16_img2.png 1x, i/demo_images/header_16_img2_2x.png 2x" src="i/demo_images/header_16_img2.png" alt="" />
				<div class="semibold white font18 top30 title">HTML5 & CSS3</div>
				<div class="light font18 white opacity7 top25">
					We used only time-tested <br />technologies for the best <br />results.
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<img srcset="i/header_16_bg_img.png 1x, i/header_16_bg_img_2x.png 2x" src="i/header_16_bg_img.png" class="top280 left670 bg" alt="" />
	</div>
</header>
