
<!-- Navigation Mobile type 1 -->

<a class="open_menu"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type1">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 inner">
		<div class="nav_logo white bottom30"><b>Startup</b> Framework</div>
		<div><a href="#" class="font_second font22 link white bottom20">Home</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Tour</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Mobile Apps</a></div>
		<div><a href="#" class="font_second font22 link white bottom20">Pricing</a></div>
		<div><a href="#" class="font_second font22 link white bottom40">Development</a></div>
		
		<div><a href="#" class="font16 link white opacity3 bottom15">Help</a></div>
		<div><a href="#" class="font16 link white opacity3 bottom15">F.A.Q.</a></div>
		<div><a href="#" class="font16 link white opacity3 bottom15">Support</a></div>
		<div><a href="#" class="font16 link white opacity3 bottom15">About Us</a></div>
		<div><a href="#" class="font16 link white opacity3 bottom15">Blog</a></div>
		<div><a href="#" class="font16 link white opacity3 bottom15">Careers</a></div>
		
		<div class="socials top40">
			<a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-facebook"></i></a>
			<a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-google-plus"></i></a>
		</div>
		
		<div class="top50 font14 light white opacity3 copy">© 2017 Designmodo. All rights reserved.</div>
	</div>
</div>

<!-- Header 1 -->

<header class="padding_bottom110 bg_white header_1">

	
<!-- Navigation 1 -->

	<nav class="navigation_1 padding_top30 padding_bottom30 top30">
		<div class="container nopadding">
			<div class="row justify-content-center line_height40">
				<div class="col-lg-3 nav_logo"><b>Startup</b> Framework</div>
				<div class="col-lg-6 text_center nav_1_links">
					<a href="#" class="link dark_blue sides15">Home</a>
					<a href="#" class="link dark_blue sides15">Features</a>
					<a href="#" class="link dark_blue sides15">Blog</a>
					<a href="#" class="link dark_blue sides15">Shop</a>
					<a href="#" class="link dark_blue sides15"><i class="fa fa-search"></i></a>
				</div>
				<div class="col-xl-1 hide_at_1200"></div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 nopadding">
					<a href="#" class="right20 link dark_blue line_height40 nav_1_btn">Sign In</a>
					<a href="#" class="btn blue size40 padding_sides20 nav_1_btn">Sign Up</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container padding_top220">
		<div class="text-center">
			<img srcset="i/header_1_logo.png 1x, i/header_1_logo_2x.png 2x" src="i/header_1_logo.png" class="logo" alt="" />
		</div>
		<h1 class="top30 font_second font82 light dark_gray text-center">Startup Framework</h1>
		<div class="max_width630 text margin_auto top30 font22 light dark_blue text-center">
			We made it so beautiful and simple. It combines landings, <br />pages, blogs and shop screens. It is definitely the tool you <br />need in your collection!
		</div>
		
		<div class="row justify-content-center top80 bottom70 text-center buttons">
			<a href="#" class="btn width270 sides10 size60 radius6 red bottom20">Purchase Now for $248</a>
			<a href="#" class="btn width180 sides10 size60 radius6 transparent_red border border_red">Learn More</a>
		</div>
		<div class="row justify-content-center text-center">
			<a href="#" class="btn width50 size50 font20 light_gray next"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>
</header>
