<!-- Form 15 -->

<section class="form_15 padding_top130 padding_bottom125">
	<div class="container nopadding">
		<h2 class="font42 font_second light white text-center">Checkout</h2>
		<form action="form-handler.php" method="post" class="bg_white margin_auto top45 width570 radius8 padding_bottom70">
			<div class="form_15_menu text-center clearfix">
				<a class="relative float_left font14 semibold uppercase spacing15 link medium_gray line_height70">Credit Card</a>
				<a class="relative float_left font14 semibold uppercase spacing15 link medium_gray line_height70">Paypal</a>
			</div>
			<div class="top50 padding_sides70 slider">
				<div>
					<div class="row">
						<div class="col-md-6 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">First Name</div>
							<input type="text" name="firstname" placeholder="First name" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
						<div class="col-md-6 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Last Name</div>
							<input type="text" name="lastname" placeholder="Last name" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Card Number</div>
							<input type="text" name="card" id="form_15_card" placeholder="0000 0000 0000 0000" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
						<div class="col-md-3 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">CVV</div>
							<input type="text" name="cvv" id="form_15_cvv" placeholder="000" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Expiration date</div>
							<input type="text" name="exp" id="form_15_expiration" placeholder="MM / YYYY" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
						<div class="col-md-6 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Country</div>
							<select name="country" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20">
								<option selected disabled>Your country</option>
								<option>United Kingdom</option>
								<option>USA</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 top15 block">
							<button class="btn size60 blue radius6 width_full">Purchase</button>
						</div>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="col-md-12 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">First Name</div>
							<input type="text" name="firstname" placeholder="First name" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Last Name</div>
							<input type="text" name="lastname" placeholder="Last name" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 bottom25 block">
							<div class="bottom10 font14 dark_blue semibold uppercase spacing15">Email</div>
							<input type="email" name="email" placeholder="E-mail" class="input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 top15 block">
							<button class="btn size60 blue radius6 width_full">Purchase</button>
						</div>
					</div>
				</div>
			</div>
		</form>		
	</div>
</section>
