
<!-- Form 6 -->

<section class="form_6 padding_top100 padding_bottom100">
	<div class="container nopadding">
		<form action="form-handler.php" method="post" class="bg_white margin_auto max_width570 radius10 padding_sides100 padding_bottom25 text-center">
			<h2 class="bottom55 font42 font_second light dark_gray padding_top65">Sign In</h2>
			<div class="bottom30 relative input_holder">
				<i class="fa fa-envelope line_height50 dark_blue absolute left20"></i>
				<input type="email" name="email" placeholder="Email" class="input size50 border border_light_gray focus_blue radius6 width_full padding_left40 padding_right20" />
			</div>
			<div class="bottom20 relative input_holder">
				<i class="fa fa-lock line_height50 dark_blue absolute left20"></i>
				<input type="password" name="password" placeholder="Password" class="input size50 border border_light_gray focus_blue radius6 width_full padding_left40 padding_right20" />
			</div>
			<div class="text-right text">
				<a href="#" class="link blue underline">Forgot Password?</a>
			</div>
			<button class="top30 btn size60 red min_width230">Sign In</button>
			<div class="top60 hr light_gray width_full height1"></div>
			<div class="top20 medium_gray text">Don't have an account? <a href="#" class="link blue underline">Sign Up</a></div>
		</form>
	</div>
</section>
