
<!-- Form 3 -->

<section class="form_3 bg_white padding_top140 padding_bottom140">
	<div class="container nopadding max_width970">
		<img srcset="i/form_3_img.png 1x, i/form_3_img_2x.png 2x" src="i/form_3_img.png" class="top85 float_left max_width370 img" alt="" />	
		<form action="form-handler.php" method="post" class="left500">
			<h2 class="font42 font_second dark_gray">Create an Account</h2>
			<div class="top10 bottom50 medium_gray text">By signing up, you agree to the <a href="#" class="blue link underline">Terms of Service</a>.</div>
			<div class="bottom10 font14 semibold dark_blue uppercase spacing20">E-mail</div>
			<input type="email" name="email" placeholder="Your e-mail" class="bottom35 input size60 border border_light_gray focus_green radius6 width_full padding_sides20" />
			<div class="row">
				<div class="col-md-6 half">
					<div class="bottom10 font14 semibold dark_blue uppercase spacing20">Password</div>
					<input type="password" name="password" placeholder="Create password" class="bottom25 input size60 border border_light_gray focus_green radius6 width_full padding_sides20" />
				</div>
				<div class="col-md-6 half">
					<div class="bottom10 font14 semibold dark_blue uppercase spacing20">Confirm</div>
					<input type="password" name="password2" placeholder="Retype password" class="bottom25 input size60 border border_light_gray focus_green radius6 width_full padding_sides20" />
				</div>
			</div>
			<div class="top30 buttons">
				<button class="btn size50 green font16 radius6 padding_sides30">Sign Up</button>
				<span class="inline_block font12 medium_gray uppercase line_height50 sides25 smalltext">or</span>
				<a href="#" class="link light_gray font22 line_height50 right20"><i class="fa fa-facebook-square"></i></a>
				<a href="#" class="link light_gray font22 line_height50 right20"><i class="fa fa-twitter"></i></a>
				<a href="#" class="link light_gray font22 line_height50"><i class="fa fa-google-plus"></i></a>
			</div>
		</form>
	</div>
</section>
