
<!-- Form 5 -->

<section class="form_5 bg_white padding_top120 padding_bottom100">
	<div class="container nopadding max_width970 text-center">
		<h2 class="font42 font_second light dark_gray">Sign Up right now and get 30% off.</h2>
		<form action="form-handler.php" method="post">
			<div class="top55 flex justify_between">
				<input type="email" name="email" placeholder="Your e-mail" class="bottom30 width370 input size60 border border_light_gray focus_green radius6 padding_sides20" />
				<input type="password" name="password" placeholder="Create Password" class="bottom30 width370 input size60 border border_light_gray focus_green radius6 padding_sides20" />
				<button class="btn size60 green radius6 min_width170 font16">Sign Up</button>
			</div>
			<div class="top20 medium_gray text">
				By subscribing, you agree to the <a href="#" class="link blue underline">Terms of Service</a>
			</div>
		</form>
	</div>
</section>
