
<!-- Form 8 -->

<section class="form_8 padding_top110 padding_bottom115">
	<div class="container nopadding max_width970 text-center">
		<h2 class="font42 font_second light white">Subscribe our Newsletters</h2>
		<div class="max_width570 margin_auto top25 font18 light white opacity7">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<form action="form-handler.php" method="post">
			<div class="top60 flex justify_between">
				<input type="text" name="name" placeholder="Your name" class="bottom30 width270 input size60 border border_transparent_white focus_white radius6 padding_sides20" />
				<input type="email" name="email" placeholder="Your e-mail" class="bottom30 width470 input size60 border border_transparent_white focus_white radius6 padding_sides20" />
				<button class="btn size60 red radius6 min_width170 font16">Sign Up</button>
			</div>
			<div class="top30 font18 white text">
				By subscribing, you agree to the <a href="#" class="link green underline">Terms of Service</a>
			</div>
		</form>
	</div>
</section>
