
<!-- Form 11 -->

<section class="form_11 bg_white padding_top70 padding_bottom70">
	<div class="container nopadding max_width970 text-center">
		<div class="radius10 padding_top75 padding_bottom45 padding_sides30 inner">
			<h2 class="font42 font_second light dark_gray">Join the Early Access List</h2>
			<form action="form-handler.php" method="post" class="top35">
				<input type="email" name="email" placeholder="Enter your e-mail to join the early access" class="bottom30 width470 input size60 border border_light_gray focus_green radius6 padding_sides20" />
				<button class="left30 width70 btn size60 green radius6 font18"><i class="fa fa-paper-plane"></i></button>
			</form>
		</div>
	</div>
</section>
