
<!-- Showcase 9 -->

<section class="showcase_9 bg_light_gray padding_top95 padding_bottom110">
	<div class="container nopadding text-center">
		<h2 class="font42 font_second light dark_gray">Our Works.</h2>
		<div class="margin_auto top25 bottom80 max_width770 font18 light opacity7 text text1">
			The most important part of the Startup Framework is the samples. The samples form a set of 20 usable pages you can use as is or you can add new blocks from UI Kit.
		</div>
		<div class="row align-items-stretch">
			<div class="col-md-6 text-left bottom30">
				<a class="bg_white margin_auto max_width570 radius10 block">
					<img srcset="i/demo_images/showcase_9_foto1.jpg 1x, i/demo_images/showcase_9_foto1_2x.jpg 2x" src="i/demo_images/showcase_9_foto1.jpg" class="width_full" alt="" />
					<div class="padding_sides35 padding_bottom25 inner">
						<div class="top25 font28 font_second light title">Startup Framework</div>
						<div class="top10 font18 opacity7 text">
							Startup Framework works fine on devices supporting <br />Retina Desplay. Feel the clarity!
						</div>
						<div class="top15 font12 semibold uppercase spacing10 opacity3 tags">Ui kit, Framework, Landing page, generator</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 text-left bottom30">
				<a class="bg_white margin_auto max_width570 radius10 block">
					<img srcset="i/demo_images/showcase_9_foto2.jpg 1x, i/demo_images/showcase_9_foto2_2x.jpg 2x" src="i/demo_images/showcase_9_foto2.jpg" class="width_full" alt="" />
					<div class="padding_sides35 padding_bottom25 inner">
						<div class="top25 font28 font_second light title">Slides</div>
						<div class="top10 font18 opacity7 text">
							We have created a new product that will help designers <br />create websites for their startups.
						</div>
						<div class="top15 font12 semibold uppercase spacing10 opacity3 tags">Ui kit, colorful, Landing page, Slide</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row align-items-stretch">
			<div class="col-md-6 text-left bottom30">
				<a class="bg_white margin_auto max_width570 radius10 block">
					<img srcset="i/demo_images/showcase_9_foto3.jpg 1x, i/demo_images/showcase_9_foto3_2x.jpg 2x" src="i/demo_images/showcase_9_foto3.jpg" class="width_full" alt="" />
					<div class="padding_sides35 padding_bottom25 inner">
						<div class="top25 font28 font_second light title">Flat UI Pro</div>
						<div class="top10 font18 opacity7 text">
							Components and blocks are fixed to the common and <br />popular 12 Grid system.
						</div>
						<div class="top15 font12 semibold uppercase spacing10 opacity3 tags">Ui kit, ux kit, design, flat, web</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 text-left bottom30">
				<a class="bg_white margin_auto max_width570 radius10 block">
					<img srcset="i/demo_images/showcase_9_foto4.jpg 1x, i/demo_images/showcase_9_foto4_2x.jpg 2x" src="i/demo_images/showcase_9_foto4.jpg" class="width_full" alt="" />
					<div class="padding_sides35 padding_bottom25 inner">
						<div class="top25 font28 font_second light title">Slides</div>
						<div class="top10 font18 opacity7 text">
							We have created a new product that will help designers <br />create websites for their startups.
						</div>
						<div class="top15 font12 semibold uppercase spacing10 opacity3 tags">Ui kit, colorful, Landing page, Slide</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
