
<!-- Showcase 2 -->

<section class="showcase_2 bg_white padding_top90 padding_bottom60">
	<div class="container nopadding text-center">
		<h2 class="font42 light font_second dark_gray">Our Works.</h2>
		<div class="margin_auto top30 bottom80 max_width770 font18 light text">
			The most important part of the Startup Framework is the samples. The samples form a set of 20 usable pages you can use as is or you can add new blocks from UI Kit.
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto1.jpg 1x, i/demo_images/showcase_2_foto1_2x.jpg 2x" src="i/demo_images/showcase_2_foto1.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">In the Sky</a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto2.jpg 1x, i/demo_images/showcase_2_foto2_2x.jpg 2x" src="i/demo_images/showcase_2_foto2.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">Grand Canyon</a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto3.jpg 1x, i/demo_images/showcase_2_foto3_2x.jpg 2x" src="i/demo_images/showcase_2_foto3.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">Man from the South</a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto4.jpg 1x, i/demo_images/showcase_2_foto4_2x.jpg 2x" src="i/demo_images/showcase_2_foto4.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">It's just a Cigarette </a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto5.jpg 1x, i/demo_images/showcase_2_foto5_2x.jpg 2x" src="i/demo_images/showcase_2_foto5.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">Mountains</a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom45 max_width370 block">
					<a href="#"><img srcset="i/demo_images/showcase_2_foto6.jpg 1x, i/demo_images/showcase_2_foto6_2x.jpg 2x" src="i/demo_images/showcase_2_foto6.jpg" class="radius8 width_full" alt="" /></a>
					<a href="#" class="top30 font28 light font_second link dark_gray title">Trip to Dream</a>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Nicole Milton</div>
				</div>
			</div>
		</div>
	</div>
</section>
