
<!-- Showcase 7 -->

<section class="showcase_7 bg_dark_gray padding_top110 padding_bottom45">
	<div class="container nopadding max_width970 white">
		<h2 class="float_left font42 font_second light max_width770">Last works</h2>
		<a href="#" class="float_right btn size50 transparent_green border border_green font16 radius6 padding_sides20">View all Works</a>
		<div class="clearfix bottom55"></div>
		<div class="row">
			<div class="col-sm-6 text-center bottom55">
				<a href="#" class="margin_auto max_width470 block link white">
					<img srcset="i/demo_images/showcase_7_foto1.jpg 1x, i/demo_images/showcase_7_foto1_2x.jpg 2x" src="i/demo_images/showcase_7_foto1.jpg" class="radius8 width_full" alt="" />
					<div class="top30 font28 font_second light title">Mozart Project</div>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">UI kit</div>
				</a>
			</div>
			<div class="col-sm-6 text-center bottom55">
				<a href="#" class="margin_auto max_width470 block link white">
					<img srcset="i/demo_images/showcase_7_foto2.jpg 1x, i/demo_images/showcase_7_foto2_2x.jpg 2x" src="i/demo_images/showcase_7_foto2.jpg" class="radius8 width_full" alt="" />
					<div class="top30 font28 font_second light title">Startup Framework 2.0</div>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Framework</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center bottom55">
				<a href="#" class="margin_auto max_width470 block link white">
					<img srcset="i/demo_images/showcase_7_foto3.jpg 1x, i/demo_images/showcase_7_foto3_2x.jpg 2x" src="i/demo_images/showcase_7_foto3.jpg" class="radius8 width_full" alt="" />
					<div class="top30 font28 font_second light title">From the Sky</div>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Photos</div>
				</a>
			</div>
			<div class="col-sm-6 text-center bottom55">
				<a href="#" class="margin_auto max_width470 block link white">
					<img srcset="i/demo_images/showcase_7_foto4.jpg 1x, i/demo_images/showcase_7_foto4_2x.jpg 2x" src="i/demo_images/showcase_7_foto4.jpg" class="radius8 width_full" alt="" />
					<div class="top30 font28 font_second light title">Air Forces</div>
					<div class="top10 font12 semibold uppercase spacing15 opacity3">Pictures</div>
				</a>
			</div>
		</div>
	</div>
</section>
