
<!-- Showcase 4 -->

<section class="showcase_4 bg_dark_gray padding_top115 padding_bottom120">
	<div class="container nopadding text-center white">
		<h2 class="font42 light font_second">More than 150 components.</h2>
		<div class="margin_auto top30 bottom70 max_width770 font22 light opacity7 text">
			Many carefully crafted components to present your business.
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto1.jpg 1x, i/demo_images/showcase_4_foto1_2x.jpg 2x" src="i/demo_images/showcase_4_foto1.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto2.jpg 1x, i/demo_images/showcase_4_foto2_2x.jpg 2x" src="i/demo_images/showcase_4_foto2.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto3.jpg 1x, i/demo_images/showcase_4_foto3_2x.jpg 2x" src="i/demo_images/showcase_4_foto3.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto4.jpg 1x, i/demo_images/showcase_4_foto4_2x.jpg 2x" src="i/demo_images/showcase_4_foto4.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto5.jpg 1x, i/demo_images/showcase_4_foto5_2x.jpg 2x" src="i/demo_images/showcase_4_foto5.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto6.jpg 1x, i/demo_images/showcase_4_foto6_2x.jpg 2x" src="i/demo_images/showcase_4_foto6.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto7.jpg 1x, i/demo_images/showcase_4_foto7_2x.jpg 2x" src="i/demo_images/showcase_4_foto7.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto8.jpg 1x, i/demo_images/showcase_4_foto8_2x.jpg 2x" src="i/demo_images/showcase_4_foto8.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto9.jpg 1x, i/demo_images/showcase_4_foto9_2x.jpg 2x" src="i/demo_images/showcase_4_foto9.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto10.jpg 1x, i/demo_images/showcase_4_foto10_2x.jpg 2x" src="i/demo_images/showcase_4_foto10.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto11.jpg 1x, i/demo_images/showcase_4_foto11_2x.jpg 2x" src="i/demo_images/showcase_4_foto11.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto12.jpg 1x, i/demo_images/showcase_4_foto12_2x.jpg 2x" src="i/demo_images/showcase_4_foto12.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto13.jpg 1x, i/demo_images/showcase_4_foto13_2x.jpg 2x" src="i/demo_images/showcase_4_foto13.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto14.jpg 1x, i/demo_images/showcase_4_foto14_2x.jpg 2x" src="i/demo_images/showcase_4_foto14.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto15.jpg 1x, i/demo_images/showcase_4_foto15_2x.jpg 2x" src="i/demo_images/showcase_4_foto15.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
				<div class="margin_auto bottom30 max_width370 block">
					<a href="#">
						<img srcset="i/demo_images/showcase_4_foto16.jpg 1x, i/demo_images/showcase_4_foto16_2x.jpg 2x" src="i/demo_images/showcase_4_foto16.jpg" class="radius8 width_full" alt="" />
					</a>
				</div>
			</div>
		</div>
		<a href="#" class="top40 btn size50 transparent_green border border_green radius6 padding_sides20">View all Components</a>
	</div>
</section>
