
<!-- Call to Action 2 -->

<section class="call_to_action_2 bg_white padding_top40 padding_bottom40">
	<div class="container nopadding text-center">
		<div class="padding_sides100 padding_top85 padding_bottom65 radius10 inner">
			<h2 class="font42 font_second light dark_gray">Samples will show you the feeling on how to play around using the components in the website building process.</h2>
			<a href="#" class="top50 btn size60 blue padding_sides30">Purchase for $249</a>
		</div>
	</div>
</section>
