
<!-- Call to Action 11 -->

<section class="call_to_action_11 bg_dark_gray padding_top45 padding_bottom45">
	<div class="container nopadding max_width970">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-9">
				<h2 class="font28 font_second light white max_width700">Twenty Five Awesome Startup Web Pages</h2>				
			</div>
			<div class="col-lg-3 justify-content-right text-center text-lg-right">
				<a href="#" class="btn red size60 padding_sides40 radius6">Try Startup Now</a>
			</div>
		</div>
	</div>
</section>
