
<!-- Call to Action 18 -->

<section class="call_to_action_18 bg_dark_gray padding_top105 padding_bottom90">
	<div class="container nopadding text-center white">
		<h2 class="font42 font_second light">Better Landing for Your Startup.</h2>
		<div class="max_width770 margin_auto top30 font22 light opacity7 hyphens text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="top60 buttons">
			<a href="#" target="_blank" class="btn size50 font16 border border_twitter_color transparent_twitter_color padding_sides25 sides15 bottom20"><i class="fa fa-twitter right10"></i> Twitter</a>
			<a href="#" target="_blank" class="btn size50 font16 border border_facebook_color transparent_facebook_color padding_sides25 sides15 bottom20"><i class="fa fa-facebook-square right10"></i> Facebook</a>
			<a href="#" target="_blank" class="btn size50 font16 border border_red transparent_red padding_sides25 sides15 bottom20"><i class="fa fa-google-plus right10"></i> Google</a>
			<a href="#" target="_blank" class="btn size50 font16 border border_pink transparent_pink padding_sides25 sides15 bottom20"><i class="fa fa-dribbble right10"></i> Dribbble</a>
		</div>
	</div>
</section>
