
<!-- Call to Action 7 -->

<section class="call_to_action_7 bg_white padding_top105 padding_bottom105">
	<div class="container nopadding text-center">
		<img srcset="i/call_to_action_7_logo.png 1x, i/call_to_action_7_logo_2x.png 2x" src="i/call_to_action_7_logo.png" alt="" />
		<h2 class="top50 font28 font_second dark_gray"><b>Startup</b> Framework</h2>
		<div class="max_width470 margin_auto top15 font18 light dark_blue text">
			A high-quality solution for those who want a beautiful startup website quickly.
		</div>
		<a href="#" class="top40 btn size50 transparent_red border border_red padding_sides30"><i class="fa fa-apple right10"></i>Download on App Store</a>
	</div>
</section>
