
<!-- Call to Action 22 -->

<section class="call_to_action_22 bg_black relative padding_top135 padding_bottom135">

	<div class="bg_video">
		<!-- Use this code to set youtube video in background. 
		Don't forget to set video aspect ratio. Ratio can be set as original size of video, e.g. 1280:720 -->
		<script src="https://www.youtube.com/iframe_api"></script>
		<div class="youtube_video opacity5" id="call_to_action_22_bg_video" data-videoId="Spq-K1J0yk8" data-ratio="1280:720"></div>
		
		<!-- Use this code to set .mp4 video from your server in background. -->
		<!--
		<video autoplay loop mute class="opacity7">
			<source src="video/video1.mp4" type="video/mp4">
		</video>
		-->
	</div>

	<div class="container nopadding white text-center">
		<div class="margin_auto max_width770 radius20 padding_top55 padding_bottom40 padding_sides20 inner">
			<h2 class="margin_auto bottom40 max_width570 font_second light font42">Create a beautiful, responsive <br />website in under 60 minutes.</h2>
			<a href="https://www.youtube.com/watch?v=Spq-K1J0yk8" target="_blank" class="btn width70 height70 white font20 line_height70 radius_full"><i class="fa fa-play left5 dark_gray"></i></a>
			<div class="max_width430 margin_auto top55 font22 light opacity7 text">
				Lifetime license. Build unlimited sites at <br />no additional cost!
			</div>
		</div>
	</div>
</section>
