
<!-- Call to Action 16 -->

<section class="call_to_action_16 bg_sand padding_top50 padding_bottom50">
	<div class="container nopadding max_width970">
		<div class="row align-items-center">
			<div class="col-xl-6">
				<h2 class="font28 font_second light dark_gray">Follow Us on Socials</h2>
			</div>
			<div class="col-xl-6 buttons">
				<a href="#" class="btn transparent_twitter_color size50 border border_twitter_color font16 padding_sides20 radius6 right20"><i class="fa fa-twitter font18 right10"></i>Follow @Designmodo</a>
				<a href="#" class="btn transparent_facebook_color size50 border border_facebook_color font16 padding_sides20 radius6"><i class="fa fa-facebook-square font18 right10"></i>Follow on Facebook</a>
			</div>
		</div>
	</div>
</section>
