
<!-- Call to Action 4 -->

<section class="call_to_action_4 padding_top115 padding_bottom100">
	<div class="container nopadding max_width970 text-center white">
		<h2 class="font62 font_second light">Start Creating Right Now</h2>
		<div class="max_width570 margin_auto top30 font22 light opacity7 text">
			A high-quality solution for those who want a beautiful startup website quickly.
		</div>
		<a href="#" class="top60 btn size80 blue padding_sides60">Get Started for $249</a>
	</div>
</section>
