
<!-- Call to Action 23 -->

<section class="call_to_action_23 bg_white relative padding_top115 padding_bottom150">

	<div class="bg_video">
		<!-- Use this code to set youtube video in background. 
		Don't forget to set video aspect ratio. Ratio can be set as original size of video, e.g. 1280:720 -->
		<script src="https://www.youtube.com/iframe_api"></script>
		<div class="youtube_video" id="call_to_action_23_bg_video" data-videoId="4B36Lr0Unp4" data-ratio="1280:720"></div>
		
		<!-- Use this code to set .mp4 video from your server in background. -->
		<!--
		<video autoplay loop mute>
			<source src="video/video1.mp4" type="video/mp4">
		</video>
		-->
	</div>

	<div class="container nopadding">
		<div class="row justify-content-lg-end">
			<div class="col-lg-5 col-xl-4">
				<div class="width370 radius20 inner">
					<h2 class="font_second light font42 dark_gray">The same beautiful experience across devices.</h2>
					<div class="top20 bottom50 font22 light text">
						Get a fully retina ready site when you build with Startup Framework. Websites look sharper and more gorgeous on devices with retina display support.
					</div>
					<a href="#" class="btn size50 blue radius6 font16 min_width230 padding_sides25">Learn More <i class="fa fa-angle-right left10"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
