
<!-- Navigation 1 -->

<nav class="navigation_1 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row justify-content-center line_height40">
			<div class="col-lg-3 nav_logo"><b>Startup</b> Framework</div>
			<div class="col-lg-6 text_center nav_1_links">
				<a href="#" class="link dark_blue sides15">Home</a>
				<a href="#" class="link dark_blue sides15">Features</a>
				<a href="#" class="link dark_blue sides15">Blog</a>
				<a href="#" class="link dark_blue sides15">Shop</a>
				<a href="#" class="link dark_blue sides15"><i class="fa fa-search"></i></a>
			</div>
			<div class="col-xl-1 hide_at_1200"></div>
			<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 nopadding">
				<a href="#" class="right20 link dark_blue line_height40 nav_1_btn">Sign In</a>
				<a href="#" class="btn blue size40 padding_sides20 nav_1_btn">Sign Up</a>
			</div>
		</div>
	</div>
</nav>
