
<!-- Navigation 7 -->

<nav class="navigation_7 bg_white padding_top30 padding_bottom30 line_height40">
	<div class="container nopadding clearfix">
		<div class="text-center nav_logo"><b>Startup</b> Framework</div>
		<a href="#" class="btn white border border_blue size40 radius6 padding_left20 padding_right20 float_left"><span class="blue">Visit Tour</span></a>
		<div class="float_right">
			<a href="#" class="link blue left30">Sign In</a>
			<a href="#" class="link blue left30">Sign Up</a>
		</div>
	</div>
</nav>
