
<!-- Navigation 15 -->

<nav class="navigation_15 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding line_height40">
		<div class="row justify-content-between">
			<div class="col-lg-4 col-md-5 col-sm-6 left_block">
				<div class="right35 inline_block dropdown">
					<a href="#" class="link white" id="navigation_15_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars white"></i></a>
					<div class="bg_dark_gray dropdown-menu" aria-labelledby="navigation_15_dropdown">
						<div><a href="#" class="link white">Startup Framework 2</a></div>
						<div><a href="#" class="link white">Slides</a></div>
						<div><a href="#" class="link white">Qards</a></div>
					</div>
				</div>
				<div class="nav_logo inline_block white"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 text-right right_block">
				<a href="#" class="float_right link white opacity2 search"><i class="fa fa-search"></i></a>
			</div>
		</div>
	</div>
</nav>
