
<!-- Navigation 10 -->

<nav class="navigation_10 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding clearfix">
		<div class="nav_logo text-center dark_gray line_height40"><b>Startup</b> Framework</div>
		<form id="nav10_form" class="width270 line_height36 float_left radius20 clearfix" method="POST" action="/">
			<button class="nopadding right10 dark_gray float_left left15"><i class="fa fa-search"></i></button>
			<input type="text" name="search" placeholder="Search" required class="dark_gray width120 line_height38 float_left" onfocus="focusForm('nav10_form');" onblur="focusForm('nav10_form');" />
		</form>
		<div class="float_right dropdown">
			<a href="#" class="link dark_gray line_height40" id="navigation_10_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
			<div class="bg_white dropdown-menu dropdown-menu-right text-right line_height40" aria-labelledby="navigation_10_dropdown">
				<div><a href="#" class="link dark_gray">Startup Framework 2</a></div>
				<div><a href="#" class="link dark_gray">Slides</a></div>
				<div><a href="#" class="link dark_gray">Qards</a></div>
			</div>
		</div>
	</div>
</nav>
