
<!-- Navigation 20 -->

<nav class="navigation_20 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3">
				<div class="white font20 line_height40"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 text-right right_block">
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Get The App</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Features</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">About</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">F.A.Q.</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides10">Sign In</a>
				<a href="#" class="btn transparent_white size40 uppercase border border_white padding_sides20 semibold font12 spacing20 left10">Sign Up</a>
			</div>
		</div>
	</div>
</nav>
