
<!-- Navigation 9 -->

<nav class="navigation_9 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding text-center">
		<div class="line_height40 links">
			<a href="#" class="link dark_blue right20">Home</a>
			<a href="#" class="link dark_blue sides20">Features</a>
			<a href="#" class="link dark_blue sides20">About</a>
			<a href="#" class="link dark_blue sides20">Blog</a>
			<a href="#" class="link dark_blue sides20">Contact Us</a>
			<div class="inline_block left20 socials">
				<a href="#" class="link dark_blue right20"><i class="fa fa-product-hunt font18"></i></a>
				<a href="#" class="link dark_blue left20"><i class="fa fa-apple font18"></i></a>
			</div>
		</div>
	</div>
</nav>
