
<!-- Navigation 5 -->

<nav class="navigation_5 bg_white padding_top30 padding_bottom30 line_height40">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="dark_blue nav_logo"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 col-md-8 text-right right_block">
				<a href="#" class="link dark_blue left40">Pricing</a>
				<a href="#" class="link dark_blue left40">About</a>
				<div class="inline_block padding_left40 dropdown">
					<a href="#" class="link dark_blue" id="navigation_5_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
					<div class="bg_white dropdown-menu dropdown-menu-right" aria-labelledby="navigation_5_dropdown">
						<div><a href="#" class="link dark_blue">Startup Framework 2</a></div>
						<div><a href="#" class="link dark_blue">Slides</a></div>
						<div><a href="#" class="link dark_blue">Qards</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
