
<!-- Navigation 19 -->

<nav class="navigation_19 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3">
				<div class="white font20 line_height40"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 text-right right_block">
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 right15">Tour</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Features</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Pricing</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Blog</a>
				<div class="inline_block sides15">
					<a href="#" class="link white font16 line_height40 spacing20 right15"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="link white font16 line_height40 spacing20 sides15"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="link white font16 line_height40 spacing20 left15"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
</nav>
