
<!-- Navigation 8 -->

<nav class="navigation_8 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-xl-3 blue font20 line_height40 logo"><b>Startup</b> Framework</div>
			<div class="col-xl-6 text_center font12 line_height40 block_left">
				<a href="#" class="link dark_blue uppercase semibold spacing20 sides10">Tour</a>
				<a href="#" class="link dark_blue uppercase semibold spacing20 sides10">Prices</a>
				<a href="#" class="link dark_blue uppercase semibold spacing20 sides10">About</a>
				<a href="#" class="link dark_blue uppercase semibold spacing20 sides10">F.A.Q.</a>
				<a href="#" class="link dark_blue uppercase semibold spacing20 sides10">Support</a>
			</div>
			<div class="col-xl-3 text_right block_right">
				<a href="#" class="link blue semibold font12 line_height40 uppercase spacing20 right10">Login</a>
				<a href="#" class="btn size40 transparent_blue border border_blue radius6 uppercase semibold spacing20 padding_sides20 font12 left20">Contact Us</a>
			</div>
		</div>
	</div>
</nav>
