
<!-- Navigation 2 -->

<nav class="navigation_2 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row line_height40">
			<div class="col-xl-8 col-lg-7 block_left">
				<div class="right20 inline_block nav_logo"><b>Startup</b> Framework</div>
				<div class="inline_block padding_sides20 dropdown">
					<a href="#" class="link dark_blue dropdown-toggle" id="navigation_2_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
					<div class="bg_white dropdown-menu" aria-labelledby="navigation_2_dropdown">
						<div><a href="#" class="link dark_blue">Startup Framework 2</a></div>
						<div><a href="#" class="link dark_blue">Slides</a></div>
						<div><a href="#" class="link dark_blue">Qards</a></div>
					</div>
				</div>
				<a href="#" class="link dark_blue sides20">Pricing</a>
				<a href="#" class="link dark_blue sides20">Community</a>
			</div>
			<div class="col-xl-4 col-lg-5 text_right block_right">
				<a href="#" class="link dark_blue sides20">API</a>
				<a href="#" class="link dark_blue sides20">Help</a>
				<a href="#" class="link dark_blue sides20">Login</a>
				<a href="#" class="btn white border border_light_gray size40 radius6 padding_sides20">Sign Up</a>
			</div>
		</div>
	</div>
</nav>
