
<!-- Navigation 3 -->

<nav class="navigation_3 bg_white padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-xl-10">
				<div class="right20 inline_block nav_logo"><b>Startup</b> Framework</div>
				<a href="#" class="link dark_blue sides20">Features</a>
				<a href="#" class="link dark_blue sides20">Downloads</a>
				<a href="#" class="link dark_blue sides20">Docs</a>
				<a href="#" class="link dark_blue sides20">Support</a>
				<a href="#" class="link dark_blue sides20">Blog</a>
				<form action="/" method="POST" class="inline_block">
					<button><i class="fa fa-search"></i></button>
					<input type="text" name="search" class="width100" placeholder="Search" required />
				</form>
			</div>
			<div class="col-xl-2 text-right socials">
				<a href="#" class="link dark_blue sides15 font18"><i class="fa fa-twitter"></i></a>
				<a href="#" class="link dark_blue sides15 font18"><i class="fa fa-facebook-square"></i></a>
				<a href="#" class="link dark_blue left15 font18"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
</nav>
