
<!-- Navigation 14 -->

<nav class="navigation_14 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding clearfix">
		<div class="text_center nav_logo white line_height40"><b>Startup</b> Framework</div>
		<div class="float_left line_height40">
			<a href="#" class="link white right40">Products</a>
			<a href="#" class="link white right40">Pricing</a>
			<a href="#" class="link white right40">Community</a>
		</div>
		<div class="float_right line_height40">
			<a href="#" class="link white right40">Help</a>
			<a href="#" class="link white right40">Login</a>
			<a href="#" class="btn white size40 padding_sides25">Join</a>
		</div>
	</div>
</nav>
