
<!-- Navigation 12 -->

<nav class="navigation_12 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding clearfix">
		<div class="nav_logo white line_height40"><b>Startup</b> Framework</div>
		<div class="float_left line_height40">
			<div class="inline_block padding_right40 dropdown">
				<a href="#" class="link white dropdown-toggle" id="navigation_2_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
				<div class="bg_dark_gray dropdown-menu" aria-labelledby="navigation_2_dropdown">
					<div><a href="#" class="link white">Startup Framework 2</a></div>
					<div><a href="#" class="link white">Slides</a></div>
					<div><a href="#" class="link white">Qards</a></div>
				</div>
			</div>
			<a href="#" class="link white right30">Pricing</a>
			<a href="#" class="link white">Community</a>
		</div>
		<div class="float_right line_height40">
			<a href="#" class="link white right30">Login</a>
			<a href="#" class="btn size40 padding_left20 padding_right20 white radius6">Sign Up</a>
		</div>
	</div>
</nav>
