
<!-- Showcase 3 -->

<section class="showcase_3 bg_white padding_top95 padding_bottom75">
	<div class="container nopadding text-center">
		<h2 class="font42 light font_second dark_gray">Great Landing Pages</h2>
		<div class="margin_auto top35 bottom85 max_width770 font22 light hyphens text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Sydney</div>
					<div class="top10 font18 light">A showcase for your awesome iPhone designs.</div>
					<img srcset="i/showcase_3_browser.png 1x, i/showcase_3_browser_2x.png 2x" src="i/showcase_3_browser.png" class="top35 width_full browser" alt="" />
					<img srcset="i/demo_images/showcase_3_foto1.jpg 1x, i/demo_images/showcase_3_foto1_2x.jpg 2x" src="i/demo_images/showcase_3_foto1.jpg" class="width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">London</div>
					<div class="top10 font18 light">You have the design, you have the code.</div>
					<img srcset="i/showcase_3_browser.png 1x, i/showcase_3_browser_2x.png 2x" src="i/showcase_3_browser.png" class="top35 width_full browser" alt="" />
					<img srcset="i/demo_images/showcase_3_foto2.jpg 1x, i/demo_images/showcase_3_foto2_2x.jpg 2x" src="i/demo_images/showcase_3_foto2.jpg" class="width_full" alt="" />
				</div>
			</a>
		</div>
		<div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">New York</div>
					<div class="top10 font18 light">Startup Framework. Suit up your startup.</div>
					<img srcset="i/showcase_3_browser.png 1x, i/showcase_3_browser_2x.png 2x" src="i/showcase_3_browser.png" class="top35 width_full browser" alt="" />
					<img srcset="i/demo_images/showcase_3_foto3.jpg 1x, i/demo_images/showcase_3_foto3_2x.jpg 2x" src="i/demo_images/showcase_3_foto3.jpg" class="width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Moscow</div>
					<div class="top10 font18 light">Best Apple iWatch apps.</div>
					<img srcset="i/showcase_3_browser.png 1x, i/showcase_3_browser_2x.png 2x" src="i/showcase_3_browser.png" class="top35 width_full browser" alt="" />
					<img srcset="i/demo_images/showcase_3_foto4.jpg 1x, i/demo_images/showcase_3_foto4_2x.jpg 2x" src="i/demo_images/showcase_3_foto4.jpg" class="width_full" alt="" />
				</div>
			</a>
		</div>
	</div>
</section>
