
<!-- Showcase 10 -->

<section class="showcase_10 bg_white padding_top80 padding_bottom50">
	<div class="container nopadding">
		<div class="bottom30 radius10 block_green">
			<div class="left60 max_width470 padding_top45 padding_bottom45 inner">
				<div class="font28 font_second light dark_gray title">Startup Framework</div>
				<div class="top20 font18 light hyphens text">
					Startup is a powerful tool for quick and convenient prototyping of your projects. It will fit most projects because it contains up-to-date and modern web elements.
				</div>
				<a href="#" class="top85 link green font12 uppercase semibold spacing10">View Project <i class="fa fa-angle-right left10"></i></a>
			</div>
		</div>
		<div class="row align-items-stretch">
			<div class="col-md-6 bottom30">
				<div class="height_full radius10 block_gray">
					<div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
						<div class="font28 font_second light dark_gray title">Flat UI Pro</div>
						<div class="top20 font18 light text">
							All of these components are made in the same style, and can easily be inegrated into projects, allowing you to create hundreds of solutions for your future projects.
						</div>
						<a href="#" class="top70 link green font12 uppercase semibold spacing10">View Project <i class="fa fa-angle-right left10"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 bottom30">
				<div class="height_full radius10 white block_black">
					<div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
						<div class="font28 font_second light title">Fast UI Tool</div>
						<div class="top20 font18 light opacity7 text">
							All frequently used elements are now in symbols. Use them to create interfaces really fast. Easily change icons, colors and text. Add new symbols to customize your design.
						</div>
						<a href="#" class="top70 link green font12 uppercase semibold spacing10">View Project <i class="fa fa-angle-right left10"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
