
<!-- Showcase 8 -->

<section class="showcase_8 bg_black">
	<div class="flex justify_between">
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto1.jpg 1x, i/demo_images/showcase_8_foto1_2x.jpg 2x" src="i/demo_images/showcase_8_foto1.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto2.jpg 1x, i/demo_images/showcase_8_foto2_2x.jpg 2x" src="i/demo_images/showcase_8_foto2.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto3.jpg 1x, i/demo_images/showcase_8_foto3_2x.jpg 2x" src="i/demo_images/showcase_8_foto3.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto4.jpg 1x, i/demo_images/showcase_8_foto4_2x.jpg 2x" src="i/demo_images/showcase_8_foto4.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto5.jpg 1x, i/demo_images/showcase_8_foto5_2x.jpg 2x" src="i/demo_images/showcase_8_foto5.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto6.jpg 1x, i/demo_images/showcase_8_foto6_2x.jpg 2x" src="i/demo_images/showcase_8_foto6.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto7.jpg 1x, i/demo_images/showcase_8_foto7_2x.jpg 2x" src="i/demo_images/showcase_8_foto7.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto8.jpg 1x, i/demo_images/showcase_8_foto8_2x.jpg 2x" src="i/demo_images/showcase_8_foto8.jpg" class="width_full" alt="" />
			</a>
		</div>
		<div class="block">
			<a href="#" class="opacity2">
				<img srcset="i/demo_images/showcase_8_foto9.jpg 1x, i/demo_images/showcase_8_foto9_2x.jpg 2x" src="i/demo_images/showcase_8_foto9.jpg" class="width_full" alt="" />
			</a>
		</div>
	</div>
</section>
