
<!-- Feature 9 -->

<section class="feature_9 bg_white padding_top110 padding_bottom80">
	<div class="container nopadding">
		<h2 class="font42 font_second light dark_gray bottom20">Welcome Home Designers</h2>
		<div class="row justify-content-between">
			<div class="col-xl-8">
				<div class="top10 font18 light dark_blue text text1">
					We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
				</div>
			</div>
			<div class="col-xl-3 text-xl-right">
				<a href="#" class="btn green size60 padding_sides40 radius6">Purchase Now for $248</a>
			</div>
		</div>
		<div class="hr light_gray height1 top95 bottom85"></div>
		<div class="row">
			<div class="col-lg-3 bottom50 block">
				<div class="font22 light title">Build Quick</div>
				<div class="top20 font18 dark_blue light text">
					Get a beautiful site up and running in no time. Just choose Startup Framework you like and start tweaking it
				</div>
			</div>
			<div class="col-lg-3 bottom50 block">
				<div class="font22 light title">A Lot of blocks</div>
				<div class="top20 font18 dark_blue light text">
					Enjoy endless possibilities and results with many blocks to tinker and combine with.
				</div>
			</div>
			<div class="col-lg-3 bottom50 block">
				<div class="font22 light title">Fully Responsive</div>
				<div class="top20 font18 dark_blue light text">
					Your site will look great and work seamlessly across differences devices and platforms.
				</div>
			</div>
			<div class="col-lg-3 bottom50 block">
				<div class="font22 light title">Build Today</div>
				<div class="top20 font18 dark_blue light text">
					Transform your ideas into reality and launch a beautiful site with minimal frustration.
				</div>
			</div>
		</div>
	</div>
</section>
