
<!-- Feature 13 -->

<section class="feature_13 bg_white padding_top110 padding_bottom75">
	<div class="container nopadding max_width970">
		<h2 class="max_width770 margin_auto font28 light dark_gray text-center">
			Samples will show you the feeling on how to play around using the components in the website building process.
		</h2>
		<img srcset="i/feature_13_img.jpg 1x, i/feature_13_img_2x.jpg 2x" src="i/feature_13_img.jpg" class="top70 max_height_full max_width_full bg" alt="" />
		<div class="row top55 inner">
			<div class="col-md-6 bottom50 block">
				<div class="font18 semibold font_second dark_gray title">How Startup Framework works?</div>
				<div class="top20 font18 light dark_blue text">
					The Generator App is an online tool that helps you to export ready-made templates ready to work as your future website. It helps you to combine slides, panels and other components and export it as a set of static files: HTML/CSS/JS.
				</div>
				<a href="#" class="top35 btn size40 transparent_blue border border_blue font16 padding_sides25">View Tutorials</a>
			</div>
			<div class="col-md-6 bottom50 block">
				<div class="font18 semibold font_second dark_gray title">Do you provide hosting with Startup Framework?</div>
				<div class="top20 font18 light dark_blue text">
					No, hosting is on you. You upload the result on your hosting via FTP or using other tools you like. You can use any server, just make sure it have a PHP installed in case if you need a contact form.
				</div>
				<a href="#" class="top35 btn size40 transparent_blue border border_blue font16 padding_sides25">Learn More</a>
			</div>
		</div>
	</div>
</section>
