
<!-- Feature 27 -->

<section class="feature_27 bg_dark_gray padding_top135">
	<div class="container nopadding">
		<h2 class="max_width770 margin_auto font42 font_second light white text-center">A high-quality solution for those who want a beautiful startup website quickly.</h2>
		<div class="margin_auto top25 max_width600 font18 light white opacity7 text-center hyphens text text1">
			Learn more about Startup in the light demo version. It has components from the full version, two great samples and documentation.
		</div>
		<div class="row top95 holder">
			<div class="col-lg-4 bottom50 text-center white block">
				<div class="max_width270 margin_auto inner">
					<div class="font14 uppercase semibold spacing15 title">Aligned to grid</div>
					<div class="top25 font18 light opacity7 text">
						All elements are made with <br />12-column grid alignment, which significantly simplifies the process.
					</div>
				</div>
			</div>
			<div class="col-lg-4 bottom50 text-center white block">
				<div class="max_width270 margin_auto inner">
					<div class="font14 uppercase semibold spacing15 title">Design to Layout</div>
					<div class="top25 font18 light opacity7 text">
						Draw your design in Photoshop and use layout tools to quickly animate your site.
					</div>
				</div>
			</div>
			<div class="col-lg-4 bottom50 text-center white block">
				<div class="max_width270 margin_auto inner">
					<div class="font14 uppercase semibold spacing15 title">Responsive Layout</div>
					<div class="top25 font18 light opacity7 text">
						Our layout works perfectly on any modern platform, including mobile. You don't need to create any extra code.
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<img srcset="i/feature_27_img.png 1x, i/feature_27_img_2x.png 2x" src="i/feature_27_img.png" class="top40 max_width_full bg" alt="" />	
		</div>
	</div>
</section>
