
<!-- Feature 7 -->

<section class="feature_7 bg_white padding_top110 padding_bottom60">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light dark_gray bottom85">Features of Startup Framework</h2>
		<div class="row">
			<div class="col-md-6 col-lg-5 bottom80 block">
				<img srcset="i/demo_images/feature_7_img1.jpg 1x, i/demo_images/feature_7_img1_2x.jpg 2x" src="i/demo_images/feature_7_img1.jpg" class="radius6" alt="" />
				<div class="top30 font28 light dark_gray title">Build Quick</div>
				<div class="top25 max_width350 font18 light dark_blue hyphens text">
					Get a beautiful site up and running in no time. Just choose slides you like and start <br />tweaking it.
				</div>
			</div>
			<div class="col-md-6 col-lg-5 bottom80 block">
				<img srcset="i/demo_images/feature_7_img2.jpg 1x, i/demo_images/feature_7_img2_2x.jpg 2x" src="i/demo_images/feature_7_img2.jpg" class="radius6" alt="" />
				<div class="top30 font28 light dark_gray title">Gorgeous Templates</div>
				<div class="top25 max_width350 font18 light dark_blue hyphens text">
					Built the website you love with 15 high-quality templates, each designed for a specific purpose.
				</div>
			</div>
			<div class="col-md-6 col-lg-5 bottom80 block">
				<img srcset="i/demo_images/feature_7_img3.jpg 1x, i/demo_images/feature_7_img3_2x.jpg 2x" src="i/demo_images/feature_7_img3.jpg" class="radius6" alt="" />
				<div class="top30 font28 light dark_gray title">Designed to Impress</div>
				<div class="top25 max_width350 font18 light dark_blue hyphens text">
					Carefully crafted precise design, with harmonious typography and perfect padding around every component.
				</div>
			</div>
			<div class="col-md-6 col-lg-5 bottom80 block">
				<img srcset="i/demo_images/feature_7_img4.jpg 1x, i/demo_images/feature_7_img4_2x.jpg 2x" src="i/demo_images/feature_7_img4.jpg" class="radius6" alt="" />
				<div class="top30 font28 light dark_gray title">Build the Site You Need</div>
				<div class="top25 max_width350 font18 light dark_blue hyphens text">
					Build different types of sites from landing pages to long-reads, portfolios to MVP pages.
				</div>
			</div>
		</div>
	</div>
</section>
