
<!-- Feature 12 -->

<section class="feature_12 padding_top120">
	<div class="container nopadding max_width970">
		<div class="text-center uppercase semibold font14 white spacing15">Easy-to-use</div>
		<h2 class="top30 font42 font_second light white text-center">Better Landing for Your Startup.</h2>
		<div class="max_width770 margin_auto top25 bottom85 font22 light white opacity7 text-center hyphens text text1">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="row">
			<div class="col-md-6 padding_left70 bottom50 block">
				<i class="fa fa-book font28 green float_left"></i>
				<div class="left45 inner">
					<div class="font28 light white title">User Guide</div>
					<div class="top20 font18 light white opacity7 text">
						You'll get a description of each component and learn how to connect and use them.
					</div>
				</div>
			</div>
			<div class="col-md-6 padding_left70 bottom50 block">
				<i class="fa fa-youtube-play font28 red float_left"></i>
				<div class="left45 inner">
					<div class="font28 light white title">Video Tutorials</div>
					<div class="top20 font18 light white opacity7 text">
						Video tutorials show you how to make a web site for your startup from design to code.
					</div>
				</div>
			</div>
		</div>
		<img srcset="i/feature_12_img.png 1x, i/feature_12_img_2x.png 2x" src="i/feature_12_img.png" class="top35 max_height_full max_width_full bg" alt="" />
	</div>
</section>
