
<!-- Feature 17 -->

<section class="feature_17 padding_top145 padding_bottom140">
	<div class="container nopadding max_width970">
		<div class="row">
			<div class="col-lg-6">
				<img srcset="i/feature_17_img.png 1x, i/feature_17_img_2x.png 2x" src="i/feature_17_img.png" class="max_width_full img" alt="" />							
			</div>
			<div class="col-lg-6">
				<h2 class="top50 font28 light white">
					Are you planning to update Startup? We are! Here is the <a href="#" class="link green">changelog</a> of changes we've made after the release. Thanks our clients who helped us to improve our product.
				</h2>
				<div class="top60 max_width370 block">
					<div class="font18 font_second semibold white title">Retina Ready</div>
					<div class="top15 font18 light white opacity7 text">
						Startup Framework works fine on devices supporting Retina Desplay. Feel the clarity!
					</div>
				</div>
				<div class="top65 max_width370 block">
					<div class="font18 font_second semibold white title">Responsive Layout</div>
					<div class="top15 font18 light white opacity7 text">
						Of course we haven't forgotten about the responsive layout. Full mobile support.
					</div>
				</div>
				<div class="top80 buttons">
					<a href="#" class="bottom20 btn blue size60 padding_sides30 font16"><i class="fa fa-apple right15"></i>Available on the App Store</a>
					<a href="#" class="btn transparent_white size60 padding_sides30 font16">Learn More <i class="fa fa-angle-right font18 line_height50 left10"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
