
<!-- Feature 16 -->

<section class="feature_16 bg_white padding_top115 padding_bottom40">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light dark_gray text-center">Better design for your content.</h2>
		<div class="max_width770 margin_auto top30 font18 light dark_blue text-center text">
			Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
		</div>
		<div class="text-center">
			<img srcset="i/feature_16_bg.jpg 1x, i/feature_16_bg_2x.jpg 2x" src="i/feature_16_bg.jpg" class="top70 bottom65 max_width_full bg" alt="" />
		</div>		
		<div class="row">
			<div class="col-md-6 bottom70 text-center block">
				<i class="fa fa-code font40 dark_gray"></i>
				<div class="top20 font18 font_second semibold dark_gray title">Retina Ready</div>
				<div class="top25 font18 light dark_blue text">
					Startup Framework works fine on devices supporting Retina Desplay. Feel the clarity!
				</div>
			</div>
			<div class="col-md-6 bottom70 text-center block">
				<i class="fa fa-star-o font40 dark_gray"></i>
				<div class="top20 font18 font_second semibold dark_gray title">Happy Customers</div>
				<div class="top25 font18 light dark_blue text">
					We're super proud to share the fact that Startup has a whopping 97% customer satisfaction rate.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 bottom70 text-center block">
				<i class="fa fa-keyboard-o font40 dark_gray"></i>
				<div class="top20 font18 font_second semibold dark_gray title">Feel Our Design</div>
				<div class="top25 font18 light dark_blue text">
					Samples will show you the feeling on how to play around using the components in the website building process.
				</div>
			</div>
			<div class="col-md-6 bottom70 text-center block">
				<i class="fa fa-link font40 dark_gray"></i>
				<div class="top20 font18 font_second semibold dark_gray title">Variety of Designs</div>
				<div class="top25 font18 light dark_blue text">
					You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.
				</div>
			</div>
		</div>
	</div>
</section>
