
<!-- Feature 18 -->

<section class="feature_18 bg_white padding_top95 padding_bottom70">
	<div class="container nopadding max_width970 text-center">
		<h2 class="font42 font_second light dark_gray">Multi Useful Components</h2>
		<div class="margin_auto top40 max_width770 font22 light dark_blue hyphens text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<a href="#" class="top50 btn transparent_red size40 radius6 border border_red semibold uppercase font12 spacing15 padding_sides25">Get Started</a>
		<img srcset="i/feature_18_img.jpg 1x, i/feature_18_img_2x.jpg 2x" src="i/feature_18_img.jpg" class="top60 max_width_full img" alt="" />							
	</div>
</section>
