
<!-- Navigation Mobile type 4 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type4">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	
	<div class="padding_top30 padding_bottom60 inner">
		<div class="max_width230 left40 font18 white slogan">
			With Startup, we don't make you start from an empty slate.
		</div>
		<a href="#" class="top20 left40 bottom40 btn size40 transparent_white border radius6 uppercase spacing15 font12 padding_sides20">Get Started</a>
		
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-asterisk font18 line_height70 right20"></i>Tour</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-briefcase font18 line_height70 right20"></i>Showcase</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-paint-brush font18 line_height70 right20"></i>Designers</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-coffee font18 line_height70 right20"></i>Teams</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-star font18 line_height70 right20"></i>About</a>
		<div class="hr height1 white opacity1"></div>
		<a href="#" class="left40 font_second font22 line_height70 link white"><i class="fa fa-question-circle font18 line_height70 right20"></i>Help</a>
		<div class="hr height1 white opacity1"></div>

		<div class="left40 top110 links">
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Privacy Policy</a></div>
			<div><a href="#" class="font12 semibold white link opacity3 uppercase spacing15 bottom20">Terms & conditions</a></div>
		</div>
	</div>
</div>

<!-- Header 6 -->

<header class="padding_top210 padding_bottom145 header_6">

	<!-- Navigation 12 -->

	<nav class="navigation_12 transparent padding_top30 padding_bottom30 top30">
		<div class="container nopadding clearfix">
			<div class="float_left line_height40">
				<div class="inline_block padding_right50 dropdown">
					<a href="#" class="link white dropdown-toggle" id="navigation_2_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
					<div class="bg_dark_gray dropdown-menu" aria-labelledby="navigation_2_dropdown">
						<div><a href="#" class="link white">Startup Framework 2</a></div>
						<div><a href="#" class="link white">Slides</a></div>
						<div><a href="#" class="link white">Qards</a></div>
					</div>
				</div>
				<a href="#" class="link white right30">Pricing</a>
				<a href="#" class="link white">Community</a>
			</div>
			<div class="nav_logo white line_height40"><b>Startup</b> Framework</div>
			<div class="float_right line_height40">
				<a href="#" class="link white right30">Login<a>
				<a href="#" class="btn size40 padding_left20 padding_right20 white radius6">Sign Up<a>
			</div>
		</div>
	</nav>

	<div class="container nopadding">
		<h1 class="white font_second light font62 text-center">A high-quality solution for <br />those who want a beautiful <br />startup website quickly.</h1>
		<a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&showinfo=0" target="_blank" class="btn red margin_auto top85 play_popup_video"><i class="fa fa-play"></i></a>
		<div class="max_width570 white font22 light text-center opacity7 margin_auto top80 text">
			We made it so beautiful and simple. It combines landings, pages, blogs and shop screens. It is definitely the tool you need in your collection!
		</div>
	</div>
</header>
