
<!-- Navigation Mobile type 3 -->

<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type3">
	<a class="close_menu white"><i class="fa fa-close"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 inner">
		<div class="profile">
			<img srcset="i/demo_images/team_5_foto2.jpg 1x, i/demo_images/team_5_foto2_2x.jpg 2x" src="i/demo_images/team_5_foto2.jpg" class="radius_full width60 float_left" alt="" />
			<div class="left80 clearfix">
				<div class="top10 font14 semibold white uppercase spacing15">Colin Timmons</div>
				<div class="font14 white opacity3">Front-end Developer</div>
			</div>
		</div>
		
		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Products</div>
		<div><a href="#" class="font18 link white bottom15">Domains</a></div>
		<div><a href="#" class="font18 link white bottom15">Websites</a></div>
		<div><a href="#" class="font18 link white bottom15">Online Stores</a></div>
		<div><a href="#" class="font18 link white bottom15">iOs Applications</a></div>

		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Company</div>
		<div><a href="#" class="font18 link white bottom15">About</a></div>
		<div><a href="#" class="font18 link white bottom15">Careers</a></div>
		<div><a href="#" class="font18 link white bottom15">Press & Media</a></div>
		<div><a href="#" class="font18 link white bottom15">Privacy Policy</a></div>
		
		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Help</div>
		<div><a href="#" class="font18 link white bottom15">Workshops</a></div>
		<div><a href="#" class="font18 link white bottom15">Support</a></div>
		<div><a href="#" class="font18 link white bottom15">F.A.Q.</a></div>
	</div>
</div>

<!-- Header 12 -->

<header class="header_12">

	<!-- Navigation 15 -->

	<nav class="navigation_15 transparent padding_top30 padding_bottom30 top30">
		<div class="container nopadding line_height40">
			<div class="row justify-content-between">
				<div class="col-lg-4 col-md-5 col-sm-6 left_block">
					<div class="right35 inline_block dropdown">
						<a href="#" class="link white" id="navigation_15_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars white"></i></a>
						<div class="bg_dark_gray dropdown-menu" aria-labelledby="navigation_15_dropdown">
							<div><a href="#" class="link white">Startup Framework 2</a></div>
							<div><a href="#" class="link white">Slides</a></div>
							<div><a href="#" class="link white">Qards</a></div>
						</div>
					</div>
					<div class="nav_logo inline_block white"><b>Startup</b> Framework</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 text-right right_block">
					<a href="#" class="float_right link white opacity2 search"><i class="fa fa-search"></i></a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding padding_bottom305">
		<img srcset="i/header_12_img.png 1x, i/header_12_img_2x.png 2x" src="i/header_12_img.png" class="top180 bg" alt="" />
		<div class="max_width570 padding_top350 inner">
			<h1 class="white font_second light font62">Beautiful Startup <br />Framework for <br />Website Landings</h1>
			<div class="white font22 light opacity7 top25 bottom80 text">
				A high-quality solution for those who want a beautiful <br />startup website quickly.
			</div>
			<a href="#" class="btn size60 red padding_sides35 right20"><i class="fa fa-apple right10"></i>Buy on App Store</a>
			<a href="#" class="btn size60 transparent_white border  padding_sides35">Learn More</a>
		</div>
	</div>
</header>
