html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
 }

.theBody {
  margin: 0px 0px 0px 0px;
}

.mainContainer {
  position: absolute; display:table; width: 100%; height: 100%; margin: 0px 0px 0px 0px; background-color: #3399cc;
}

.expandedContainer {
  display: table-cell; vertical-align: middle; width: 100%; height: 100%; text-align: center;
}

.mainContainer {
  margin-left: auto; margin-right: auto;
}

.textContainer {
  margin-left: auto; margin-right: auto;
}

.headerParagraph {
  font-size: 2.8vmax; font-family: 'Open Sans', sans-serif; color: #FFFFFF;
}

.underHeaderParagraph {
  font-size: 1.8vmax; font-family: 'Open Sans', sans-serif; color: #7BBAD8;
}

.textParagraphMobile {
  font-size: 1.0vmax; font-family: 'Open Sans', sans-serif;
}

.headerParagraphMobile {
  font-size: 1.4vmax; font-family: 'Open Sans', sans-serif; font-weight: bold;
}
