<!DOCTYPE html>
<html>
<head>
  <title>Messenger Sell - Improved online sales and customer care</title>
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body class="theBody">

<h2>Hey marketer there, this is of your interest!</h2>

<p>This is me: <a href="https://www.linkedin.com/in/franciscocarriedoscher/">Francisco Carriedo</a></p>

<p>Do you know about conversational commerce? And Messaging as a Platform (MaaP)?</p>

<p>You should, they are new trends and they are here to stay.</p>

<p>In short, people just prefer chat: already there, custom attention, immediacy, easier interface... Just think of this:</p>

<ul>
<li>My nephews (teenagers) love texting, but computers are for old people...</li>
<li>My generation (in my thirties) can use everything, but we want things now and we are getting tired of websites and apps...</li>
<li>My mother (in her seventies), is still scared by a computer, but she usually texts me on WhatsApp...</li>
</ul>

<p>We might be going to another .com moment, but .chat this time and much wider!</p>

<p>Currently, I am researching a new concept within these two areas. I would like to learn your insights as expert digital marketer or online business owner, through this survey (choose yours):</p>

<ul>
<li><strong>Marketers:</strong> https://goo.gl/sKjV4k</li>
<li><strong>Online business owners:</strong> https://goo.gl/yfUi8i</li>
</ul>

<p>Let me try to contribute back with my expertise about conversational commerce and MaaP, because you need then or might be needing them soon.</p>

<p>You can reach me out instantly at: <a href="http://www.MessengerSell.com/">MessengerSell.com</a> (right-bottom text bubble). Should you have questions, just text me there and I will be happy try and respond them!</p>

<p>Thanks in advance for your time!</p>

Francisco
</body>