
<!-- Footer 4 -->

<footer class="footer_4 bg_white padding_top65 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-xl-6 bottom20">
				<span class="font20 font_second dark_blue"><b>Startup</b> Framework</span>
				<span class="left20 font16 light medium_gray copyright">© 2017 Designmodo. All rights reserved.</span>
			</div>
			<div class="col-xl-6 bottom35 text-xl-right top5 links">
				<a href="#" class="font16 link dark_blue left35">Portfolio</a>
				<a href="#" class="font16 link dark_blue left35">How it Works</a>
				<a href="#" class="font16 link dark_blue left35">Pricing</a>
				<a href="#" class="font16 link dark_blue left35">About</a>
				<a href="#" class="font16 link dark_blue left35">Login</a>		
			</div>
		</div>
		<div class="bottom40 hr height1 light_gray"></div>
		<div class="max_width870 bottom15 float_left font16 light medium_gray footer_text">
			Startup Framework contains components and complex blocks which can easily be integrated into almost any design.
		</div>
		<div class="float_right socials">
			<a href="#" class="font18 link medium_gray left30"><i class="fa fa-twitter"></i></a>
			<a href="#" class="font18 link medium_gray left30"><i class="fa fa-facebook-square"></i></a>
			<a href="#" class="font18 link medium_gray left30"><i class="fa fa-google-plus"></i></a>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
