
<!-- Footer 6 -->

<footer class="footer_6 bg_white padding_top90 padding_bottom40">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 dark_gray title">About</div>
				<div class="bottom20"><a href="#" class="font16 link blue">Features</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Templates</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Integrations</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Team</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 dark_gray title">Help</div>
				<div class="bottom20"><a href="#" class="font16 link blue">Support</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Help Center</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Contact Us</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 dark_gray title">Resources</div>
				<div class="bottom20"><a href="#" class="font16 link blue">Ebooks</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Infographics</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Tools</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Videos</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Podcasts</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 dark_gray title">Commercial</div>
				<div class="bottom20"><a href="#" class="font16 link blue">Why Lander</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Pricing</a></div>
				<div class="bottom20"><a href="#" class="font16 link blue">Custom Template</a></div>
			</div>
			
			<div class="col-lg-2"></div>
			
			<div class="col-lg-2 col-md-4 bottom50">
				<div class="socials">
					<div class="bottom30 font14 semibold uppercase spacing15 dark_gray title">Stay Tuned</div>
					<a href="#" class="font18 link dark_blue right30"><i class="fa fa-twitter"></i></a>
					<a href="#" class="font18 link dark_blue right30"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="font18 link dark_blue"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</div>
		<div class="top20 bottom70 hr height1 light_gray"></div>
		<div class="row">
			<div class="col-lg-3 bottom50">
				<div class="font20 line_height20 font_second dark_blue"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-3 bottom50">
				<div class="bottom25 font14 semibold uppercase spacing15 dark_gray title">Address</div>
				<div class="font16 light dark_blue text">
					San Francisco, CA<br /> 560 Bush St & 20th Ave, Apt<br /> +1 555 687 12 54
				</div>
			</div>
			<div class="col-lg-3 bottom50">
				<div class="bottom25 font14 semibold uppercase spacing15 dark_gray title">Try Rapture for Free</div>
				<div class="font16 light dark_blue text">
					Start a 14 Day Free Trial on any of our paid plans. No credit card required.
				</div>
			</div>
			<div class="col-lg-3 bottom50 clearfix">
				<a href="#" class="float_right btn size50 blue radius6 padding_sides35 font16 footer_6_btn">Get Started</a>
			</div>
		</div>
	</div>
</footer>
