
<!-- Footer 3 -->

<footer class="footer_3 bg_white padding_top100 padding_bottom50">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-4 col-md-12 bottom50">
				<div class="font20 font_second dark_blue"><b>Startup</b> Framework</div>
				<div class="top30 max_width170 font16 light medium_gray text_block">
					Be sure to take a look at our <a href="#" class="link medium_gray underline">Terms of Use</a> and <a href="#" class="link medium_gray underline">Privacy Policy</a>
				</div>
				<div class="top40 socials">
					<a href="#" class="font18 link dark_blue right30"><i class="fa fa-twitter"></i></a>
					<a href="#" class="font18 link dark_blue right30"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="font18 link dark_blue right30"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title">Product</div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Features</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Pricing</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Tour</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title">Work</div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Our Portfolio</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Lastest Work</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Brands</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title">Stuff</div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Privacy</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Support</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Help Desk</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">FAQ</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title">About</div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">About Us</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Blog</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Team</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Career</a></div>
				<div class="bottom10"><a href="#" class="font16 light link dark_blue">Contact</a></div>
			</div>
		</div>
	</div>
</footer>
