
<!-- Contact 3 -->

<section class="contact_3 padding_top110 padding_bottom125">
	<div class="container nopadding max_width770 white text-center">
		<h2 class="font42 font_second light">Drop Us a Line</h2>
		<div class="top30 font22 light opacity7 hyphens text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<form action="form-handler.php" method="post" class="top70">
			<div class="row">
				<div class="col-md-5">
					<div class="relative">
						<input type="text" name="name" placeholder="Your name" class="bottom30 input width_full size60 border border_transparent_white focus_white radius6 padding_sides20 input_left" onkeyup='validateInput($(this),2);' />
						<i class="fa fa-check font14 line_height60 green opacity0 absolute is_valid_icon"></i>
					</div>
					<div class="relative">
						<input type="email" name="email" placeholder="Your e-mail" class="bottom30 input width_full size60 border border_transparent_white focus_white radius6 padding_sides20 input_left" onkeyup='validateInput($(this),7,"email");' />
						<i class="fa fa-check font14 line_height60 green opacity0 absolute is_valid_icon"></i>
					</div>
				</div>
				<div class="col-md-7">
					<textarea name="message" placeholder="Tell us about your next project" class="input size60 border border_transparent_white focus_white radius6 width_full padding_sides20"></textarea>				
				</div>
			</div>
			<button class="top30 min_width170 btn size60 blue padding_sides25">Let's Talk</button>
		</form>
	</div>
</section>
