
<!-- Contact 8 -->

<section class="contact_8 bg_sand padding_top120 padding_bottom130 relative">
	<div class="left700 absolute height_full google_map" 
				 data-marker="i/map-pin-red.png"
				 data-marker-size="30*40"
				 data-coords="41.922496, 12.501173"
				 data-zoom="18"
				 ></div>
	<div class="container nopadding dark_gray">
		<div class="max_width470 inner">
			<div class="font20"><b>Startup</b> Framework</div>
			<div class="top10 bottom125 font22 font_second light text">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<div class="bottom5 font14 semibold uppercase spacing20 opacity3">E-mail</div>
			<a href="mailto:info@designmodo.com" class="bottom40 font42 light link dark_gray text_big">info@designmodo.com</a>
			<div class="bottom5 font14 semibold uppercase spacing20 opacity3">Phone</div>
			<a href="tel:+15555055050" class="bottom40 font42 light link dark_gray text_big">+1 555 505 5050</a>
			<div class="bottom5 font14 semibold uppercase spacing20 opacity3">Address</div>
			<div class="font42 light text_big">62 West 55th Street, Suite 302 New York, NY, 10230</div>
		</div>
	</div>
</section>
