
<!-- Contact 7 -->

<section class="contact_7 bg_white padding_bottom45">
	<div class="width_full height300 google_map" 
				 data-marker="i/map-pin-red.png"
				 data-marker-size="30*40"
				 data-coords="41.922496, 12.501173"
				 data-zoom="18"
				 ></div>
	<div class="container nopadding padding_top100 max_width970 dark_blue">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="bottom50 max_width470 block_left">
					<h2 class="font42 font_second light dark_gray">Drop Us a Line</h2>
					<div class="top20 font18 light text">
						We are always looking for a next great project.
					</div>
					<form action="form-handler.php" method="post" class="top30 max_width370">
						<div class="bottom35">
							<div class="bottom10 font14 semibold uppercase spacing20 text_left">E-mail</div>
							<input type="email" name="email" placeholder="Your e-mail" class="input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
						</div>
						<div class="bottom10 font14 semibold uppercase spacing20 text_left">Message</div>
						<textarea name="message" placeholder="Drop us a line" class="bottom35 height170 input border border_light_gray focus_green radius6 width_full padding_sides20"></textarea>				
						<div class="bottom35 float_left input_block">
							<div class="bottom10 font14 semibold uppercase spacing20 text_left">Name</div>
							<input type="text" name="name" placeholder="Your name" class="input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
						</div>
						<button class="top35 float_right min_width70 btn size50 green font16 radius6"><i class="fa fa-paper-plane"></i></button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="max_width470 block_right">
					<h2 class="font42 font_second light dark_gray">Get in Touch</h2>
					<div class="top20 font18 light text">
						We appreciate each customer and we are proud that 60% of clients come back to work with us again.
					</div>
					<a href="tel:+15555055050" class="top40 link dark_blue font_second font18 semibold"><i class="fa fa-phone right15"></i>+1 555 505 5050</a>
					<div class="clearfix"></div>
					<a href="mailto:info@designmodo.com" class="top10 link dark_blue font_second font18 semibold"><i class="fa fa-envelope right15"></i>info@designmodo.com</a>
					<div class="top50 hr width_full height1 light_gray"></div>
					<div class="top40 bottom25 font28 font_second light dark_gray">We are on Socials</div>
					<div class="float_left width200 block_links">
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-facebook-official width20 right15"></i>Facebook</a>
						<div class="clearfix"></div>
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-twitter width20 right15"></i>Twitter</a>
						<div class="clearfix"></div>
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-pinterest width20 right15"></i>Pinterest</a>
					</div>
					<div class="float_left width200 block_links">
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-dribbble width20 right15"></i>Dribbble</a>
						<div class="clearfix"></div>
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-behance width20 right15"></i>Behance</a>
						<div class="clearfix"></div>
						<a href="#" target="_blank" class="bottom10 font18 light link medium_gray"><i class="fa fa-linkedin width20 right15"></i>LinkedIn</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
