
<!-- Contact 10 -->

<section class="contact_10 bg_white padding_top125 padding_bottom105">
	<div class="container nopadding max_width970 dark_gray text-center">
		<img srcset="i/contact_10_logo.png 1x, i/contact_10_logo_2x.png 2x" src="i/contact_10_logo.png" class="logo" alt="" />
		<div class="top145 bottom200 font62 light text">
			For any questions please mail us: 
			<div>
				<a href="mailto:info@designmodo.com" class="link blue">info@designmodo.com</a>
			</div>
		</div>
		<div class="social_links">
			<a href="#" target="_blank" class="bottom20 font22 link light_gray sides30"><i class="fa fa-facebook-official"></i></a>
			<a href="#" target="_blank" class="bottom20 font22 link light_gray sides30"><i class="fa fa-behance"></i></a>
			<a href="#" target="_blank" class="bottom20 font22 link light_gray sides30"><i class="fa fa-pinterest"></i></a>
			<a href="#" target="_blank" class="bottom20 font22 link light_gray sides30"><i class="fa fa-dribbble"></i></a>
			<a href="#" target="_blank" class="bottom20 font22 link light_gray sides30"><i class="fa fa-twitter"></i></a>
		</div>
	</div>
</section>
