
<!-- Contact 2 -->

<section class="contact_2 bg_white padding_top90 padding_bottom70">
	<div class="container nopadding max_width970 dark_blue text-center">
		<div class="font14 semibold uppercase spacing20 dark_gray opacity3">Get Started</div>
		<h2 class="top20 font42 font_second light">Get in Touch with Us</h2>
		<form action="form-handler.php" method="post" class="max_width570 margin_auto top40">
			<textarea name="message" placeholder="Tell us about your project" class="bottom30 input size60 border border_light_gray focus_green radius6 width_full padding_sides20"></textarea>
			<input type="email" name="email" placeholder="yourname@mail.com" class="float_left input width470 size60 border border_light_gray focus_green radius6 padding_sides20 input_left" />
			<button class="float_right width70 btn size60 green font16 radius6"><i class="fa fa-paper-plane"></i></button>
			<div class="clearfix"></div>
		</form>
		<div class="row top85">
			<div class="col-md-4 bottom50">
				<div class="font_second semibold font18 dark_gray title">New York, NY</div>
				<div class="max_width270 margin_auto top10 font16 light text">
					62 West 55th Street, Suite 302 New <br />York, NY, 10230
				</div>
			</div>
			<div class="col-md-4 bottom50">
				<div class="font_second semibold font18 dark_gray title">San Francisco, CA</div>
				<div class="max_width270 margin_auto top10 font16 light text">
					560 Judah St & 15th Ave, Apt. 5 San <br />Francisco, CA, 230903
				</div>
			</div>
			<div class="col-md-4 bottom50">
				<div class="font_second semibold font18 dark_gray title">Dubai</div>
				<div class="max_width270 margin_auto top10 font16 light text">
					U237-02, Gold Tower, Jumeirah Lakes <br />Towers, Dubai, UAE
				</div>
			</div>
		</div>
	</div>
</section>
