
<!-- Content 18 -->

<section class="content_18 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding max_width970">
		<div class="row justify-content-between">
			<div class="col-lg-9">
				<div class="max_width670 opening_tabs">
					<h3 class="font_second font18 semibold black padding_top25 tab_opener opened">Easy to Use<i class="fa left10"></i></h3>
					<div class="top25 tab_text">
						<div class="light font18 dark_blue padding_bottom35">
							Startup Framework contains components and complex blocks which can easily be integrated into any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
						</div>
					</div>
					<h3 class="font_second font18 semibold black padding_top25 tab_opener">Variety of Designs<i class="fa left10"></i></h3>
					<div class="top25 tab_text">
						<div class="light font18 dark_blue padding_bottom35">
							Startup Framework contains components and complex blocks which can easily be integrated into any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
						</div>
					</div>
					<h3 class="font_second font18 semibold black padding_top25 tab_opener">Feel our Design<i class="fa left10"></i></h3>
					<div class="top25 tab_text">
						<div class="light font18 dark_blue padding_bottom35">
							Startup Framework contains components and complex blocks which can easily be integrated into any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="width170 top30 left50 block_right">
					<div class="dark_blue semibold uppercase font14 spacing15">Have a Questions?</div>
					<div class="blue light font18 top20">
						<div>Startup Framework includes great form options for your startup projects.</div>
						<a href="#" class="padding_sides20 top20 btn transparent_blue size50 border border_blue radius6 semibold uppercase spacing15 font14">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
