
<!-- Content 5 -->

<section class="content_5 padding_top120 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width770 margin_auto text-center white inner">
			<div class="font14 semibold uppercase spacing15 pretitle">Free Sample</div>
			<h2 class="top30 font_second light font62">Demo Version of Startup Framework</h2>
			<div class="font18 light opacity7 top40 text">
				Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
			</div>
		</div>
	</div>
</section>
