
<!-- Content 31 -->

<section class="content_31 bg_white padding_top90 padding_bottom110">
	<div class="container nopadding">
		<h2 class="font_second light font42 dark_gray text-center">What people say about us</h2>
		<div class="top50 slider arrows0 dots_dark_blue dots-50">
			<div>
				<div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
					<img srcset="i/demo_images/content_31_foto.jpg 1x, i/demo_images/content_31_foto_2x.jpg 2x" src="i/demo_images/content_31_foto.jpg" class="width70 height70 radius_full float_left top5" alt="" />
					<div class="left100 inner">
						<div class="font22 light dark_blue text">
							It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
						</div>
						<div class="top30">Timothy Nathan</div>
						<div class="dark_blue opacity3">Apple</div>
					</div>
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
					<img srcset="i/demo_images/content_30_foto4.jpg 1x, i/demo_images/content_30_foto4_2x.jpg 2x" src="i/demo_images/content_30_foto4.jpg" class="width70 height70 radius_full float_left top5" alt="" />
					<div class="left100 inner">
						<div class="font22 light dark_blue text">
							It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
						</div>
						<div class="top30">Timothy Nathan</div>
						<div class="dark_blue opacity3">Apple</div>
					</div>
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
					<img srcset="i/demo_images/content_31_foto.jpg 1x, i/demo_images/content_31_foto_2x.jpg 2x" src="i/demo_images/content_31_foto.jpg" class="width70 height70 radius_full float_left top5" alt="" />
					<div class="left100 inner">
						<div class="font22 light dark_blue text">
							It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
						</div>
						<div class="top30">Timothy Nathan</div>
						<div class="dark_blue opacity3">Apple</div>
					</div>
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
					<img srcset="i/demo_images/content_30_foto4.jpg 1x, i/demo_images/content_30_foto4_2x.jpg 2x" src="i/demo_images/content_30_foto4.jpg" class="width70 height70 radius_full float_left top5" alt="" />
					<div class="left100 inner">
						<div class="font22 light dark_blue text">
							It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
						</div>
						<div class="top30">Timothy Nathan</div>
						<div class="dark_blue opacity3">Apple</div>
					</div>
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
					<img srcset="i/demo_images/content_31_foto.jpg 1x, i/demo_images/content_31_foto_2x.jpg 2x" src="i/demo_images/content_31_foto.jpg" class="width70 height70 radius_full float_left top5" alt="" />
					<div class="left100 inner">
						<div class="font22 light dark_blue text">
							It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
						</div>
						<div class="top30">Timothy Nathan</div>
						<div class="dark_blue opacity3">Apple</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
