
<!-- Content 7 -->

<section class="content_7 bg_dark_gray padding_top90 padding_bottom95">
	<div class="container nopadding">
		<div class="max_width770 margin_auto text-center white inner">
			<div class="font14 semibold uppercase spacing15 opacity7 pretitle">Updates</div>
			<div class="font28 font_second light top30 text">
				Are you planning to update Startup? We are! Here is the <a href="#" class="link green">changelog</a> of changes we've made after the release. Thanks our clients who helped us to improve our product.
			</div>
		</div>
	</div>
</section>
