
<!-- Content 14 -->

<section class="content_14 padding_top100 padding_bottom100">
	<div class="container nopadding">
		<div class="max_width770 margin_auto radius8 padding_top70 padding_bottom70 text-center white inner">
			<h2 class="max_width570 margin_auto font_second light font42">Samples of Startup</h2>
			<div class="max_width570 margin_auto top20 font22 light opacity7 text">
				The most important part of the Startup Framework are the samples or Bootstrap themes and templates. The samples consist of a set of few pages you can use «as is» or add new blocks from UI Kit. 
			</div>
		</div>
	</div>
</section>
