
<!-- Content 36 -->

<section class="content_36 bg_white padding_top100 padding_bottom100">
	<div class="container nopadding">
		<div class="max_width770 margin_auto text-center">
			<h2 class="font_second light font42 dark_gray">Trusted by over 500 great businesses</h2>
			<div class="top30 font18 light dark_gray text">Startup Framework includes great form options for your startup projects. Each component is coded for web which makes creating a website quick and easy.</div>
		</div>
		<div class="top70 flex justify_between">
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo1.png 1x, i/demo_images/content_36_logo1_2x.png 2x" src="i/demo_images/content_36_logo1.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo2.png 1x, i/demo_images/content_36_logo2_2x.png 2x" src="i/demo_images/content_36_logo2.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo3.png 1x, i/demo_images/content_36_logo3_2x.png 2x" src="i/demo_images/content_36_logo3.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo4.png 1x, i/demo_images/content_36_logo4_2x.png 2x" src="i/demo_images/content_36_logo4.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo5.png 1x, i/demo_images/content_36_logo5_2x.png 2x" src="i/demo_images/content_36_logo5.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo6.png 1x, i/demo_images/content_36_logo6_2x.png 2x" src="i/demo_images/content_36_logo6.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo7.png 1x, i/demo_images/content_36_logo7_2x.png 2x" src="i/demo_images/content_36_logo7.png" alt="" />
			</div>
			<div class="bottom30 width270 height160 flex justify_center align_center radius6 block">
				<img srcset="i/demo_images/content_36_logo8.png 1x, i/demo_images/content_36_logo8_2x.png 2x" src="i/demo_images/content_36_logo8.png" alt="" />
			</div>
		</div>
	</div>
</section>
