
<!-- Content 34 -->

<section class="content_34 bg_sand padding_top90 padding_bottom90">
	<div class="container nopadding">
		<div class="text-center font14 uppercase semibold dark_blue spacing20">Our Clients</div>
		<h2 class="light dark_gray font28 text-center max_width570 margin_auto top20">Folks at these awesome companies are already using Startup Framework</h2>
		<div class="flex justify_center margin_auto top80 max_width1030">
			<div class="margin_auto bottom30 width200 text-center">
				<img srcset="i/demo_images/content_34_logo1.png 1x, i/demo_images/content_34_logo1_2x.png 2x" src="i/demo_images/content_34_logo1.png" class="max_width_full" alt="" />
			</div>
			<div class="margin_auto bottom30 width200 text-center">
				<img srcset="i/demo_images/content_34_logo2.png 1x, i/demo_images/content_34_logo2_2x.png 2x" src="i/demo_images/content_34_logo2.png" class="max_width_full" alt="" />
			</div>
			<div class="margin_auto bottom30 width200 text-center">
				<img srcset="i/demo_images/content_34_logo3.png 1x, i/demo_images/content_34_logo3_2x.png 2x" src="i/demo_images/content_34_logo3.png" class="max_width_full" alt="" />
			</div>
			<div class="margin_auto bottom30 width200 text-center">
				<img srcset="i/demo_images/content_34_logo4.png 1x, i/demo_images/content_34_logo4_2x.png 2x" src="i/demo_images/content_34_logo4.png" class="max_width_full" alt="" />
			</div>
			<div class="margin_auto bottom30 width200 text-center">
				<img srcset="i/demo_images/content_34_logo5.png 1x, i/demo_images/content_34_logo5_2x.png 2x" src="i/demo_images/content_34_logo5.png" class="max_width_full" alt="" />
			</div>	
		</div>
	</div>
</section>
