
<!-- Content 10 -->

<section class="content_10 bg_white padding_top90 padding_bottom80">
	<div class="container nopadding">
		<div class="row flex-row-reverse">
			<div class="col-lg-4">
				<div class="font28 font_second light dark_blue bottom20 right_block">
					A high-quality solution for those who want a beautiful startup website quickly.
				</div>
			</div>
			<div class="col-lg-7">
				<div class="max_width600 font18 dark_blue light hyphens left_block">
					Learn more about Startup Framework in the light demo version. It has components from the full version, two great samples and documentation. You can also find two images of a Macbook and an iPad, which you can use in your projects. We hope you will like this introduction to Startup Framework!
				</div>
			</div>
		</div>
	</div>
</section>
