
<!-- Content 15 -->

<section class="content_15 padding_top700 padding_bottom165">
	<div class="container nopadding">
		<div class="white light max_width570 inner">
			<h2 class="light font62 font_second">Get Some Fresh Air</h2>
			<div class="font22 opacity7 top35 text">
				The most important part of the Startup Framework are the samples or Bootstrap themes and templates. The samples consist of a set of few pages you can use «as is» or add new blocks from UI Kit. 
			</div>
		</div>
	</div>
</section>
