
<!-- Content 40 -->

<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>

<section class="content_40 bg_white padding_top90 padding_bottom110">
	<div class="container nopadding padding_left100">
		<h2 class="font_second light font42 dark_gray bottom50">How We Did It</h2>
		<div class="float_left max_width770 block_left">
			<div class="padding_sides30 padding_top30 padding_bottom30 radius10" id="copy_from_me"><div class="overflow">&lt;head&gt;<br />
<div class="padding_left10">&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;<br /></div>
<div class="padding_left10">&lt;title&gt;Startup Framework&lt;/title&gt;<br /></div>
<div class="padding_left10">&lt;link rel="stylesheet" type="text/css" href="style/style.css" /&gt;<br /></div>
<div class="padding_left10">&lt;link rel="alternate" type="application/rss+xml" title=”Startup Framework” href="/rss.xml" /&gt;<br /></div>
<div class="padding_left10">&lt;link rel="search" type="application/opensearchdescription+xml" title=”Search” href="/sites/search/search.xml"  /&gt;<br /></div>
<div class="padding_left10">&lt;link rel="shortcut icon" href="/favicon.ico" /&gt;<br /></div>
&lt;/head&gt;</div>
			</div>
			<button data-clipboard-target="#copy_from_me" class="top20 float_right btn blue size50 padding_sides20 radius6 copy_btn">Copy</button>
			<div class="clearfix"></div>
		</div>
		<div class="top30 float_right width270 padding_sides25 block_right">
			<div class="dark_gray font18 semibold"><i class="fa fa-file-code-o font20 right10"></i>Great Code</div>
			<div class="top10 dark_blue light font18 text">You’ll get a description <br />of each component and learn how to connect <br />and use them.</div>
		</div>
	</div>
</section>
