
<!-- Content 13 -->

<section class="content_13 bg_white padding_top40 padding_bottom40">
	<div class="container nopadding max_width970">
		<div class="radius8 padding_top60 padding_bottom60 text-center inner">
			<h2 class="max_width570 margin_auto font_second light font28">Beautiful Framework</h2>
			<div class="max_width570 margin_auto top25 font18 light dark_blue text">
				Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
			</div>
		</div>
	</div>
</section>
