
<!-- Content 30 -->

<section class="content_30 bg_white padding_top100 padding_bottom70">
	<div class="container nopadding">
		<div class="flex justify_between">
			<div class="max_width570 margin_auto bottom30 padding_sides40 padding_top40 padding_bottom30 radius8 block">
				<img srcset="i/demo_images/content_30_foto1.jpg 1x, i/demo_images/content_30_foto1_2x.jpg 2x" src="i/demo_images/content_30_foto1.jpg" class="width70 height70 radius_full float_left top5" alt="" />
				<div class="left100 inner">
					<div class="font18 light dark_blue text">
						"Extremely easy to use, helped us develop our Vote for George Washington micro-site extre- mely quickly! We will definitely use it again for other projects."
					</div>
					<div class="top25 font14 semibold uppercase dark_blue spacing15">Jasmine Andrews</div>
					<div class="top5 font14 dark_blue opacity3">Microsoft</div>
				</div>
			</div>
			<div class="max_width570 margin_auto bottom30 padding_sides40 padding_top40 padding_bottom30 radius8 block">
				<img srcset="i/demo_images/content_30_foto2.jpg 1x, i/demo_images/content_30_foto2_2x.jpg 2x" src="i/demo_images/content_30_foto2.jpg" class="width70 height70 radius_full float_left top5" alt="" />
				<div class="left100 inner">
					<div class="font18 light dark_blue text">
						"Worth every penny, if you have basic HTML knowledge. It helped us get an exceptional landing page up and running in no time."
					</div>
					<div class="top25 font14 semibold uppercase dark_blue spacing15">Austin Campbell</div>
					<div class="top5 font14 dark_blue opacity3">Dropbox</div>
				</div>
			</div>
			<div class="max_width570 margin_auto bottom30 padding_sides40 padding_top40 padding_bottom30 radius8 block">
				<img srcset="i/demo_images/content_30_foto3.jpg 1x, i/demo_images/content_30_foto3_2x.jpg 2x" src="i/demo_images/content_30_foto3.jpg" class="width70 height70 radius_full float_left top5" alt="" />
				<div class="left100 inner">
					<div class="font18 light dark_blue text">
						"I've built my website with Startup just in one day, and it was ready-to-go. Code is clean and simple, easy to use by people with almost any level of programming skills."
					</div>
					<div class="top25 font14 semibold uppercase dark_blue spacing15">Jennifer Otis</div>
					<div class="top5 font14 dark_blue opacity3">Xcode</div>
				</div>
			</div>
			<div class="max_width570 margin_auto bottom30 padding_sides40 padding_top40 padding_bottom30 radius8 block">
				<img srcset="i/demo_images/content_30_foto4.jpg 1x, i/demo_images/content_30_foto4_2x.jpg 2x" src="i/demo_images/content_30_foto4.jpg" class="width70 height70 radius_full float_left top5" alt="" />
				<div class="left100 inner">
					<div class="font18 light dark_blue text">
						As a business targeting high net worth individuals, we were looking for a slick, cool and minimalistic design for our website. The Slides framework checked all of those boxes and was quick, easy-to-use to get up and running in a short time
					</div>
					<div class="top25 font14 semibold uppercase dark_blue spacing15">Audrey Turner</div>
					<div class="top5 font14 dark_blue opacity3">Apple</div>
				</div>
			</div>
		</div>
	</div>
</section>
