
<!-- Call to Action 14 -->

<section class="call_to_action_14 bg_white padding_top90 padding_bottom75">
	<div class="container nopadding max_width970 dark_gray text-center">
		<h2 class="font42 font_second light">Create Something Awesome</h2>
		<div class="max_width770 margin_auto top35 font18 light dark_blue text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="row top70 inner">
			<div class="col-md-6 block_right_border">
				<div class="width370 bottom50 block">
					<i class="fa fa-dropbox font62 dropbox_color"></i>
					<div class="top20 font28 font_second light title">Connect with Dropbox</div>
					<div class="margin_auto top10 max_width270 font18 light dark_blue text">
						Generate leads and sales with our effective call-to-action blocks from buttons to testimonials to forms.
					</div>
					<a href="#" class="top40 btn transparent_blue size40 font12 semibold uppercase spacing15 padding_sides20 radius6 border border_blue">Get Started</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row justify-content-center justify-content-md-end">
					<div class="col-auto">
						<div class="width370 bottom50 block">
							<i class="fa fa-github-alt font62"></i>
							<div class="top20 font28 font_second light title">Connect with GitHub</div>
							<div class="margin_auto top10 max_width270 font18 light dark_blue text">
								Carefully crafted precise design, with harmonious typography and perfect padding around every component.
							</div>
							<a href="#" class="top40 btn transparent_blue size40 font12 semibold uppercase spacing15 padding_sides20 radius6 border border_blue">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
