
<!-- Call to Action 6 -->

<section class="call_to_action_6 padding_top90 padding_bottom90">
	<div class="container nopadding text-center white height_full">
		<div class="flex align_center height_full">
			<div class="margin_auto font28 light font_second line_height70 text">
				How it Works?
				<a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&showinfo=0" target="_blank" class="sides75 btn red play_popup_video"><i class="fa fa-play"></i></a>
				Watch Our Video
			</div>
		</div>
	</div>
</section>
