
<!-- Call to Action 10 -->

<section class="call_to_action_10 bg_white padding_top90 padding_bottom70">
	<div class="container nopadding text-center dark_gray">
		<div class="font14 semibold uppercase spacing20 dark_blue text">Get Started</div>
		<h2 class="top30 font42 font_second light">Better landing for your startup.</h2>
		<div class="max_width870 margin_auto top50 inner">
			<div class="row">
				<div class="col-md-4 block bottom50">
					<i class="fa fa-play font62 light_gray"></i>
					<div class="top25 font28 font_second light title">Google Play</div>
					<a href="#" class="top40 btn size40 transparent_blue border border_blue radius6 font12 semibold uppercase spacing15 padding_sides20">Download</a>					
				</div>
				<div class="col-md-4 block bottom50">
					<i class="fa fa-apple font62 light_gray"></i>
					<div class="top25 font28 font_second light title">App Store</div>
					<a href="#" class="top40 btn size40 transparent_blue border border_blue radius6 font12 semibold uppercase spacing15 padding_sides20">Download</a>					
				</div>
				<div class="col-md-4 block bottom50">
					<i class="fa fa-windows font62 light_gray"></i>
					<div class="top25 font28 font_second light title">Windows Store</div>
					<a href="#" class="top40 btn size40 transparent_blue border border_blue radius6 font12 semibold uppercase spacing15 padding_sides20">Download</a>					
				</div>
			</div>
		</div>
	</div>
</section>
