
<!-- Call to Action 1 -->

<section class="call_to_action_1 bg_light_blue padding_top110 padding_bottom90">
	<div class="container nopadding text-center">
		<h2 class="font62 font_second light dark_gray">Get Startup Framework</h2>
		<div class="max_width570 margin_auto top20 font22 light dark_blue text text1">
			Startup Framework contains components and complex blocks which can easily be integrated into any design.
		</div>
		<a href="#" class="top60 btn size80 red padding_sides70">Purchase for $249</a>
		<div class="top30 dark_blue opacity7 text text2">Commercial License</div>
	</div>
</section>
