
<!-- Call to Action 9 -->

<section class="call_to_action_9 bg_dark_gray padding_top110">
	<div class="container nopadding text-center white">
		<h2 class="max_width570 margin_auto font42 font_second light">The Second Sneak-Peek of Startup Framework</h2>
		<div>
			<a href="#" class="top50 btn size60 white padding_sides35"><span class="dark_gray"><i class="fa fa-apple right10"></i>Buy on App Store</span></a>
		</div>
		<img srcset="i/call_to_action_9_bg.jpg 1x, i/call_to_action_9_bg_2x.jpg 2x" src="i/call_to_action_9_bg.jpg" class="max_width_full margin_auto top60 img" alt="" />
	</div>
</section>
