
<!-- Call to Action 21 -->

<section class="call_to_action_21 bg_black relative padding_top170 padding_bottom75">

	<div class="bg_video">
		<!-- Use this code to set youtube video in background. 
		Don't forget to set video aspect ratio. Ratio can be set as original size of video, e.g. 1280:720 -->
		<script src="https://www.youtube.com/iframe_api"></script>
		<div class="youtube_video opacity7" id="call_to_action_21_bg_video" data-videoId="qIKzGESwsNk" data-ratio="2.4:1"></div>
		
		<!-- Use this code to set .mp4 video from your server in background. -->
		<!--
		<video autoplay loop mute class="opacity7">
			<source src="video/video1.mp4" type="video/mp4">
		</video>
		-->
	</div>

	<div class="container nopadding white text-center">
		<h2 class="font_second light font62">Easy to setup. <br />Easy to maintain.</h2>
		<div class="max_width570 margin_auto top35 font22 light opacity7 text">
			Bootstrap is a widely-used, sleek, intuitive and powerful front-end framework for faster and easier web development.
		</div>
		<div class="top65 bottom120 buttons">
			<a href="https://www.youtube.com/watch?v=nPuEU16P3zg" target="_blank" class="btn width70 height70 white font20 line_height70 radius_full"><i class="fa fa-play left5 dark_gray"></i></a>
			<a href="#" class="left30 btn blue size70 font16 padding_sides40">Get Started for Free</a>
		</div>
		<a href="#" class="link white font20 next">
			<i class="fa fa-angle-down"></i>
			<i class="fa fa-angle-down"></i>
			<i class="fa fa-angle-down"></i>
		</a>
	</div>
</section>
