
<!-- Call to Action 15 -->

<section class="call_to_action_15 bg_white padding_top70 padding_bottom70">
	<div class="container nopadding max_width970 dark_gray text-center">
		<div class="padding_sides30 padding_top65 padding_bottom75 radius10 inner">
			<i class="fa fa-slack font62 medium_gray"></i>
			<h2 class="top20 font28 font_second light">Connect with Slack</h2>
			<div class="max_width500 margin_auto top15 font18 light dark_blue text">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<a href="#" class="top50 btn transparent_blue size40 font12 semibold uppercase spacing15 padding_sides20 radius6 border border_blue">Get Started</a>
		</div>
	</div>
</section>
