
<!-- Call to Action 19 -->

<section class="call_to_action_19 bg_white text-center">
	<div class="height320 flex inner">
		<a href="#" class="link light_gray height_full flex justify_center align_center block border_right">
			<i class="fa fa-twitter font62"></i>
		</a>	
		<a href="#" class="link light_gray height_full flex justify_center align_center block border_right">
			<i class="fa fa-facebook-square font62"></i>
		</a>	
		<a href="#" class="link light_gray height_full flex justify_center align_center block border_right">
			<i class="fa fa-instagram font62"></i>
		</a>	
		<a href="#" class="link light_gray height_full flex justify_center align_center block border_right">
			<i class="fa fa-behance font62"></i>
		</a>	
		<a href="#" class="link light_gray height_full flex justify_center align_center block">
			<i class="fa fa-dribbble font62"></i>
		</a>
	</div>
</section>
