
<!-- Call to Action 5 -->

<section class="call_to_action_5 padding_top535 padding_bottom505">
	<div class="container nopadding text-center white height_full">
		<div class="flex align_center height_full">
			<div class="margin_auto font28 font_second light line_height70 text">
				Startup Framework
				<a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&showinfo=0" target="_blank" class="sides75 btn white play_popup_video"><i class="fa fa-play"></i></a>
				Suit Up Your Startup
			</div>
		</div>
	</div>
</section>
