
<!-- Call to Action 13 -->

<section class="call_to_action_13 bg_blue padding_top85 padding_bottom80">
	<div class="container nopadding max_width970">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<h2 class="font28 font_second light white">A high-quality solution for those who want a beautiful startup website quickly.</h2>
			</div>
			<div class="col-lg-6 text-lg-right text-center buttons">
				<a href="#" class="btn white size50 padding_sides35 radius6 sides25"><span class="blue">Get Started</span></a>
				<a href="#" class="btn transparent_white size50 padding_sides25 radius6 border border_white">Learn More</a>
			</div>
		</div>
	</div>
</section>
