
<!-- Call to Action 20 -->

<section class="call_to_action_20 bg_white padding_top70 padding_bottom50">
	<div class="container nopadding text-center">
		<a href="#" class="width110 btn size50 twitter_color sides15 bottom20"><i class="fa fa-twitter right10"></i>124</a>
		<a href="#" class="width110 btn size50 facebook_color sides15 bottom20"><i class="fa fa-facebook-square right10"></i>315</a>
		<a href="#" class="width110 btn size50 transparent_blue border border_blue sides15 bottom20"><i class="fa fa-heart right10"></i>841</a>
	</div>
</section>
