
<!-- Call to Action 8 -->

<section class="call_to_action_8 padding_top110 padding_bottom105">
	<div class="container nopadding text-center white">
		<img srcset="i/call_to_action_8_logo.png 1x, i/call_to_action_8_logo_2x.png 2x" src="i/call_to_action_8_logo.png" alt="" />
		<h2 class="top30 font28 light font_second"><b>Startup</b> Framework</h2>
		<div class="max_width570 margin_auto top45 font22 light text">
			Startup Framework gives you complete freedom over your creative process &mdash; you don't have to think about any technical aspects.
		</div>
		<a href="#"><img srcset="i/demo_images/header_20_btn.png 1x, i/demo_images/header_20_btn_2x.png 2x" src="i/demo_images/header_20_btn.png" alt="" class="top50" /></a>
	</div>
</section>
