
<!-- Call to Action 3 -->

<section class="call_to_action_3 bg_white padding_top40 padding_bottom40">
	<div class="container nopadding max_width970 text-center">
		<div class="padding_sides50 padding_top80 padding_bottom85 radius10 white bg_dark_gray inner">
			<div class="font14 semibold uppercase spacing15">Get Started</div>
			<h2 class="top20 font42 font_second light">Create your next project with <br />Startup Framework</h2>
			<a href="#" class="top50 btn size60 white padding_sides30">Purchase for $249</a>
		</div>
	</div>
</section>
