<!-- Team 2 -->

<section class="team_2 padding_top100 padding_bottom135">
	<div class="container nopadding text-center white">
		<h2 class="font42 font_second light">Our Crew</h2>
		<div class="max_width770 margin_auto top35 font22 light hyphens text">
			Samples will show you the feeling on how to play around using the components in the website building process.
		</div>
		<div class="margin_auto top60 radius10 inner">
			<div class="row">
				<div class="col-md-4 padding_top65 padding_bottom65 block">
					<img srcset="i/demo_images/team_2_foto1.jpg 1x, i/demo_images/team_2_foto1_2x.jpg 2x" src="i/demo_images/team_2_foto1.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Samantha Gimson</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-facebook-square"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
				<div class="col-md-4 padding_top65 padding_bottom65 block bordered">
					<img srcset="i/demo_images/team_2_foto2.jpg 1x, i/demo_images/team_2_foto2_2x.jpg 2x" src="i/demo_images/team_2_foto2.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Evan Barrington</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-facebook-square"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-behance"></i></a>
					</div>
				</div>
				<div class="col-md-4 padding_top65 padding_bottom65 block">
					<img srcset="i/demo_images/team_2_foto3.jpg 1x, i/demo_images/team_2_foto3_2x.jpg 2x" src="i/demo_images/team_2_foto3.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Brian Oakman</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fa fa-git"></i></a>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="top50 btn size50 transparent_green border border_green padding_left30 padding_right25">View our Crew <i class="fa fa-angle-right left10"></i></a>		
	</div>
</section>
