
<!-- Team 4 -->

<section class="team_4 bg_white padding_top110 padding_bottom120">
	<div class="container nopadding text-center dark_gray">
		<h2 class="font42 font_second light">Great crew of Startup Framework</h2>
		<div class="margin_auto top65 flex justify_between inner">
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto1.jpg 1x, i/demo_images/team_4_foto1_2x.jpg 2x" src="i/demo_images/team_4_foto1.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">Nicole Fisher</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Product manager</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto2.jpg 1x, i/demo_images/team_4_foto2_2x.jpg 2x" src="i/demo_images/team_4_foto2.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">Megan Douglas</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Ceo</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto3.jpg 1x, i/demo_images/team_4_foto3_2x.jpg 2x" src="i/demo_images/team_4_foto3.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">John Carrington</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Developer</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto4.jpg 1x, i/demo_images/team_4_foto4_2x.jpg 2x" src="i/demo_images/team_4_foto4.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">Trinity Sherlock</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Designer</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto5.jpg 1x, i/demo_images/team_4_foto5_2x.jpg 2x" src="i/demo_images/team_4_foto5.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">Jake Cramer</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Writer</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
			<a href="#" class="width370 margin_auto bottom80 block">
				<img srcset="i/demo_images/team_4_foto6.jpg 1x, i/demo_images/team_4_foto6_2x.jpg 2x" src="i/demo_images/team_4_foto6.jpg" class="radius8" alt="" />
				<div class="top25 font28 light title">Brandon Coleman</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue">Writer</div>
				<div class="margin_auto top20 max_width270 font18 light dark_blue text">
					Designer who makes easy to change and easy to create new elements.
				</div>
			</a>
		</div>	
		<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides25">Start Work with Us</a>
	</div>
</section>
