
<!-- Team 5 -->

<section class="team_5 bg_dark_gray padding_top100 padding_bottom50">
	<div class="container nopadding white">
		<div class="max_width970">
			<h2 class="font42 font_second light">Startup Crew</h2>
			<div class="top25 max_width770 font22 light opacity7 text">
				The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit.
			</div>
			<div class="top60 row inner">
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto1.jpg 1x, i/demo_images/team_5_foto1_2x.jpg 2x" src="i/demo_images/team_5_foto1.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Leah Salomon</div>
							<div class="top10 font18 light">UI Designer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-facebook-square"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-dribbble"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto2.jpg 1x, i/demo_images/team_5_foto2_2x.jpg 2x" src="i/demo_images/team_5_foto2.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Colin Timmons</div>
							<div class="top10 font18 light">UX Designer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto3.jpg 1x, i/demo_images/team_5_foto3_2x.jpg 2x" src="i/demo_images/team_5_foto3.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Miguel Osborne</div>
							<div class="top10 font18 light">Front-end Developer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-skype"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-medium"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-git"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto4.jpg 1x, i/demo_images/team_5_foto4_2x.jpg 2x" src="i/demo_images/team_5_foto4.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Taylor Simon</div>
							<div class="top10 font18 light">Product Manager</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto5.jpg 1x, i/demo_images/team_5_foto5_2x.jpg 2x" src="i/demo_images/team_5_foto5.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Steven MacAlister</div>
							<div class="top10 font18 light">Copyrighter</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
