<!DOCTYPE html>
<html>
<head>
  <title>Messenger Sell - Improved online sales and customer care</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body class="theBody">

  <div class="mainContainer">
    <div class="expandedContainer">
      <div class="mainImageContainer">
        <img src="images/messengersell_web.png" style="height: 30vmax" />
      </div>
      <div class="textContainer">
        <p class="headerParagraph">Helping to improve sales and customer care!</p>
        <p class="underHeaderParagraph">Got an online shop? Want to sell more?</p>
        <p><input id="waitintListEmail" type="text" value="Enter your email here" onclick="this.value=''" /><input type="button" value="join the waiting list" onclick="mailToWaitingList()"></p>
        <div id="toggle"></div>
        <!-- Load Facebook SDK for JavaScript -->
        <div class="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Like and share button -->
        <div class="fb-like" data-href="https://www.facebook.com/MessengerSell-178191642990959/" data-width="100px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

        <!-- Your customer chat code -->
        <div id="facebookChat" class="fb-customerchat"
          page_id="178191642990959"
          theme_color="#3399cc"
          logged_in_greeting="Hey! Talk live with us to start selling more right now!"
          logged_out_greeting="Log in on Facebook to talk right now!"> 
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
function mailToWaitingList() {
  $.get("/waitinglist?" + $("waitintListEmail"), function(data) {
    alert(JSON.stringify(data));
  });
}
</script>
</body>
</html>
