<!DOCTYPE html>
<html>
<head>
  <title>Messenger Sell - Improved online sales and customer care</title>
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body class="theBody">

  <div class="mainContainer">
    <div class="expandedContainer">
      <div class="mainImageContainer">
        <img src="images/messengersell_web.png" style="height: 30vmax" />
      </div>
      <div class="textContainer">
        <p class="headerParagraph">Helping to improve sales and customer care...</p>
        <p style="color: #7BBAD8; font-size: 2vm">Got an online shop? Want to sell more? Let's talk! Use the bottom-right button...</p>
        <!-- Load Facebook SDK for JavaScript -->
        <div class="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Like and share button -->
        <div class="fb-like" data-href="https://www.facebook.com/MessengerSell-178191642990959/" data-width="100px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

        <!-- Your customer chat code -->
        <div id="facebookChat" class="fb-customerchat"
          page_id="178191642990959"
          theme_color="#3399cc"> 
        </div>
      </div>
    </div>
  </div>

</body>
</html>
