<!DOCTYPE html>
<html>
<head>
  <title>Messenger Sell - Improved online sales and customer care</title>
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '168955410436620');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=168955410436620&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code --> 
</head>

<body class="theBody">
  <!-- Facebook Pixel view content event -->
  <script>
    fbq('track', 'ViewContent');
  </script>

  <div class="mainContainer">
    <div class="expandedContainer">
      <div class="mainImageContainer">
        <img src="images/messengersellLogo_money_right.png" style="height: 30vmax" />
      </div>
      <div class="textContainer">
        <p class="headerParagraph">Helping to improve sales and customer care!</p>
        <p class="underHeaderParagraph">Got an online shop? Want to sell more?</p>

        <!--<p><input id="waitingListEmail" type="text" value="Enter your email here" onclick="this.value=''" /><input type="button" value="Get early access" onclick="mailToWaitingList()"></p>-->
        
        <!-- Load Facebook SDK for JavaScript -->
        <div class="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Like and share button -->
        <div class="fb-like" data-href="https://www.facebook.com/MessengerSell-178191642990959/" data-width="100px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

        <!-- Your customer chat code -->
        <div id="facebookChat" class="fb-customerchat"
          page_id="178191642990959"
          theme_color="#3399cc"
          logged_in_greeting="Hey! Talk live with us to start selling more right now!"
          logged_out_greeting="Log in on Facebook to talk right now!"> 
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
function mailToWaitingList() {
  $.get("/waitinglist?waitingListEmail=" + document.getElementById('waitingListEmail').value, function(data) {
    alert(JSON.stringify(data));
  });
}
</script>
</body>
</html>
