<!-- Team 3 -->

<section class="team_3 bg_white padding_top100 padding_bottom70">
	<div class="container nopadding text-center dark_gray">
		<h2 class="max_width570 margin_auto font42 font_second light">Startup Framework Team. <br />Better crew for your startup.</h2>
		<div class="margin_auto top70 flex justify_between inner">
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto1.jpg 1x, i/demo_images/team_3_foto1_2x.jpg 2x" src="i/demo_images/team_3_foto1.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Xavier Oswald</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">co-founder, developer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto2.jpg 1x, i/demo_images/team_3_foto2_2x.jpg 2x" src="i/demo_images/team_3_foto2.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Sara Creighton</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Co-founder, developer </div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto3.jpg 1x, i/demo_images/team_3_foto3_2x.jpg 2x" src="i/demo_images/team_3_foto3.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Brandon Ogden</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Project manager</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto4.jpg 1x, i/demo_images/team_3_foto4_2x.jpg 2x" src="i/demo_images/team_3_foto4.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Allison Gardner</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Senior UI Designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto5.jpg 1x, i/demo_images/team_3_foto5_2x.jpg 2x" src="i/demo_images/team_3_foto5.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Zachary Wainwright</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Ui designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto6.jpg 1x, i/demo_images/team_3_foto6_2x.jpg 2x" src="i/demo_images/team_3_foto6.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Trinity Page</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Ux designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto7.jpg 1x, i/demo_images/team_3_foto7_2x.jpg 2x" src="i/demo_images/team_3_foto7.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Avery Keat</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Office Manager</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto8.jpg 1x, i/demo_images/team_3_foto8_2x.jpg 2x" src="i/demo_images/team_3_foto8.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Brandon Wayne</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Front-end Developer</div>
			</a>
		</div>	
	</div>
</section>
