<!-- Team 1 -->

<section class="team_1 bg_white padding_top100 padding_bottom45">
	<div class="container nopadding text-center dark_gray">
		<h2 class="font42 font_second light">Our Awesome Team</h2>
		<div class="max_width770 margin_auto top35 font22 light dark_blue hyphens text">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<a href="#" class="top55 btn size40 font12 semibold uppercase spacing10 red padding_sides35">Enjoy our team</a>
		<div class="top65 flex justify_between inner">
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img srcset="i/demo_images/team_1_foto1.jpg 1x, i/demo_images/team_1_foto1_2x.jpg 2x" src="i/demo_images/team_1_foto1.jpg" class="radius_full" alt="" />
				<div class="top25 font22 light title">Vanessa Laird</div>
				<div class="top15 font12 semibold uppercase spacing10 dark_blue">UI Designer</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-facebook-square"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img srcset="i/demo_images/team_1_foto2.jpg 1x, i/demo_images/team_1_foto2_2x.jpg 2x" src="i/demo_images/team_1_foto2.jpg" class="radius_full" alt="" />
				<div class="top25 font22 light title">Mason Campbell</div>
				<div class="top15 font12 semibold uppercase spacing10 dark_blue">UX Designer</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-facebook-square"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img srcset="i/demo_images/team_1_foto3.jpg 1x, i/demo_images/team_1_foto3_2x.jpg 2x" src="i/demo_images/team_1_foto3.jpg" class="radius_full" alt="" />
				<div class="top25 font22 light title">Irea Evans</div>
				<div class="top15 font12 semibold uppercase spacing10 dark_blue">Client Manager</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-facebook-square"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
