
<!-- Footer 12 -->

<footer class="footer_12 bg_dark_gray padding_top80 padding_bottom55">
	<div class="container nopadding">
		<div class="links text-center">
			<a href="#" class="font22 light link white sides15">Portfolio</a>
			<a href="#" class="font22 light link white sides15">How it Works</a>
			<a href="#" class="font22 light link white sides15">Pricing</a>
			<a href="#" class="font22 light link white sides15">About</a>
			<a href="#" class="font22 light link white sides15">Contacts</a>
		</div>
		<div class="top65 font16 light white opacity3 text-center text">
			© 2017 Designmodo. All rights reserved.
		</div>
	</div>
</footer>
