
<!-- Footer 13 -->

<footer class="footer_13 bg_dark_gray padding_top50 padding_bottom20">
	<div class="container nopadding">
		<div class="footer_links">
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Tour</a>
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Features</a>
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Pricing Plans</a>
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Our Works</a>
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Brands</a>
			<a href="#" class="font14 semibold uppercase spacing15 link white right30">Contacts</a>
		</div>
		<div class="top45 bottom40 hr height1 white opacity1"></div>
		<div class="row">
			<div class="col-lg-7 bottom40 block_left">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="bottom10 font20 font_second white footer_logo"><b>Startup</b> Framework</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="top5 light white opacity3 text">
							Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 text-center text-lg-right block_right">
				<a href="#" class="font14 semibold uppercase spacing15 link white left25">Privacy Policy</a>
				<a href="#" class="font14 semibold uppercase spacing15 link white left25">Terms</a>
				<span class="socials">
					<a href="#" class="link white left25"><i class="fa fa-twitter"></i></a>
					<a href="#" class="link white left25"><i class="fa fa-facebook"></i></a>
					<a href="#" class="link white left25"><i class="fa fa-google-plus"></i></a>
				</span>
			</div>
		</div>
	</div>
</footer>
