
<!-- Footer 11 -->

<footer class="footer_11 bg_dark_gray padding_top45 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-4 bottom20 block_left">
				<div class="font20 font_second white"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-8 bottom40 text-center text-lg-right block_right">
				<a href="#" class="light link white">Privacy Policy</a>
				<a href="#" class="light link white left25">Terms</a>
				<span class="socials">
					<a href="#" class="link white left25"><i class="fa fa-twitter"></i></a>
					<a href="#" class="link white left25"><i class="fa fa-facebook"></i></a>
					<a href="#" class="link white left25"><i class="fa fa-google-plus"></i></a>
				</span>
			</div>
		</div>
		<div class="top5 bottom45 hr height1 white opacity1"></div>
		<div class="row">
			<div class="col-lg-8 bottom20 block_left2">
				<a href="#" class="light link white right25">Tour</a>
				<a href="#" class="light link white right25">Features</a>
				<a href="#" class="light link white right25">Pricing Plans</a>
				<a href="#" class="light link white right25">Our Works</a>
				<a href="#" class="light link white right25">Brands</a>
				<a href="#" class="light link white">Contacts</a>
			</div>
			<div class="col-lg-4 text-center text-lg-right block_right2">
				<div class="light white opacity3 text">
					© 2017 Designmodo. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>
