
<!-- Footer 7 -->

<footer class="footer_7 bg_white padding_top55 padding_bottom60">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="top5 block block_left text-center text-md-right text-lg-left">
				<a href="#" class="font14 semibold uppercase spacing15 link dark_blue right30">Home</a>
				<a href="#" class="font14 semibold uppercase spacing15 link dark_blue right30">Company</a>
				<a href="#" class="font14 semibold uppercase spacing15 link dark_blue right30">How it Works</a>
			</div>
			<div class="block block_center text-center">
				<img srcset="i/footer_7_logo.png 1x, i/footer_7_logo_2x.png 2x" src="i/footer_7_logo.png" alt="" class="logo" />
			</div>
			<div class="top5 block block_right text-center text-md-left text-lg-right">
				<a href="#" class="font14 semibold uppercase spacing15 link dark_blue left30">Pricing</a>
				<a href="#" class="font14 semibold uppercase spacing15 link dark_blue left30">About</a>
				<span class="socials">
					<a href="#" class="font18 line_height24 semibold uppercase spacing15 link dark_blue left30"><i class="fa fa-dribbble"></i></a>
					<a href="#" class="font18 line_height24 semibold uppercase spacing15 link dark_blue left30"><i class="fa fa-behance-square"></i></a>
				</span>
			</div>
		</div>
	</div>
</footer>
