
<!-- Footer 1 -->

<footer class="footer_1 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="block block_left text-right text-lg-left">
				<a href="#" class="font12 semibold uppercase spacing15 link dark_blue right30">About</a>
				<a href="#" class="font12 semibold uppercase spacing15 link dark_blue right30">Policy</a>
				<a href="#" class="font12 semibold uppercase spacing15 link dark_blue right30">Terms</a>
			</div>
			<div class="block block_center text-center">
				<div class="font20 font_second dark_blue"><b>Startup</b> Framework</div>
			</div>
			<div class="block block_right text-left text-lg-right">
				<a href="#" class="font12 semibold uppercase spacing15 link dark_blue left30">Contacts</a>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fa fa-twitter"></i></a>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fa fa-facebook-square"></i></a>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
		<div class="margin_auto top20 max_width370 font16 light medium_gray text-center">
			Be sure to take a look at our <a href="#" class="link medium_gray underline">Terms of Use</a> and <a href="#" class="link medium_gray underline">Privacy Policy</a>
		</div>
	</div>
</footer>
