
<!-- Footer 8 -->

<footer class="footer_8 bg_dark_gray padding_top40 padding_bottom20">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="bottom30 block block_left text-center text-lg-left">
				<div class="top10 font20 font_second white"><b>Startup</b> Framework</div>
			</div>
			<div class="top10 bottom30 block block_center text-center">
				<a href="#" class="font12 uppercase spacing15 link white sides15">Tools</a>
				<a href="#" class="font12 uppercase spacing15 link white sides15">FAQ</a>
				<a href="#" class="font12 uppercase spacing15 link white sides15">Privacy</a>
				<a href="#" class="font12 uppercase spacing15 link white sides15">Terms & Conditions</a>
				<a href="#" class="font12 uppercase spacing15 link white sides15">Contact</a>
			</div>
			<div class="block block_right text-center text-lg-right">
				<a href="#" class="inline_block width50 height50 radius_full link white text-center left10"><i class="fa fa-twitter line_height50"></i></a>
				<a href="#" class="inline_block width50 height50 radius_full link white text-center left10"><i class="fa fa-facebook line_height50"></i></a>
				<a href="#" class="inline_block width50 height50 radius_full link white text-center left10"><i class="fa fa-google-plus line_height50"></i></a>
			</div>
		</div>
	</div>
</footer>
