
<!-- Footer 10 -->

<footer class="footer_10 bg_dark_gray padding_top95 padding_bottom85">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-4 col-md-12 bottom50">
				<div class="font22 font_second white"><b>Startup</b> Framework</div>
				<div class="top30 max_width170 font16 light white opacity7 text_block">
					Be sure to take a look at our <a href="#" class="link white underline">Terms of Use</a> and <a href="#" class="link white underline">Privacy Policy</a>
				</div>
				<div class="top40 socials">
					<a href="#" class="font18 link white right30"><i class="fa fa-twitter"></i></a>
					<a href="#" class="font18 link white right30"><i class="fa fa-facebook-square"></i></a>
					<a href="#" class="font18 link white right30"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font22 font_second light white title">Product</div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Features</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Pricing</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Tour</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font22 font_second light white title">Work</div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Our Portfolio</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Lastest Work</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Brands</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
				<div class="bottom30 font22 font_second light white title">Stuff</div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Privacy</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Support</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">Help Desk</a></div>
				<div class="bottom10"><a href="#" class="font16 light link white opacity7">FAQ</a></div>
			</div>
			<div class="col-lg-2 col-md-3 col-6 bottom50">
			<i class="fa fa-flag font18 line_height36 white"></i>
				<div class="top5 left5 inline_block dropdown">
					<a href="#" class="link white dropdown-toggle" id="footer_10_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</a>
					<div class="bg_dark_gray line_height36 dropdown-menu" aria-labelledby="footer_10_dropdown">
						<div><a href="#" class="link white">French</a></div>
						<div><a href="#" class="link white">Italian</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
