
<!-- Footer 2 -->

<footer class="footer_2 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding">
		<div class="links text-center">
			<a href="#" class="font18 light link dark_blue sides20">Portfolio</a>
			<a href="#" class="font18 light link dark_blue sides20">How it Works</a>
			<a href="#" class="font18 light link dark_blue sides20">Pricing</a>
			<a href="#" class="font18 light link dark_blue sides20">About</a>
			<a href="#" class="font18 light link dark_blue sides20">Contacts</a>
		</div>
		<div class="margin_auto top20 font16 light medium_gray text-center">
			Be sure to take a look at our <a href="#" class="link medium_gray underline">Terms of Use</a> and <a href="#" class="link medium_gray underline">Privacy Policy</a>
		</div>
	</div>
</footer>
