
<!-- Pricing Table 5 -->

<section class="pricing_table_5 bg_white padding_top90 padding_bottom60">
	<div class="container nopadding dark_blue text-center">
		<h2 class="max_width600 margin_auto font42 font_second light dark_gray">Simple & flexible pricing built for everyone</h2>
		<div class="max_width600 margin_auto top25 font18 light">
			Start with 14-day free trial. No credit card needed. Cancel at anytime.
		</div>
		<div class="row top65">
			<div class="col-lg-4 bottom70">
				<div class="max_width370 margin_auto radius10 padding_sides70 padding_top40 padding_bottom45 block">
					<div class="font14 semibold uppercase spacing15 title">Start</div>
					<div class="top30 inline_block font62 light text_left price clearfix">
						<span class="float_left font16">$</span>
						<span class="float_left">19</span>
						<span class="top10 left15 float_left font16">per user<br />per month</span>
					</div>
					<div class="top15">
						All the features you need to keep your personal files safe, accessible, and easy to share.
					</div>
				</div>
				<div class="width250 margin_auto top35 block2">
					<ul class="nopadding text_left">
						<li class="bottom10"><span class="opacity3">2 GB of hosting space</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">14 days of free backups</span> <i class="fa fa-times font14 red float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Social integrations</span> <i class="fa fa-times font14 red float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Advanced client billing</span> <i class="fa fa-times font14 red float_right"></i></li>
					</ul>
					<a href="#" class="top20 btn size50 width_full transparent_blue border border_blue radius6">Start Free Trial</a>
				</div>
			</div>
			<div class="col-lg-4 bottom70">
				<div class="max_width370 margin_auto radius10 padding_sides70 padding_top40 padding_bottom45 block block_dark white">
					<div class="font14 semibold uppercase spacing15 title">Advanced</div>
					<div class="top30 inline_block font62 light text_left price clearfix">
						<span class="float_left font16">$</span>
						<span class="float_left">49</span>
						<span class="top10 left15 float_left font16">per user<br />per month</span>
					</div>
					<div class="top15">
						More storage, sharing features, and controls to take your Start plan to the next level.
					</div>
				</div>
				<div class="width250 margin_auto top35 block2">
					<ul class="nopadding text_left">
						<li class="bottom10"><span class="opacity3">1 TB of hosting space</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">30 days of free backups</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Social integrations</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Advanced client billing</span> <i class="fa fa-times font14 red float_right"></i></li>
					</ul>
					<a href="#" class="top20 btn size50 width_full transparent_blue border border_blue radius6">Start Free Trial</a>
				</div>
			</div>
			<div class="col-lg-4 bottom70">
				<div class="max_width370 margin_auto radius10 padding_sides70 padding_top40 padding_bottom45 block">
					<div class="font14 semibold uppercase spacing15 title">Enterprise</div>
					<div class="top30 inline_block font62 light text_left price clearfix">
						<span class="float_left font16">$</span>
						<span class="float_left">99</span>
						<span class="top10 left15 float_left font16">per user<br />per month</span>
					</div>
					<div class="top15">
						All the features you need to keep your personal files safe, accessible, and easy to share.
					</div>
				</div>
				<div class="width250 margin_auto top35 block2">
					<ul class="nopadding text_left">
						<li class="bottom10"><span class="opacity3">2 TB of hosting space</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Unlimited backups</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Social integrations</span> <i class="fa fa-check font14 green float_right"></i></li>
						<li class="bottom10"><span class="opacity3">Advanced client billing</span> <i class="fa fa-check font14 green float_right"></i></li>
					</ul>
					<a href="#" class="top20 btn size50 width_full transparent_blue border border_blue radius6">Start Free Trial</a>
				</div>
			</div>
		</div>
	</div>
</section>
