<!-- Pricing Table 1 -->

<section class="pricing_table_1 bg_white padding_top100 padding_bottom110">
	<div class="container nopadding dark_blue text-center">
		<h2 class="font42 font_second light dark_gray">Pricing Plans</h2>
		<div class="max_width570 margin_auto top10 font18 light dark_blue text">
			Start with free trial. No credit card needed. Cancel at anytime.
		</div>
		<div class="row align-items-start top70 inner">
			<div class="col-lg-3 nopadding padding_top45 block noborder_right radius_top_left">
				<div class="font28 font_second light dark_gray title">Free</div>
				<div class="top5 subtitle">Forever Free</div>
				<div class="top40 font62 light dark_gray price"><span class="inline_block font16">$</span>0</div>
				<a href="#" class="top40 bottom50 btn size40 transparent_blue border border_blue radius6 padding_sides25">Get Started for Free</a>
				<div class="line_height58 item">1 GB of Space</div>
			</div>
			<div class="col-lg-3 nopadding padding_top45 block noborder_right">
				<div class="font28 font_second light dark_gray title">Starter</div>
				<div class="top5 subtitle">Perfect for Freelancers</div>
				<div class="top40 font62 light dark_gray price"><span class="inline_block font16">$</span>19</div>
				<a href="#" class="top40 bottom50 btn size40 transparent_blue border border_blue radius6 padding_sides25">Get Started</a>
				<div class="line_height58 item">10 GB of Space</div>
				<div class="line_height58 item">Unlimited Projects</div>
				<div class="line_height58 item">Unlimited Users</div>
			</div>
			<div class="col-lg-3 nopadding padding_top45 block noborder_right">
				<div class="font28 font_second light dark_gray title">Pro</div>
				<div class="top5 subtitle">Perfect for Small Team</div>
				<div class="top40 font62 light dark_gray price"><span class="inline_block font16">$</span>49</div>
				<a href="#" class="top40 bottom50 btn size40 transparent_blue border border_blue radius6 padding_sides25">Get Started</a>
				<div class="line_height58 item">100 GB of Space</div>
				<div class="line_height58 item">Unlimited Projects</div>
				<div class="line_height58 item">Unlimited Users</div>
				<div class="line_height58 item">Unlimited Dates</div>
			</div>
			<div class="col-lg-3 nopadding padding_top45 block radius_right">
				<div class="font28 font_second light dark_gray title">Premium</div>
				<div class="top5 subtitle">Forever Free</div>
				<div class="top40 font62 light dark_gray price"><span class="inline_block font16">$</span>149</div>
				<a href="#" class="top40 bottom50 btn size40 transparent_blue border border_blue radius6 padding_sides25">Go Premium</a>
				<div class="line_height58 item">As Much Space as Needed</div>
				<div class="line_height58 item">Unlimited Projects</div>
				<div class="line_height58 item">Unlimited Users</div>
				<div class="line_height58 item">Unlimited Dates</div>
				<div class="line_height58 item">Unlimited File Recovery</div>
			</div>
		</div>
	</div>
</section>
