
<!-- Pricing Table 4 -->

<section class="pricing_table_4 padding_top120 padding_bottom70">
	<div class="container nopadding white">
		<h2 class="font42 font_second light text-center">Plans & Pricing</h2>
		<div class="max_width570 margin_auto top25 font18 light opacity7 text-center">
			Startup Framework is free forever — you only pay for custom domain hosting or to export your site.
		</div>
		<div class="row top55 inner">
			<div class="col-lg-4">
				<div class="max_width370 margin_auto bottom70 padding_sides70 padding_top60 padding_bottom55 radius10 block">
					<div class="font28 light title">Starter</div>
					<div class="top20 font62 light price">9.99<span class="left10 inline_block font16">$</span></div>
					<ul class="top40 nopadding">
						<li class="bottom10">2 GB of space</li>
						<li class="bottom10">14 days of backups</li>
						<li class="bottom10">Social integrations</li>
						<li class="bottom10">Client billing</li>
						<li class="bottom10 opacity7 disabled">Remote access</li>
						<li class="bottom10 opacity7 disabled">Custom domain</li>
						<li class="bottom10 opacity7 disabled">24 hours support</li>
						<li class="bottom10 opacity7 disabled">Admin tools</li>
						<li class="bottom10 opacity7 disabled">Collaboration tools</li>
						<li class="bottom10 opacity7 disabled">User management</li>
					</ul>
					<a href="#" class="top25 width_full btn size60 transparent_green border border_green radius6">Get Started</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="max_width370 margin_auto bottom70 padding_sides70 padding_top60 padding_bottom55 radius10 block">
					<div class="font28 light title">Professional</div>
					<div class="top20 font62 light price">19.99<span class="left10 inline_block font16">$</span></div>
					<ul class="top40 nopadding">
						<li class="bottom10">2 GB of space</li>
						<li class="bottom10">14 days of backups</li>
						<li class="bottom10">Social integrations</li>
						<li class="bottom10">Client billing</li>
						<li class="bottom10">Remote access</li>
						<li class="bottom10">Custom domain</li>
						<li class="bottom10">24 hours support</li>
						<li class="bottom10 opacity7 disabled">Admin tools</li>
						<li class="bottom10 opacity7 disabled">Collaboration tools</li>
						<li class="bottom10 opacity7 disabled">User management</li>
					</ul>
					<a href="#" class="top25 width_full btn size60 transparent_green border border_green radius6">Get Started</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="max_width370 margin_auto bottom70 padding_sides70 padding_top60 padding_bottom55 radius10 block">
					<div class="font28 light title">Team</div>
					<div class="top20 font62 light price">49.99<span class="left10 inline_block font16">$</span></div>
					<ul class="top40 nopadding">
						<li class="bottom10">2 GB of space</li>
						<li class="bottom10">14 days of backups</li>
						<li class="bottom10">Social integrations</li>
						<li class="bottom10">Client billing</li>
						<li class="bottom10">Remote access</li>
						<li class="bottom10">Custom domain</li>
						<li class="bottom10">24 hours support</li>
						<li class="bottom10">Admin tools</li>
						<li class="bottom10">Collaboration tools</li>
						<li class="bottom10">User management</li>
					</ul>
					<a href="#" class="top25 width_full btn size60 transparent_green border border_green radius6">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>
