
<!-- Form 9 -->

<section class="form_9 bg_white padding_top95 padding_bottom85">
	<div class="container nopadding max_width970">
		<div class="row flex-row-reverse justify-content-between">
			<div class="col-lg-4">
				<img srcset="i/form_9_img.png 1x, i/form_9_img_2x.png 2x" src="i/form_9_img.png" class="max_width270 img" alt="" />	
			</div>
			<div class="col-lg-7">
				<div class="top10 max_width570 block_left">
					<h2 class="font42 font_second light dark_gray">Demo Version</h2>
					<div class="top20 font18 ligt dark_blue hyphens text">
						Learn more about Startup Framework in the light demo version. It has components from the full version, two great samples and documentation. You can also find two images of a Macbook and an iPad, which you can use in your projects.
					</div>
					<form action="form-handler.php" method="post" class="top65 flex justify_between">
						<input type="email" name="email" placeholder="Your e-mail" class="bottom30 width370 input size60 border border_light_gray focus_green radius6 padding_sides20" />
						<button class="width170 btn size60 green radius6">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
