
<!-- Form 2 -->

<section class="bg_white form_2">
	<div class="container nopadding padding_top150 padding_bottom155 max_width970">
		<img srcset="i/form_2_bg.jpg 1x, i/form_2_bg_2x.jpg 2x" src="i/form_2_bg.jpg" class="absolute left700 height_full bg" alt="" />	
		<form action="form-handler.php" method="post" class="max_width470">
			<h2 class="bottom45 font42 font_second light dark_gray">Sign Up to Discover Startup Features</h2>
			<div class="bottom10 font14 semibold dark_blue uppercase spacing20">Name</div>
			<input type="text" name="name" placeholder="Your name" class="bottom25 input size60 border border_light_gray focus_blue radius6 width_full padding_sides20" />
			<div class="bottom10 font14 semibold dark_blue uppercase spacing20">E-mail</div>
			<input type="email" name="email" placeholder="Your e-mail" class="bottom25 input size60 border border_light_gray focus_blue radius6 width_full padding_sides20" />
			<div class="bottom10 font14 semibold dark_blue uppercase spacing20">Password</div>
			<input type="password" name="password" placeholder="Your password" class="bottom25 input size60 border border_light_gray focus_blue radius6 width_full padding_sides20" />
			<div class="top30 buttons">
				<button class="btn size60 blue min_width210 font16 float_left">Create an Account</button>
				<div class="top5 float_left max_width220 left40 dark_blue info">
					By signing up you agree to <a href="#" class="link blue underline">Our Terms</a> and <a href="#" class="link blue underline">Privacy Policy</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</section>
