
<!-- Form 10 -->

<section class="form_10 bg_blue padding_top100 padding_bottom90">
	<div class="container nopadding text-center">
		<div class="max_width570 margin_auto white inner">
			<div class="font40">
				<i class="fa fa-font sides25"></i>
				<i class="fa fa-heart sides25"></i>
				<i class="fa fa-envelope-o sides25"></i>
			</div>
			<h2 class="top40 font42 font_second light">Don't Miss the New Fonts!</h2>
			<div class="top20 font18 light opacity7 text">
				Enter your email to recive daily round-up of most submissions 
			</div>
			<form action="form-handler.php" method="post">
				<div class="top60 flex justify_between">
					<input type="email" name="email" placeholder="Type your e-mail" class="bottom30 width400 input size60 white border border_white radius6 padding_sides20" />
					<button class="btn size60 white radius6 min_width170">Subscribe</button>
				</div>
			</form>
		</div>
	</div>
</section>
