
<!-- Form 4 -->

<section class="form_4 padding_top155 padding_bottom155">
	<div class="container nopadding max_width970">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="top55 max_width370 inner">
					<h2 class="font42 font_second light white hyphens">A high-quality <br />solution for those who want a beautiful startup website quickly.</h2>
					<div class="top30 white light font22 opacity7 text">
						We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<form action="form-handler.php" method="post" class="bg_white max_width470 radius8 padding_bottom75">
					<div class="form_4_menu text-center clearfix">
						<a class="relative float_left font14 semibold uppercase spacing20 link dark_gray line_height70">Sign Up</a>
						<a class="relative float_left font14 semibold uppercase spacing20 link dark_gray line_height70">Login</a>
					</div>
					<div class="top70 slider">
						<div>
							<div class="padding_sides70 form_inner">
								<input type="text" name="username" placeholder="Username" class="bottom30 input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
								<input type="password" name="password" placeholder="Password" class="bottom30 input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
								<button class="top10 btn size50 red radius6 width_full">Create an Account</button>
								<div class="font14 medium_gray text-center top20 separate"><span class="inline_block padding_sides10">or</span></div>
								<button class="top20 btn size50 facebook_color radius6 width_full"><i class="fa fa-facebook-square right10"></i>Login via Facebook</button>
							</div>
						</div>
						<div>
							<div class="padding_sides70 form_inner">
								<input type="text" name="username2" placeholder="Username" class="bottom30 input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
								<input type="password" name="password2" placeholder="Password" class="bottom30 input size50 border border_light_gray focus_blue radius6 width_full padding_sides20" />
								<button class="top10 btn size50 red radius6 width_full">Login</button>
								<div class="font14 medium_gray text-center top20 separate"><span class="inline_block padding_sides10">or</span></div>
								<button class="top20 btn size50 facebook_color radius6 width_full"><i class="fa fa-facebook-square right10"></i>Login via Facebook</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
