
<!-- Form 13 -->

<section class="form_13 bg_white padding_top90 padding_bottom100">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light dark_gray text-center">Choose Your Payment Method</h2>
		<form action="form-handler.php" method="post" class="top60">
			<div class="bottom30 padding_sides60 padding_top30 padding_bottom45 radius10 relative form_block form_block1 disabled">
				<div class="absolute font42 icons">
					<i class="fa fa-cc-paypal"></i>
				</div>
				<input type="radio" name="method" class="hidden" id="form_7_radio_not_checked" value="form_block1" />
				<label for="form_7_radio_not_checked" class="radio check_blue border_light_gray radius_full font18 line_height24 semibold dark_gray">PayPal</label>
				<div class="left40 font18 light dark_blue text">
					Safe payment online. Credit card needed. PayPal account is not necessary.
				</div>
				<div class="left40 inner">
					<input type="email" name="email" placeholder="Your e-mail address" disabled class="top30 input size50 border border_light_gray focus_green radius6 width370 padding_sides20" />
				</div>
			</div>
			<div class="bottom30 padding_sides60 padding_top30 padding_bottom30 radius10 relative form_block form_block2">
				<div class="absolute font42 icons">
					<i class="fa fa-cc-visa right10"></i>
					<i class="fa fa-cc-mastercard right10"></i>
					<i class="fa fa-cc-discover right10"></i>
					<i class="fa fa-cc-amex"></i>
				</div>
				<input type="radio" name="method" class="hidden" id="form_7_radio_checked" value="form_block2" checked />
				<label for="form_7_radio_checked" class="radio check_blue border_light_gray radius_full font18 line_height24 semibold dark_gray">Credit Card</label>
				<div class="left40 font18 light dark_blue text">
					Safe money transfer using your bank account.
				</div>
				<div class="left40 top30 max_width800 inner">
					<div class="width370 float_left right30 bottom35 block">
						<div class="bottom10 font12 dark_blue semibold uppercase spacing20">Credit Card Number</div>
						<div class="relative" id="form_13_card_holder">
							<i class="absolute font24 line_height50 light_gray fa fa-cc-mastercard"></i>
							<input type="text" name="card" id="form_13_card" class="input size50 border border_light_gray focus_green radius6 width_full padding_left20 padding_right70" onfocus="focusForm('form_13_card_holder');" onblur="focusForm('form_13_card_holder');"/>
						</div>
					</div>
					<div class="width170 float_left bottom35 block">
						<div class="bottom10 font12 dark_blue semibold uppercase spacing20">Expiration</div>
						<input type="text" name="exp" id="form_13_expiration" placeholder="MM / YYYY" class="input size50 border border_light_gray focus_green radius6 width_full padding_sides20" />
					</div>
					<div class="clearfix"></div>
					<div class="width370 float_left right30 bottom35 block">
						<div class="bottom10 font12 dark_blue semibold uppercase spacing20">Cardholder Name</div>
						<input type="text" name="name" class="input size50 border border_light_gray focus_green radius6 width_full padding_sides20" />
					</div>
					<div class="width170 float_left bottom35 block">
						<div class="bottom10 font12 dark_blue semibold uppercase spacing20">CVV Code</div>
						<input type="text" name="cvv" class="input size50 border border_light_gray focus_green radius6 width70 padding_sides20" />
					</div>
					<div class="width140 float_left left90 block block_last">
						<button class="top30 btn size50 green font16 radius6 width_full">Checkout <i class="fa fa-angle-right font18 left10"></i></button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</div>
</section>
