
<!-- Form 12 -->

<section class="form_12 bg_dark_gray padding_top95 padding_bottom85">
	<div class="container nopadding max_width970 text-center white">
		<div class="font14 semibold uppercase spacing15">Subscribing</div>
		<h2 class="top20 font28 font_second light">Subscribe to our free eBooks, UI Kit's & Design Articles.</h2>
		<form action="form-handler.php" method="post">
			<div class="max_width570 margin_auto top50 inner">
				<div class="row">
					<div class="col-sm-8">
						<i class="fa fa-envelope-o line_height60 absolute left20"></i>
						<input type="email" name="email" placeholder="Type your e-mail" class="bottom30 width_full input size60 border border_transparent_white focus_white radius6 padding_left55 padding_right20" />
					</div>
					<div class="col-sm-4">
						<button class="width_full btn size60 white radius6">Subscribe</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
