
<!-- Form 7 -->

<section class="form_7 padding_top140 padding_bottom165">
	<div class="container nopadding max_width970">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<form action="form-handler.php" method="post" class="max_width370">
					<h2 class="font42 font_second light white">Sign In</h2>
					<div class="top10 bottom50 font18 white text">
						<span class="opacity7">Already have an account?</span> <a href="#" class="link white underline opacity7 link_hover">Sign Up</a>
					</div>
					<input type="text" name="username" placeholder="Username" class="bottom30 input size60 border border_transparent_white focus_white radius6 width_full padding_sides20" />
					<input type="password" name="password" placeholder="Your password" class="bottom30 input size60 border border_transparent_white focus_white radius6 width_full padding_sides20" />
					<input type="checkbox" name="remember" class="hidden" id="form_7_checkbox" checked />
					<label for="form_7_checkbox" class="float_left checkbox check_green border_light_gray white radius4">Remember me</label>
					<a href="#" class="link white float_right link_hover">Forgot Password?</a>
					<div class="clearfix"></div>
					<button class="top35 btn size50 red font16 radius6 padding_sides25">Sign In</button>
				</form>
			</div>
			<div class="col-lg-6">
				<div class="top140 max_width470 radius4 padding_top60 padding_bottom50 padding_sides60 green font_second light font28 block_right">
					We haven't forgotten about responsive layout. With Startup Framework, you can create a website with full mobile support.
				</div>
			</div>
		</div>
	</div>
</section>
