
<!-- Form 1 -->

<section class="form_1 padding_top80 padding_bottom80">
	<div class="container nopadding">
		<form action="form-handler.php" method="post" class="bg_white margin_auto max_width570 radius10 padding_sides100 padding_bottom25 text-center">
			<h2 class="bottom55 font42 font_second light dark_gray padding_top65">Create Your <br />Account</h2>
			<div class="bottom30 relative input_holder">
				<i class="fa fa-user line_height50 dark_blue absolute left20"></i>
				<input type="text" name="name" placeholder="Your name" class="input size50 border border_light_gray focus_blue radius6 width_full padding_left50 padding_right20" required />
			</div>
			<div class="bottom30 relative input_holder">
				<i class="fa fa-envelope line_height50 dark_blue absolute left20"></i>
				<input type="email" name="email" placeholder="Your email" class="input size50 border border_light_gray focus_blue radius6 width_full padding_left50 padding_right20" />
			</div>
			<div class="bottom30 relative input_holder">
				<i class="fa fa-lock line_height50 dark_blue absolute left20"></i>
				<input type="password" name="password" placeholder="Create password" class="input size50 border border_light_gray focus_blue radius6 width_full padding_left50 padding_right20" />
			</div>
			<div class="font14 dark_blue text">
				By signing up you agree to <a href="#" class="link blue underline">Our Terms</a> and <a href="#" class="link blue underline">Privacy Policy</a>
			</div>
			<button class="top40 btn size60 red min_width230">Sign Up</button>
			<div class="top50 hr light_gray width_full height1"></div>
			<div class="top20 medium_gray text">Don't have an account? <a href="#" class="link blue underline">Sign Up</a></div>
		</form>
	</div>
</section>