
<!-- Pricing Table 7 -->

<section class="pricing_table_7 bg_white padding_top90 padding_bottom110">
	<div class="container nopadding dark_blue text-center">
		<h2 class="font42 font_second light dark_gray">Not sure how much you'll send?</h2>
		<div class="max_width570 margin_auto top15 font18 light">
			Use the Startup Framework for free with no limits.
		</div>
		<div class="max_width570 margin_auto top55 padding_sides100 padding_top60 padding_bottom70 radius10 inner">
			<div class="font_second light font28 dark_gray title">Free Plan</div>
			<div class="top20 font14 uppercase semibold spacing15">20.000 customers</div>
			<div class="top35 text">
				Startup Framework is free forever — you only pay for custom domain hosting or to export your site.
			</div>
			<a href="#" class="top45 min_width170 btn size60 transparent_blue border border_blue radius6">Try for Free</a>
		</div>

	</div>
</section>
