
<!-- Pricing Table 6 -->

<section class="pricing_table_6 bg_light_blue padding_top90 padding_bottom50">
	<div class="container nopadding dark_blue">
		<h2 class="font42 font_second light dark_gray text-center">Simple Membership</h2>
		<div class="max_width570 margin_auto top15 font18 light text-center">
			Use the Startup Framework for free with no limits.
		</div>
		<div class="top50 font16 dark_gray text-center slider_menu">
			Monthly
			<a class="inline_block height40 width70 radius20 relative sides20 change_slide">
				<i class="bg_white radius_full width30 height30 top5 left5 absolute"></i>
			</a>
			Yearly
		</div>
		<div class="max_width770 margin_auto top60 slider">
			<div>
				<div class="flex justify_between">
					<div class="max_width370 radius10 padding_bottom55 bottom70 block">
						<img srcset="i/demo_images/pricing_table_6_img1.jpg 1x, i/demo_images/pricing_table_6_img1_2x.jpg 2x" src="i/demo_images/pricing_table_6_img1.jpg" class="width_full" alt="" />
						<div class="top40 padding_sides45 inner">
							<div class="font28 light dark_gray title"><span class="font_second">Starter</span> <span class="float_right">$19</span></div>
							<div class="top15 text">
								Unlimited recipes, plans, programs and more. All you need to make eating healthy ridiculously simple and fun.
							</div>
							<a href="#" class="top35 btn size50 width_full transparent_red border border_red radius6">Get Started for Free</a>
						</div>
					</div>
					<div class="max_width370 radius10 padding_bottom55 bottom70 block">
						<img srcset="i/demo_images/pricing_table_6_img2.jpg 1x, i/demo_images/pricing_table_6_img2_2x.jpg 2x" src="i/demo_images/pricing_table_6_img2.jpg" class="width_full" alt="" />
						<div class="top40 padding_sides45 inner">
							<div class="font28 light dark_gray title"><span class="font_second">Professional</span> <span class="float_right">$49</span></div>
							<div class="top15 text">
								Unlock powerful time-saving tools for creating beautiful meal plans and transform your wellness business.
							</div>
							<a href="#" class="top35 btn size50 width_full transparent_red border border_red radius6">Get Started for Free</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="flex justify_between">
					<div class="max_width370 radius10 padding_bottom55 bottom70 block">
						<img srcset="i/demo_images/pricing_table_6_img1.jpg 1x, i/demo_images/pricing_table_6_img1_2x.jpg 2x" src="i/demo_images/pricing_table_6_img1.jpg" class="width_full" alt="" />
						<div class="top40 padding_sides45 inner">
							<div class="font28 light dark_gray title"><span class="font_second">Starter</span> <span class="float_right">$119</span></div>
							<div class="top15 text">
								Unlimited recipes, plans, programs and more. All you need to make eating healthy ridiculously simple and fun.
							</div>
							<a href="#" class="top35 btn size50 width_full transparent_red border border_red radius6">Get Started for Free</a>
						</div>
					</div>
					<div class="max_width370 radius10 padding_bottom55 bottom70 block">
						<img srcset="i/demo_images/pricing_table_6_img2.jpg 1x, i/demo_images/pricing_table_6_img2_2x.jpg 2x" src="i/demo_images/pricing_table_6_img2.jpg" class="width_full" alt="" />
						<div class="top40 padding_sides45 inner">
							<div class="font28 light dark_gray title"><span class="font_second">Professional</span> <span class="float_right">$149</span></div>
							<div class="top15 text">
								Unlock powerful time-saving tools for creating beautiful meal plans and transform your wellness business.
							</div>
							<a href="#" class="top35 btn size50 width_full transparent_red border border_red radius6">Get Started for Free</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
