
<!-- Pricing Table 3 -->

<section class="pricing_table_3 bg_white padding_top100 padding_bottom110">
	<div class="container nopadding dark_blue text-center">
		<h2 class="font42 font_second light dark_gray">Do more with Startup Framework</h2>
		<div class="scrolling">
			<div class="top55 overflow">
				<div class="width1170 inner">
					<div class="min_height60 table_row flex table_head">
						<div class="padding_sides25 padding_top25 padding_bottom30 width280 block">
							
						</div>
						<div class="padding_sides25 padding_top25 padding_bottom30 width300 block">
							<div class="dark_gray">
								<div class="font18 semibold dark_gray title">Basic Plan</div>
								<div class="top10">All the basic for starting a <br />new business</div>
							</div>
						</div>
						<div class="padding_sides25 padding_top25 padding_bottom30 width300 block">
							<div class="dark_gray">
								<div class="font18 semibold dark_gray title">Pro Plan</div>
								<div class="top10">Everithing you need for a <br />growing business</div>
							</div>
						</div>
						<div class="padding_sides25 padding_top25 padding_bottom30 width280 block">
							<div class="dark_gray">
								<div class="font18 semibold dark_gray title">Company Plan</div>
								<div class="top10">Perfect for companies, <br />agencies & teams</div>
							</div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Price</div>
						</div>
						<div class="padding_sides25 padding_top45 padding_bottom40 width300 block">
							<div class="font62 light dark_gray number"><span class="inline_block font16">$</span>19</div>
						</div>
						<div class="padding_sides25 padding_top45 padding_bottom40 width300 block">
							<div class="font62 light dark_gray number"><span class="inline_block font16">$</span>49</div>
						</div>
						<div class="padding_sides25 padding_top45 padding_bottom40 width280 block">
							<div class="font62 light dark_gray number"><span class="inline_block font16">$</span>99</div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Hosted Projects</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">Unlimited</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">Unlimited</div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center">Unlimited</div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">UnHosted Projects</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">2</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">10</div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center">Unlimited</div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Billing</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Support</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">Forum</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center">Chat</div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center">Phone Call</div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Custom Domain</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center light_gray"><i class="fa fa-times"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 padding_top20 padding_bottom15 width280 block">
							<div class="width_full font12 semibold uppercase spacing15 opacity3 dark_gray text-right">Dashboard</div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center light_gray"><i class="fa fa-times"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width300 block">
							<div class="width_full text-center light_gray"><i class="fa fa-times"></i></div>
						</div>
						<div class="flex align_center padding_sides25 width280 block">
							<div class="width_full text-center green"><i class="fa fa-check"></i></div>
						</div>
					</div>
					<div class="min_height60 table_row flex">
						<div class="flex align_center padding_sides25 width280 block">
						
						</div>
						<div class="padding_sides25 padding_top40 padding_bottom40 width300 block">
							<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides30">Get Started for Free</a>
						</div>
						<div class="padding_sides25 padding_top40 padding_bottom40 width300 block">
							<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides30">Get Started for Free</a>
						</div>
						<div class="padding_sides25 padding_top40 padding_bottom40 width280 block">
							<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides30">Get Started for Free</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
