
<!-- Pricing Table 2 -->

<section class="pricing_table_2 bg_white padding_top100 padding_bottom85">
	<div class="container nopadding dark_blue text-center">
		<div class="font14 semibold uppercase spacing15">Pricing Plan</div>
		<h2 class="top25 font42 font_second light dark_gray">Clear & Simple</h2>
		<div class="row top75 inner">
			<div class="col-lg-3 col-sm-6 bottom70 block">
				<div class="font28 font_second light dark_gray title">Free</div>
				<div class="top5 subtitle">$0/month</div>
				<div class="margin_auto top30 bg_light_gray font62 line_height130 medium_gray width130 height130 radius_full img">
					<i class="fa fa-bolt"></i> 
				</div>
				<a href="#" class="top40 btn size40 transparent_green border border_green radius6 padding_sides20">Get Started for Free</a>
				<div class="top50 line_height28 text">
					<div>Up to 5 Members</div>
					<div>Backups for 2 Weeks</div>
					<div>50 Mb per File</div>
					<div>100 Messages</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 bottom70 block">
				<div class="font28 font_second light dark_gray title">Starter</div>
				<div class="top5 subtitle">$9.99/month</div>
				<div class="margin_auto top30 bg_light_gray font62 line_height130 medium_gray width130 height130 radius_full img">
					<i class="fa fa-bomb"></i> 
				</div>
				<a href="#" class="top40 btn size40 transparent_green border border_green radius6 padding_sides20">Get Started for Free</a>
				<div class="top50 line_height28 text">
					<div>Up to 10 Members</div>
					<div>Backups for 2 Month</div>
					<div>250 Mb per File</div>
					<div>1000 Messages</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 bottom70 block">
				<div class="font28 font_second light dark_gray title">Standart</div>
				<div class="top5 subtitle">$19.99/month</div>
				<div class="margin_auto top30 bg_light_gray font62 line_height130 medium_gray width130 height130 radius_full img">
					<i class="fa fa-heart"></i> 
				</div>
				<a href="#" class="top40 btn size40 transparent_green border border_green radius6 padding_sides20">Get Started for Free</a>
				<div class="top50 line_height28 text">
					<div>Up to 20 Members</div>
					<div>Backups for 6 Month</div>
					<div>Unlimited Size per File</div>
					<div>Unlimited Messages</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 bottom70 block">
				<div class="font28 font_second light dark_gray title">Enterprise</div>
				<div class="top5 subtitle">$49.99/month</div>
				<div class="margin_auto top30 bg_light_gray font62 line_height130 medium_gray width130 height130 radius_full img">
					<i class="fa fa-building"></i> 
				</div>
				<a href="#" class="top40 btn size40 transparent_green border border_green radius6 padding_sides20">Get Started for Free</a>
				<div class="top50 line_height28 text">
					<div>Unlimited Members</div>
					<div>Backups for 12 Month</div>
					<div>Unlimited Size per File</div>
					<div>Unlimited Messages</div>
				</div>
			</div>
		</div>
	</div>
</section>
