
<!-- Contact 9 -->

<section class="contact_9 bg_black padding_top130 padding_bottom130 relative">
	<div class="absolute width_full height_full google_map" 
				 data-coords="41.922496, 12.501173"
				 data-zoom="14"
				 ></div>
	<div class="absolute width_full height_full map_overlay"></div>
	<div class="container nopadding white text-center">
		<div class="margin_auto max_width470 inner">
			<div class="font20 light"><b>Startup</b> Framework</div>
			<div class="top20 bottom100 font22 font_second light text">
				A high-quality solution for those who want a beautiful startup website quickly.
			</div>
			<div class="bottom5 font14 semibold uppercase spacing15 opacity7">E-mail</div>
			<a href="mailto:info@designmodo.com" class="bottom70 font42 light link white text_big">info@designmodo.com</a>
			<div class="bottom5 font14 semibold uppercase spacing15 opacity7">Phone</div>
			<a href="tel:+15555055050" class="bottom70 font42 light link white text_big">+1 555 505 5050</a>
			<div class="bottom15 font14 semibold uppercase spacing15 opacity7">Socials</div>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-facebook-official"></i></a>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-behance"></i></a>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-pinterest"></i></a>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-dribbble"></i></a>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank" class="bottom20 font28 link white sides20"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
</section>
