
<!-- Contact 4 -->

<section class="contact_4 padding_top145 padding_bottom145">
	<div class="container nopadding max_width970 white">
		<div class="row justify-content-between">
			<div class="top50 col-lg-5 block_left">
				<h2 class="font42 font_second light">Let's Keep in Touch</h2>
				<div class="top30 max_width370 font22 light opacity7 text">
					We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
				</div>
				<div class="max_width270 block_contact_holder">
					<div class="top45 font18 light block_contact">
						<i class="top5 fa fa-phone float_left"></i><div class="opacity7 hyphens left30">+1 555 444 33 22</div>
					</div>
					<div class="top45 font18 light block_contact">
						<i class="top5 fa fa-envelope float_left"></i><div class="opacity7 hyphens left30">info@designmodo.com</div>
					</div>
					<div class="top45 font18 light block_contact">
						<i class="top5 fa fa-building-o float_left"></i><div class="opacity7 hyphens left30">San Francisco, CA560 Bush <br />St & 20th Ave, Apt5 San Francisco, 230909</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<form action="form-handler.php" method="post" class="max_width470 bg_white padding_sides50 padding_top55 padding_bottom35 radius10 dark_blue">
					<div class="row">
						<div class="col-sm-7">
							<div class="bottom35 input_block">
								<div class="bottom10 font14 semibold uppercase spacing15">Your Name</div>
								<input type="text" name="name" placeholder="First name" class="input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
							</div>
						</div>
						<div class="col-sm-5">
							<div class="bottom35 input_block">
								<div class="bottom10 font14 semibold uppercase spacing15">Budget</div>
								<select name="budget" class="input size50 border border_light_gray focus_green radius6 width_full padding_sides15">
									<option>$50 000</option>
									<option>$100 000</option>
									<option>$150 000</option>
								</select>
							</div>
						</div>
					</div>
					<div class="bottom10 font14 semibold uppercase spacing15">Your email</div>
					<input type="email" name="email" placeholder="name@mail.com" class="bottom35 input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
					<div class="bottom10 font14 semibold uppercase spacing15">Your Message</div>
					<textarea name="message" class="bottom30 height110 input border border_light_gray focus_green radius6 width_full padding_sides20"></textarea>				
					<div class="row">
						<div class="col-sm-7">
							<input type="checkbox" name="send_copy" class="hidden" id="contact_4_checkbox" checked />
							<label for="contact_4_checkbox" class="top15 bottom30 checkbox check_green border_light_gray radius4 font14">Send me a copy</label>
						</div>
						<div class="col-sm-5">
							<button class="btn size50 blue radius6 width_full padding_sides25">Send<i class="fa fa-angle-right left10"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
