
<!-- Contact 6 -->

<section class="contact_6 bg_white padding_top115 padding_bottom125">
	<div class="container nopadding max_width970 dark_blue">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="max_width370 block_left bottom80">
					<h2 class="font42 font_second light dark_gray">Get in Touch</h2>
					<div class="top20 font18 light text">
						We appreciate each customer and we are proud that 60% of clients come back to work with us again.
					</div>
					<a href="tel:+15555055050" class="top35 link green font_second font18 semibold"><i class="fa fa-phone right15"></i>+1 555 505 5050</a>
					<a href="mailto:info@designmodo.com" class="top10 link green font_second font18 semibold"><i class="fa fa-envelope right15"></i>info@designmodo.com</a>
					<div class="top50 hr width_full height1 light_gray"></div>
					<div class="top40 font28 font_second light dark_gray">Find Us on Map</div>
					<div class="top15 font18 light">Via Salaria, 243, 00199 Rome</div>
					<div class="top30 width_full height230 radius10 google_map" 
						 data-marker="i/map-pin-red.png"
						 data-marker-size="30*40"
						 data-coords="41.922496, 12.501173"
						 data-zoom="15"
						 ></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="max_width470 block_right">
					<h2 class="font42 font_second light dark_gray">You Can Mail Us</h2>
					<div class="top20 font18 light text">
						We are always looking for a next great project.
					</div>
					<form action="form-handler.php" method="post" class="top40 width_full padding_sides50 padding_top45 padding_bottom30 radius10">
						<div class="bottom35">
							<div class="bottom10 font14 semibold uppercase spacing20 text-left">E-mail</div>
							<input type="email" name="email" placeholder="Your e-mail" class="input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
						</div>
						<div class="bottom10 font14 semibold uppercase spacing20 text-left">Message</div>
						<textarea name="message" placeholder="Drop us a line" class="bottom35 height170 input border border_light_gray focus_green radius6 width_full padding_sides20"></textarea>				
						<div class="bottom35 float_left input_block">
							<div class="bottom10 font14 semibold uppercase spacing20 text-left">Name</div>
							<input type="text" name="name" placeholder="Your name" class="input width_full size50 border border_light_gray focus_green radius6 padding_sides20" />
						</div>
						<button class="top35 float_right min_width70 btn size50 green font16 radius6"><i class="fa fa-paper-plane"></i></button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
