
<!-- Navigation 18 -->

<nav class="navigation_18 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3">
				<div class="nav_logo white line_height40"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 text-right right_block">
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 right15">Tour</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">Prices</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">About</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">F.A.Q.</a>
				<a href="#" class="link white semibold font12 line_height40 uppercase spacing15 sides15">Support</a>
				<form id="nav18_form" class="width170 height40 line_height38 float_right radius20 left10" method="POST" action="/">
					<button class="nopadding right10 white float_left left15"><i class="fa fa-search"></i></button>
					<input type="text" name="search" placeholder="Search" required class="white width120 line_height38 float_left" onfocus="focusForm('nav18_form');" onblur="focusForm('nav18_form');" />
				</form>
			</div>
		</div>
	</div>
</nav>
