
<!-- Navigation 11 -->

<nav class="navigation_11 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding clearfix">
		<div class="nav_logo white line_height40"><b>Startup</b> Framework</div>
		<form id="header2_form" class="float_left width270 height40 search" method="POST" action="/">
			<button class="left20 right10 white height38 line_height38"><i class="fa fa-search"></i></button>
			<input type="text" name="search" placeholder="Search" required class="input white width210 size38" onfocus="focusForm('header2_form');" onblur="focusForm('header2_form');" />
		</form>
		<div class="float_right text-right line_height40 nav_links">
			<a href="#" class="link blue underline sides20">Subscribe</a>
			<a href="#" class="link white sides20">Sign in</a>
			<a href="#" class="link white sides20">Register</a>
			<div class="inline_block padding_left20 dropdown">
				<a href="#" class="link white" id="navigation_11_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars white"></i></a>
				<div class="bg_dark_gray dropdown-menu dropdown-menu-right" aria-labelledby="navigation_11_dropdown">
					<div><a href="#" class="link white">Startup Framework 2</a></div>
					<div><a href="#" class="link white">Slides</a></div>
					<div><a href="#" class="link white">Qards</a></div>
				</div>
			</div>
		</div>
	</div>
</nav>
