
<!-- Navigation 17 -->

<nav class="navigation_17 bg_dark_gray padding_top30 padding_bottom30 line_height40">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3">
				<div class="white font20 line_height40 logo"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 text-right right_block">
				<a href="#" class="link white sides20">About</a>
				<a href="#" class="link white sides20">Prices</a>
				<a href="#" class="link white sides20">Blog</a>
				<a href="#" class="link white sides20">Feedback</a>
				<a href="#" class="sides20 btn size40 border border_white transparent_white radius6 padding_sides20">Contact Us</a>
				<a href="#" class="link white left20">F.A.Q.</a>
			</div>
		</div>
	</div>
</nav>
