
<!-- Navigation 4 -->

<nav class="navigation_4 bg_white padding_top30 padding_bottom30 line_height40">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3">
				<div class="nav_logo"><b>Startup</b> Framework</div>
			</div>
			<div class="col-lg-9 text-right right_block">
				<a href="#" class="link dark_blue right20">Portfolio</a>
				<a href="#" class="link dark_blue sides20">How it Works</a>
				<a href="#" class="link dark_blue sides20">Pricing</a>
				<a href="#" class="link dark_blue sides20">About</a>
				<a href="#" class="link dark_blue sides20">Login</a>
				<a href="#" class="left20 btn size40 border border_red radius6"><span class="red">Sign Up</span></a>
			</div>
		</div>
	</div>
</nav>
