
<!-- Navigation 13 -->

<nav class="navigation_13 bg_dark_gray padding_top30 padding_bottom30">
	<div class="container nopadding text-center">
		<a href="#" class="sides15 semibold uppercase spacing20 font14 line_height40 link white">Home</a>
		<a href="#" class="sides15 semibold uppercase spacing20 font14 line_height40 link white">Features</a>
		<a href="#" class="sides15 semibold uppercase spacing20 font14 line_height40 link white">Pricing</a>
		<a href="#" class="sides15 semibold uppercase spacing20 font14 line_height40 link white">Blog</a>
		<div class="inline_block sides15">
			<a href="#" class="right15 semibold uppercase spacing20 font18 line_height40 link white"><i class="fa fa-dribbble"></i></a>
			<a href="#" class="left15 semibold uppercase spacing20 font18 line_height40 link white"><i class="fa fa-behance"></i></a>
		</div>
	</div>
</nav>
