
<!-- Content 27 -->

<section class="content_27 bg_dark_gray padding_top100 padding_bottom110">
	<div class="container nopadding max_width970">
		<h2 class="max_width570 margin_auto text-center font28 font_second light white">We've created the product that will help your startup look better.</h2>
		<div class="width770 margin_auto top60 radius8 video" data-ratio="16/9">
			<div class="radius8 poster">
				<div class="play red"><i class="fa fa-play"></i></div>
			</div>
			<video controls>
				<source src="video/video1.mp4" type="video/mp4">
			</video>
		</div>
		<div class="hr white width_full height1 opacity1 top80"></div>
		<div class="top80 slider arrows-100 dots-45">
			<div>
				<div class="slide">
					<a href="#" class="relative float_left width170 image">
						<img srcset="i/demo_images/content_27_preview1.jpg 1x, i/demo_images/content_27_preview1_2x.jpg 2x" src="i/demo_images/content_27_preview1.jpg" class="max_width170 opacity5 radius6" alt="" />
						<i class="fa fa-play font20 white"></i>
					</a>
					<div class="left200 max_width270 white inner">
						<div class="title uppercase semibold spacing15 font14">Fell our design</div>
						<div class="top10 light font16 opacity7 hyphens text">
							Startup Design Framework contains components which can easily be integrated into almost any design. 
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="slide">
					<a href="#" class="relative float_left width170 image">
						<img srcset="i/demo_images/content_27_preview2.jpg 1x, i/demo_images/content_27_preview2_2x.jpg 2x" src="i/demo_images/content_27_preview2.jpg" class="max_width170 opacity5 radius6" alt="" />
						<i class="fa fa-play font20 white"></i>
					</a>
					<div class="left200 max_width270 white inner">
						<div class="title uppercase semibold spacing15 font14">high Resolution</div>
						<div class="top10 light font16 opacity7 hyphens text">
							We did a 2.5K size high resolution photo that will suit even for a very web site.
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="slide">
					<a href="#" class="relative float_left width170 image">
						<img srcset="i/demo_images/content_27_preview1.jpg 1x, i/demo_images/content_27_preview1_2x.jpg 2x" src="i/demo_images/content_27_preview1.jpg" class="max_width170 opacity5 radius6" alt="" />
						<i class="fa fa-play font20 white"></i>
					</a>
					<div class="left200 max_width270 white inner">
						<div class="title uppercase semibold spacing15 font14">Fell our design</div>
						<div class="top10 light font16 opacity7 hyphens text">
							Startup Design Framework contains components which can easily be integrated into almost any design. 
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="slide">
					<a href="#" class="relative float_left width170 image">
						<img srcset="i/demo_images/content_27_preview2.jpg 1x, i/demo_images/content_27_preview2_2x.jpg 2x" src="i/demo_images/content_27_preview2.jpg" class="max_width170 opacity5 radius6" alt="" />
						<i class="fa fa-play font20 white"></i>
					</a>
					<div class="left200 max_width270 white inner">
						<div class="title uppercase semibold spacing15 font14">high Resolution</div>
						<div class="top10 light font16 opacity7 hyphens text">
							We did a 2.5K size high resolution photo that will suit even for a very web site.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
