
<!-- Content 12 -->

<section class="content_12 padding_top115 padding_bottom75">
	<div class="container nopadding max_width970">
		<div class="white light font18 text">
			<h2 class="bottom20 font28 font_second light">Components</h2>
			<p class="opacity8">
				Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
			</p>
			<p class="opacity8">
				Also We prepared some high-quality photos that you can use in your projects. When you have to show your application or website on iPhone, iPad or Macbook you can use these images. +Just put the image of your app inside Smart Layer.
			</p>
		</div>
	</div>
</section>
