
<!-- Content 26 -->

<section class="content_26 bg_white padding_top100 padding_bottom100">
	<div class="container nopadding max_width970">
		<div class="row flex-row-reverse justify-content-between">
			<div class="col-md-7">
				<div class="width570 height320 radius8 video" data-ratio="16/9">
					<div class="radius8 poster">
						<div class="play red"><i class="fa fa-play"></i></div>
					</div>
					<video controls>
						<source src="video/video1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col-md-4">
				<div class="max_width270 top10 inner">
					<h2 class="font28 font_second light dark_gray">Many Useful Components</h2>
					<div class="top20 font18 light dark_blue text">
						Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
					</div>
					<a href="#" class="top40 padding_sides30 btn blue size50 font16 radius6">Learn More <i class="fa fa-angle-right font18 left10"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
