
<!-- Content 28 -->

<section class="content_28 bg_white padding_top80 padding_bottom80">
	<div class="container nopadding max_width970">
		<div class="hr light_gray width_full height1"></div>
		<div class="padding_top40 padding_bottom50 block">
			<div class="float_left font40 light_gray block_left"><i class="fa fa-quote-left"></i></div>
			<div class="left100 padding_top10 max_width770 inner">
				<div class="font22 light dark_blue text">
					The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit. By choosing one of the 25 configurations of the future startup, the process of creation is simple and easy.
				</div>
				<div class="top30 author_info">
					<img srcset="i/demo_images/content_28_foto.jpg 1x, i/demo_images/content_28_foto_2x.jpg 2x" src="i/demo_images/content_28_foto.jpg" class="width30 height30 radius_full float_left" alt="" />
					<div class="line_height30 left45 medium_gray"><span class="dark_blue semibold">Jesse Kirk,</span> Evernote</div>
				</div>
			</div>
		</div>
		<div class="hr light_gray width_full height1"></div>
	</div>
</section>
