
<!-- Content 3 -->

<section class="content_3 bg_white padding_top100 padding_bottom70">
	<div class="container nopadding max_width970">
		<h2 class="font_second light font42 text-center">Samples will show you the feeling on how to play around using the components in the website building process.</h2>
		<div class="top90 row inner">
			<div class="col-md-6 font18 dark_blue light bottom30">
				We haven't forgotten about responsive layout. With Startup Framework, you can create a website with full mobile support.
			</div>
			<div class="col-md-6 font18 dark_blue light">
				Components and blocks are fixed to the common and popular 12 Grid system, something designers and developers can agree on.
			</div>
		</div>
	</div>
</section>
