
<!-- Content 16 -->

<section class="content_16 bg_blue padding_top110 padding_bottom100">
	<div class="container nopadding max_width970">
		<img srcset="i/content_16_logo.png 1x, i/content_16_logo_2x.png 2x" src="i/content_16_logo.png" class="float_left top10 logo" alt="" />
		<div class="white light max_width670 left100 inner">
			<h2 class="light font42 font_second">Many Useful Components</h2>
			<div class="font18 top30 text">
				With Startup Framework, we don't make you start from an empty slate. All you have to do is to pick the elements you like best and combine them together and we guarantee that it will look fantastic. <a href="#" class="link white underline">Learn More</a> 
			</div>
		</div>
	</div>
</section>
