
<!-- Content 39 -->

<section class="content_39 bg_white padding_top90 padding_bottom80">
	<div class="container nopadding max_width970">
		<h2 class="font_second light font42 dark_gray text-center">What’s Inside?</h2>
		<div class="scrolling">
			<div class="scrolling_holder width_full">
				<div class="width970 top10 bottom30">
					<div class="width170 float_left column first_column">
						<div class="height70 padding_left30 semibold font12 line_height70 medium_gray uppercase spacing15">Features</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">Add Files</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray">Assign To-dos</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">Subtasks</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray">Backgrounds</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">Team</div>
					</div>
					<div class="width400 float_left column">
						<div class="height70 padding_left15 semibold font12 line_height70 medium_gray uppercase spacing15"></div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">Add anything from photos to spreadsheets</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue">Delegate responsibilities like a bos</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">Break down large goals into acionable to-dos</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue">Personalize your Wunderlist just the way you like</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">Make best team in the world</div>
					</div>
					<div class="width230 float_left column">
						<div class="height70 padding_left35 semibold font12 line_height70 medium_gray uppercase spacing15">Free</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg"><b>5</b> Mb per File</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue"><b>25</b> Assigns per List</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg"><b>25</b> per To-do</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue"><b>20</b> Backgrounds</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg"><b>10</b> Members</div>
					</div>
					<div class="width170 float_left column last_column">
						<div class="height70 padding_left15 semibold font12 line_height70 blue uppercase spacing15">Pro</div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Unlimited</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue"><b>Unlimited</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Unlimited</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue"><b>30</b> Backgrounds</div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Unlimited</b></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
