
<!-- Content 19 -->

<section class="content_19 bg_sand padding_top95 padding_bottom65">
	<div class="container nopadding max_width970">
		<h2 class="font_second light font42 text-center bottom80">Your questions answered.</h2>
		<div class="row">
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">How Startup Framework works?</div>
				<div class="dark_blue light font18 top20 text">
					The Generator App is an online tool that helps you to export ready-made templates ready to work as your future website. It helps you to combine slides, panels and other components and export it as a set of static files: HTML/CSS/JS.
				</div>
			</div>
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">Do you provide hosting with Startup Framework?</div>
				<div class="dark_blue light font18 top20 text">
					No, hosting is on you. You upload the result on your hosting via FTP or using other tools you like. You can use any server, just make sure it have a PHP installed in case if you need a contact form.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">What exactly am I buying?</div>
				<div class="dark_blue light font18 top20 text">
					You're buying an access to the <a href="#" class="blue link underline">Startup Generator</a> app to export ready-made templates with the rest source files included. It's an online tool, not a software. For more details about generator’s workflow watch this <a href="#" class="blue link underline">tutorial</a>.
				</div>
			</div>
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">Are you planning to update Startup Framework?</div>
				<div class="dark_blue light font18 top20 text">
					We are! Here is the changelog of changes we’ve made after the release. Thanks our clients who helped us to improve our product.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">How Startup Framework works?</div>
				<div class="dark_blue light font18 top20 text">
					The Generator App is an online tool that helps you to export ready-made templates ready to work as your future website. It helps you to combine slides, panels and other components and export it as a set of static files: HTML/CSS/JS.
				</div>
			</div>
			<div class="col-lg-6 bottom50 block">
				<div class="font_second semibold dark_gray font18 title">Do you provide support for customers?</div>
				<div class="dark_blue light font18 top20 text">
					Yes, we are. Please use our <a href="#" class="blue link underline">contact us</a> form to chat with us. We DO NOT provide product support via Facebook, Twitter or others sources.
				</div>
			</div>
		</div>
	</div>
</section>
