
<!-- Content 23 -->

<section class="content_23 bg_dark_gray padding_top105 padding_bottom100">
	<div class="container nopadding padding_left100">
		<h2 class="white light font28 font_second">Multi Useful Components</h2>
		<div class="top50 relative inner">
			<div class="width870 float_left content_23_slider">
				<div>
					<img srcset="i/demo_images/content_23_img1.jpg 1x, i/demo_images/content_23_img1_2x.jpg 2x" src="i/demo_images/content_23_img1.jpg" class="radius8 width_full" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_img2.jpg 1x, i/demo_images/content_23_img2_2x.jpg 2x" src="i/demo_images/content_23_img2.jpg" class="radius8 width_full" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_img3.jpg 1x, i/demo_images/content_23_img3_2x.jpg 2x" src="i/demo_images/content_23_img3.jpg" class="radius8 width_full" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_img4.jpg 1x, i/demo_images/content_23_img4_2x.jpg 2x" src="i/demo_images/content_23_img4.jpg" class="radius8 width_full" alt="" />
				</div>
			</div>
			<div class="width170 float_right content_23_slider_nav">
				<div>
					<img srcset="i/demo_images/content_23_preview1.jpg 1x, i/demo_images/content_23_preview1_2x.jpg 2x" src="i/demo_images/content_23_preview1.jpg" class="radius8" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_preview2.jpg 1x, i/demo_images/content_23_preview2_2x.jpg 2x" src="i/demo_images/content_23_preview2.jpg" class="radius8" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_preview3.jpg 1x, i/demo_images/content_23_preview3_2x.jpg 2x" src="i/demo_images/content_23_preview3.jpg" class="radius8" alt="" />
				</div>
				<div>
					<img srcset="i/demo_images/content_23_preview4.jpg 1x, i/demo_images/content_23_preview4_2x.jpg 2x" src="i/demo_images/content_23_preview4.jpg" class="radius8" alt="" />
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="max_width870 top30 font18 white light text">
			Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
		</div>
	</div>
</section>
