
<!-- Content 11 -->

<section class="content_11 bg_white padding_top80 padding_bottom50">
	<div class="container nopadding max_width970">
		<div class="dark_blue light font18 text">
			<h2 class="bottom20 font22 black light">A high-quality solution for those who want a beautiful startup website quickly.</h2>
			<p>
				We have created this demo version in order to show you the structure of Startup Framework. It has some of the <br />components from the full version, 2 great samples (Bootstrap themes) and documentation. You can also find 2 <br />images of a Macbook and an iPad, which you can use in your project. We hope you will like your first introduction <br />to Startup Framework.
			</p>
			<p>
				The most important part of the Startup Framework are the samples or Bootstrap themes and templates. The samples consist of a set of few pages you can use "as is" or add new blocks from UI Kit. By choosing one of the 2 configurations of the future startup, the process of creation is simple and easy. You can decide whether to create your site using UI Kit components or samples.
			</p>
		</div>
	</div>
</section>
