
<!-- Content 17 -->

<section class="content_17 bg_dark_gray padding_top115 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width370 top15 radius4 float_right padding_top60 padding_bottom40 padding_sides40 text-center green font_second light font28 block_right">
			We haven't forgotten about responsive layout. With Startup Framework, you can create a website with full mobile support.
		</div>
		<div class="white light max_width470 block_left">
			<h2 class="light font28 font_second">Components</h2>
			<div class="font18 top30 opacity7 text">
				<p>
					Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
				</p>
				<p>
					Also We prepared some high-quality photos that you can use in your projects. When you have to show your application or website on iPhone, iPad or Macbook you can use 
				</p>
			</div>
		</div>
	</div>
</section>
