
<!-- Content 38 -->

<section class="content_38 bg_white padding_top85 padding_bottom90">
	<div class="container nopadding max_width970">
		<h2 class="bottom35 font_second light font42 dark_gray">Pay as you go</h2>
		<div class="row justify-content-between">
			<div class="col-lg-8">
				<div class="width570 block_left">
					<div class="row no-gutters dark_gray line_height70">
						<div class="col-sm-4 column">
							<div class="height70 padding_left30 semibold font12 line_height70 medium_gray uppercase spacing15 row_bordered">Email credit</div>
							<div class="height70 padding_left30 row_bordered">10.000</div>
							<div class="height70 padding_left30 row_bordered">25.000</div>
							<div class="height70 padding_left30 row_bordered">50.000</div>
							<div class="height70 padding_left30 row_bordered">75.000</div>
							<div class="height70 padding_left30">200.000</div>
						</div>
						<div class="col-sm-4 column text-center">
							<div class="height70 padding_sides30 semibold font12 line_height70 medium_gray uppercase spacing15 row_bordered">Price per email</div>
							<div class="height70 padding_sides30 row_bordered">0.02</div>
							<div class="height70 padding_sides30 row_bordered">0.01</div>
							<div class="height70 padding_sides30 row_bordered">0.01</div>
							<div class="height70 padding_sides30 row_bordered">0.01</div>
							<div class="height70 padding_sides30">5 / thousand</div>
						</div>
						<div class="col-sm-4 column text-right">
							<div class="height70 padding_right30 semibold font12 line_height70 medium_gray uppercase spacing15 row_bordered">Prepay Ammount</div>
							<div class="height70 padding_right30 row_bordered">$200</div>
							<div class="height70 padding_right30 row_bordered">$250</div>
							<div class="height70 padding_right30 row_bordered">$500</div>
							<div class="height70 padding_right30 row_bordered">$750</div>
							<div class="height70 padding_right30">$1.000</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 padding_top65">
				<div class="width270 left30 padding_sides35 padding_top30 padding_bottom30 bg_sand block_right">
					<div class="font18 semibold dark_gray"><i class="fa fa-paper-plane font20 right10"></i>Easy Start</div>
					<div class="font18 light dark_blue top15 text">
						To get started, you select the desired sample and base the entire website on it. It’s that simple!
					</div>
					<a href="#" class="btn red size40 uppercase padding_sides20 spacing15 semibold font12 radius6 top40">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>
