
<!-- Content 22 -->

<section class="content_22 bg_white padding_top90 padding_bottom95">
	<div class="container nopadding">
		<div class="slider arrows0 dots-40">
			<div>
				<div class="max_width970 margin_auto slide">
					<img srcset="i/demo_images/content_22_img.jpg 1x, i/demo_images/content_22_img_2x.jpg 2x" src="i/demo_images/content_22_img.jpg" class="radius8 width_full" alt="" />				
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto slide">
					<img srcset="i/demo_images/content_22_img.jpg 1x, i/demo_images/content_22_img_2x.jpg 2x" src="i/demo_images/content_22_img.jpg" class="radius8 width_full" alt="" />				
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto slide">
					<img srcset="i/demo_images/content_22_img.jpg 1x, i/demo_images/content_22_img_2x.jpg 2x" src="i/demo_images/content_22_img.jpg" class="radius8 width_full" alt="" />				
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto slide">
					<img srcset="i/demo_images/content_22_img.jpg 1x, i/demo_images/content_22_img_2x.jpg 2x" src="i/demo_images/content_22_img.jpg" class="radius8 width_full" alt="" />				
				</div>
			</div>
			<div>
				<div class="max_width970 margin_auto slide">
					<img srcset="i/demo_images/content_22_img.jpg 1x, i/demo_images/content_22_img_2x.jpg 2x" src="i/demo_images/content_22_img.jpg" class="radius8 width_full" alt="" />				
				</div>
			</div>
		</div>
	</div>
</section>
