
<!-- Content 29 -->

<section class="content_29 bg_white padding_top80 padding_bottom100">
	<div class="container nopadding text-center">
	
		<div class="slider arrows0">
			<div>
				<div class="font32 dark_blue"><i class="fa fa-quote-left"></i></div>
				<div class="max_width570 margin_auto top50 font28 font_second light dark_blue text">
					You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.
				</div>
				<img srcset="i/demo_images/content_29_foto.jpg 1x, i/demo_images/content_29_foto_2x.jpg 2x" src="i/demo_images/content_29_foto.jpg" class="width70 height70 radius_full margin_auto top60" alt="" />
				<div class="dark_blue semibold top15">Jordan Bargeman</div>
				<div class="medium_gray uppercase spacing15 font12 top5">Google</div>
			</div>
			<div>
				<div class="font32 dark_blue"><i class="fa fa-quote-left"></i></div>
				<div class="max_width570 margin_auto top50 font28 font_second light dark_blue text">
					You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.
				</div>
				<img srcset="i/demo_images/content_29_foto.jpg 1x, i/demo_images/content_29_foto_2x.jpg 2x" src="i/demo_images/content_29_foto.jpg" class="width70 height70 radius_full margin_auto top60" alt="" />
				<div class="dark_blue semibold top15">Jordan Bargeman</div>
				<div class="medium_gray uppercase spacing15 font12 top5">Google</div>
			</div>
		</div>
	</div>
</section>
