
<!-- Feature 4 -->

<section class="feature_4 padding_top90 padding_bottom60">
	<div class="container nopadding">
		<h2 class="font42 font_second light white text-center">Features</h2>
		<div class="max_width570 margin_auto top35 font18 light white opacity7 text-center text text1">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="top65 flex justify_between inner">
			<div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-plus-square font60 white"></i>
				<div class="top25 font28 light white title">Easy to Use</div>
				<div class="top30 font18 light white opacity7 text">
					To get started, you select the desired sample and base the entire website on it. It’s that simple!
				</div>
				<a href="#" class="top40 inline_block green link uppercase font12 semibold spacing15">Learn More <i class="fa fa-angle-right font16 line_height22 left10"></i></a>
			</div>
			<div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-sliders font60 white"></i>
				<div class="top25 font28 light white title">Variety of Designs</div>
				<div class="top30 font18 light white opacity7 text">
					You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.
				</div>
				<a href="#" class="top40 inline_block green link uppercase font12 semibold spacing15">Explore Blocks <i class="fa fa-angle-right font16 line_height22 left10"></i></a>
			</div>
			<div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-asterisk font60 white"></i>
				<div class="top25 font28 light white title">Feel Our Design</div>
				<div class="top30 font18 light white opacity7 text">
					Samples will show you the feeling on how to play around using the components in the website building process.
				</div>
				<a href="#" class="top40 inline_block green link uppercase font12 semibold spacing15">View Samples <i class="fa fa-angle-right font16 line_height22 left10"></i></a>
			</div>
		</div>
	</div>
</section>
