
<!-- Feature 6 -->

<section class="feature_6 padding_top130 padding_bottom60">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light white bottom65">More than Design</h2>
		<div class="float_left max_width270 block_left">
			<div class="bottom105 white block">
				<i class="fa fa-send-o font40"></i>
				<div class="top30 font28 light title">Designed to Impress</div>
				<div class="top25 font18 light opacity7 hyphens text">
					Carefully crafted precise design, with harmonious typography and perfect padding around every component.
				</div>
			</div>
			<div class="bottom80 white block">
				<i class="fa fa-file-code-o font40"></i>
				<div class="top30 font28 light title">Clean Code</div>
				<div class="top25 font18 light opacity7 hyphens text">
					Built with HTML, CSS and JS. Startup's code is easy to understand and easy to change. No other frameworks needed.
				</div>
			</div>
		</div>
		<div class="left130 float_left block_right">
			<div class="max_width370 bottom80 white block">
				<i class="fa fa-support font40"></i>
				<div class="top30 font28 light title">Committed Support</div>
				<div class="top25 font18 light opacity7 hyphens text">
					We are here for you. Our dedicated team is committed in providing excellent support.
				</div>
			</div>
			<div class="max_width570 font_second light green font22 radius10 padding_sides70 padding_top70 padding_bottom70 hyphens text block_green">
				It was just amazing implementing the website in such short time, and now I am looking forward to the next customers, to build beautiful websites within a wink. Thank you Designmodo for making my life easier and my work more fun ;)
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
