
<!-- Feature 1 -->

<section class="feature_1 bg_white padding_top100 padding_bottom85">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light dark_gray text-center">Our Benefits</h2>
		<div class="top65 row inner">
			<div class="col-md-4 text-center bottom50 block">
				<i class="fa fa-briefcase font60 light_gray"></i>
				<div class="top30 font28 light dark_gray title">Many Useful <br />Components</div>
				<div class="top30 font18 light dark_blue text">
					Startup Framework contains components and complex blocks which can easily be integrated <br />into almost any design. 
				</div>
			</div>
			<div class="col-md-4 text-center bottom50 block">
				<i class="fa fa-compress font60 light_gray"></i>
				<div class="top30 font28 light dark_gray title">Responsive <br />Layout</div>
				<div class="top30 font18 light dark_blue text">
					We haven’t forgotten about responsive layout. With Startup Framework, you can create a website with full mobile support.
				</div>
			</div>
			<div class="col-md-4 text-center bottom50 block">
				<i class="fa fa-desktop font60 light_gray"></i>
				<div class="top30 font28 light dark_gray title">Retina <br />Ready</div>
				<div class="top30 font18 light dark_blue text">
					Startup Framework works on <br />devices supporting Retina <br />Display. Feel the clarity in each <br />pixel.
				</div>
			</div>
		</div>
	</div>
</section>
