
<!-- Feature 28 -->

<section class="feature_28 padding_top110">
	<div class="container nopadding text-center">
		<h2 class="font42 font_second light dark_gray">More Than Image</h2>
		<div class="margin_auto top30 max_width770 font22 light dark_blue text text1">
			We prepared some high-quality photos, that you can use in your projects. When you have to show your application or website on iPhone, iPad or Macbook you can use these images.
		</div>
		<div class="top50 buttons">
			<a href="#" class="btn red size50 radius6 padding_sides30 right30 bottom20">Download Photos</a>
			<a href="#" class="btn transparent_blue size50 radius6 border border_blue padding_sides25">Learn More</a>
		</div>
		<img srcset="i/feature_28_img.jpg 1x, i/feature_28_img_2x.jpg 2x" src="i/feature_28_img.jpg" class="top15 max_width_full bg" alt="" />	
	</div>
</section>
