
<!-- Feature 14 -->

<section class="feature_14 bg_white padding_top120 padding_bottom40">
	<div class="container nopadding">
		<h2 class="max_width570 margin_auto bottom65 font42 font_second light dark_gray text-center">
			Take a Look at Our Awesome <br />New Product 
		</h2>
		<div class="row">
			<div class="col-lg-3 bottom50 text-center text-lg-left block_left">
				<div class="top195 font_second light font28 title">Of course we haven't forgotten about the responsive layout. Create a website with full mobile support.</div>
				<a href="#" class="top80 btn black size60 radius6 padding_sides20"><i class="fa fa-apple right15"></i> Available on App Store</a>
			</div>
			<div class="col-lg-6 bottom50 text-center block_center">
				<img srcset="i/feature_14_img.jpg 1x, i/feature_14_img_2x.jpg 2x" src="i/feature_14_img.jpg" class="max_width_full" alt="" />				
			</div>
			<div class="col-lg-3 bottom50 padding_top85 block_right">
				<div class="font14 semibold uppercase spacing15 red title">Full control</div>
				<div class="top15 bottom70 font18 light dark_blue text">
					Easily change and tweak your content when you need to, however you want. No more third party vendor lock-in.
				</div>
				<div class="font14 semibold uppercase spacing15 red title">For freelancers and agencies</div>
				<div class="top15 bottom70 font18 light dark_blue text">
					Pay once and it's yours forever. Use it to build as many sites as you need; long form, presentations, splash sites, and more.
				</div>
				<div class="font14 semibold uppercase spacing15 red title">Cmd + C / Cmd + V</div>
				<div class="top15 bottom70 font18 light dark_blue text">
					Edit content in a comfortable manner. It's as simple as copy and paste.
				</div>
			</div>
		</div>
	</div>
</section>
