
<!-- Feature 15 -->

<section class="feature_15 bg_white padding_top140 padding_bottom100">
	<div class="container nopadding">
		<div class="row">
			<div class="col-xl-5 col-lg-6">
				<div class="top20 max_width470 block_left">
					<h2 class="font42 font_second light dark_gray">Better design for your content.</h2>
					<div class="top30 bottom70 font18 light dark_blue text">
						With Startup, we don't make you start from an empty slate. All you have to do is to pick the elements you like best and combine them together and we guarantee that it will look fantastic. 
					</div>
					<div class="max_width370 bottom55 block">
						<div class="font22 light title"><i class="fa fa-check red right15"></i>Retina Ready</div>
						<div class="top20 font18 dark_blue light text">
							Startup Framework works fine on devices supporting Retina Desplay. Feel the clarity!
						</div>
					</div>
					<div class="max_width370 block">
						<div class="font22 light title"><i class="fa fa-check red right15"></i>Responsive Layout</div>
						<div class="top20 font18 dark_blue light text">
							Of course we haven't forgotten about the responsive layout. Full mobile support.
						</div>
					</div>
					<div class="top70 buttons">
						<a href="#" class="bottom20 btn size60 black radius6 padding_sides30"><i class="fa fa-apple right15"></i>Available on App Store</a>
						<a href="#" class="left25 btn size60 transparent_red radius6 padding_sides30 border border_red">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-6 text-right">
				<img srcset="i/feature_15_bg.jpg 1x, i/feature_15_bg_2x.jpg 2x" src="i/feature_15_bg.jpg" class="max_width_full bg" alt="" />
			</div>
		</div>
	</div>
</section>
