
<!-- Feature 19 -->

<section class="feature_19 padding_top170 padding_bottom120">
	<div class="container nopadding max_width970">
		<div class="max_width180 absolute top70 left400 text-center feature_19_menu">
			<a class="width30 right45"><i class="fa fa-rebel font22 white opacity3"></i></a>
			<a class="width30 right45"><i class="fa fa-fort-awesome font22 white opacity3"></i></a>
			<a class="width30"><i class="fa fa-heartbeat font22 white opacity3"></i></a>
		</div>						
	</div>
	<div class="slider">
		<div>
			<div class="container nopadding max_width970 min_height660 flex align_center slide">
				<div class="left400 inner">
					<h2 class="font42 font_second light white">The Second Sneak-Peek of Startup Framework</h2>
					<div class="top30 font22 light white text">
						We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
					</div>
					<a href="#" class="top95 btn transparent_green size40 radius6 border border_green semibold uppercase font12 spacing15 padding_sides25">Try It Now</a>
				</div>
				<img srcset="i/feature_19_img.png 1x, i/feature_19_img_2x.png 2x" src="i/feature_19_img.png" class="max_height_full absolute bg" alt="" />	
			</div>
		</div>
		<div>
			<div class="container nopadding max_width970 min_height660 flex align_center slide">
				<div class="left400 inner">
					<h2 class="font42 font_second light white">The Second Sneak-Peek of Startup Framework</h2>
					<div class="top30 font22 light white text">
						Slide 2: We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
					</div>
					<a href="#" class="top95 btn transparent_green size40 radius6 border border_green semibold uppercase font12 spacing15 padding_sides25">Try It Now</a>
				</div>
				<img srcset="i/feature_19_img.png 1x, i/feature_19_img_2x.png 2x" src="i/feature_19_img.png" class="max_height_full absolute bg" alt="" />	
			</div>
		</div>
		<div>
			<div class="container nopadding max_width970 min_height660 flex align_center slide">
				<div class="left400 inner">
					<h2 class="font42 font_second light white">The Second Sneak-Peek of Startup Framework</h2>
					<div class="top30 font22 light white text">
						Slide 3: We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
					</div>
					<a href="#" class="top95 btn transparent_green size40 radius6 border border_green semibold uppercase font12 spacing15 padding_sides25">Try It Now</a>
				</div>
				<img srcset="i/feature_19_img.png 1x, i/feature_19_img_2x.png 2x" src="i/feature_19_img.png" class="max_height_full absolute bg" alt="" />	
			</div>
		</div>
	</div>
</section>
