
<!-- Feature 29 -->

<section class="feature_29 padding_top150 padding_bottom120">
	<div class="container nopadding">
		<div class="slider">
			<div>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
						<div class="max_width370 top15 white inner">
							<h2 class="font42 font_second light">Ready for Use</h2>
							<div class="top30 font22 light opacity7 hyphens text">
								Startup Framework contains components and compex blocks which can wasily be integrated into almost any design.
							</div>
							<div class="top50 block">
								<i class="fa fa-files-o font42"></i>
								<div class="top20 font28 light title">Many Useful Components</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
								</div>
							</div>
							<div class="top50 block">
								<i class="fa fa-rocket font42"></i>
								<div class="top20 font28 light title">Feel Our Design</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Samples will show you the feeling on how to play around using the components in the website building process.
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img srcset="i/feature_29_img.png 1x, i/feature_29_img_2x.png 2x" src="i/feature_29_img.png" class="max_width_full img" alt="" />			
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
						<div class="max_width370 top15 white inner">
							<h2 class="font42 font_second light">Ready for Use</h2>
							<div class="top30 font22 light opacity7 hyphens text">
								Startup Framework contains components and compex blocks which can wasily be integrated into almost any design.
							</div>
							<div class="top50 block">
								<i class="fa fa-files-o font42"></i>
								<div class="top20 font28 light title">Many Useful Components</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
								</div>
							</div>
							<div class="top50 block">
								<i class="fa fa-rocket font42"></i>
								<div class="top20 font28 light title">Feel Our Design</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Samples will show you the feeling on how to play around using the components in the website building process.
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img srcset="i/feature_29_img.png 1x, i/feature_29_img_2x.png 2x" src="i/feature_29_img.png" class="max_width_full img" alt="" />			
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
						<div class="max_width370 top15 white inner">
							<h2 class="font42 font_second light">Ready for Use</h2>
							<div class="top30 font22 light opacity7 hyphens text">
								Startup Framework contains components and compex blocks which can wasily be integrated into almost any design.
							</div>
							<div class="top50 block">
								<i class="fa fa-files-o font42"></i>
								<div class="top20 font28 light title">Many Useful Components</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
								</div>
							</div>
							<div class="top50 block">
								<i class="fa fa-rocket font42"></i>
								<div class="top20 font28 light title">Feel Our Design</div>
								<div class="top20 font18 light opacity7 hyphens text">
									Samples will show you the feeling on how to play around using the components in the website building process.
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img srcset="i/feature_29_img.png 1x, i/feature_29_img_2x.png 2x" src="i/feature_29_img.png" class="max_width_full img" alt="" />			
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
