
<!-- Feature 26 -->

<section class="feature_26 bg_light_blue padding_top95 padding_bottom100">
	<div class="container nopadding">
		<div class="row justify-content-between justify-content-xl-start">
			<div class="col-lg-5">
				<img srcset="i/feature_26_img.png 1x, i/feature_26_img_2x.png 2x" src="i/feature_26_img.png" class="max_width_full bg" alt="" />	
			</div>
			<div class="col-lg-6">
				<div class="top115 max_width600 inner">
					<h2 class="font42 font_second light dark_gray">Fast Prototyping</h2>
					<div class="top30 font22 light dark_blue hyphens text">
						Startup is a powerful tool for quick and convenient prototyping of your projects. It will fit most projects because it contains up-to-date and modern web elements.
					</div>
					<a href="#" class="top40 link blue"><i class="fa fa-question-circle-o right10"></i>Learn more about Startup Framework</a>
					<div class="row justify-content-between top115 blocks">
						<div class="col-sm-6">
							<div class="max_width270 bottom50 block">
								<div class="font18 semibold dark_gray title">Based on Bootstrap 4</div>
								<div class="top15 font18 light dark_blue text">
									HTML layout is based on one of the most common and reliable framework - Bootstrap.
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-5">
							<div class="max_width270 bottom50 block">
								<div class="font18 semibold dark_gray title">HTML5 & CSS3</div>
								<div class="top15 font18 light dark_blue text">
									We used only time-tested <br />technologies for the best <br />results.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
