
<!-- Feature 11 -->

<section class="feature_11 bg_white padding_bottom20">
	<div class="container nopadding padding_top150 padding_bottom185">
		<img srcset="i/feature_11_bg.jpg 1x, i/feature_11_bg_2x.jpg 2x" src="i/feature_11_bg.jpg" class="absolute left370 max_height_full bg" alt="" />
		<div class="max_width470 relative inner">
			<h2 class="font42 font_second light dark_gray">Designed for Desktop</h2>
			<div class="top30 font18 light dark_blue text text1">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<div class="top50 block">
				<div class="font22 light title"><i class="fa fa-check blue right15"></i>Retina Ready</div>
				<div class="left35 top20 max_width370 font18 light dark_blue text">
					Startup Framework works fine on devices supporting Retina Desplay. Feel the clarity!
				</div>
			</div>
			<div class="top50 block">
				<div class="font22 light title"><i class="fa fa-check blue right15"></i>Responsive Layout</div>
				<div class="left35 top20 max_width370 font18 light dark_blue text">
					Of course we haven't forgotten about the responsive layout. Full mobile support.
				</div>
			</div>
			<a href="#" class="top75 btn green size50 radius6 padding_sides30">Learn More</a>
		</div>
	</div>
</section>
