
<!-- Feature 2 -->

<section class="feature_2 bg_white padding_top100 padding_bottom65">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light blue text-center">Startup Framework</h2>
		<div class="max_width770 margin_auto top40 font22 light dark_blue text-center hyphens text text1">
			The most important part of the Startup Framework are the samples or Bootstrap themes and templates. The samples consist of a set of few pages you can use «as is» or add new blocks from UI Kit. 
		</div>
		<div class="top85 row inner">
			<div class="col-md-4 text-center bottom50 block">
				<div class="font22 light blue title">For Freelancers and <br />Agencies</div>
				<div class="top25 font18 light dark_blue hyphens text">
					Pay once and it’s yours forever. <br />Use it to build as many sites as <br />you need; long form, presentations, splash sites, and more.
				</div>
				<a href="#" class="top30 btn size40 width40 transparent_blue border border_blue font20"><i class="fa fa-angle-right"></i></a>
			</div>
			<div class="col-md-4 text-center bottom50 block">
				<div class="font22 light blue title">Cmd + C / Cmd + V</div>
				<div class="top25 font18 light dark_blue hyphens text">
					Edit content in a comfortable <br />manner. It’s as simple as copy and paste.
				</div>
				<a href="#" class="top30 btn size40 width40 transparent_blue border border_blue font20"><i class="fa fa-angle-right"></i></a>
			</div>
			<div class="col-md-4 text-center bottom50 block">
				<div class="font22 light blue title">Full Control</div>
				<div class="top25 font18 light dark_blue hyphens text">
					Easily change and tweak your <br />content when you need to, <br />however you want. No more <br />third party vendor lock-in.
				</div>
				<a href="#" class="top30 btn size40 width40 transparent_blue border border_blue font20"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
</section>
