
<!-- Feature 22 -->

<section class="feature_22 bg_white padding_top140 padding_bottom150">
	<div class="container nopadding clearfix">
		<img srcset="i/feature_22_img.png 1x, i/feature_22_img_2x.png 2x" src="i/feature_22_img.png" class="float_left max_width_full top20 bg" alt="" />							
		<div class="left500 inner">
			<h2 class="font42 font_second light dark_gray hyphens">Many carefully crafted components for your business.</h2>
			<div class="top30 max_width570 font22 light dark_blue text">
				We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
			</div>
			<div class="top110 buttons">
				<a href="#" class="bottom20 btn black size50 padding_sides25 right10"><i class="fa fa-apple right10"></i>Buy on App Store</a>
				<div class="inline_block links">
					<a href="#" class="link light_gray font32 sides20"><i class="fa fa-android"></i></a>
					<a href="#" class="link light_gray font32 sides20"><i class="fa fa-windows"></i></a>
					<a href="#" class="link light_gray font32 sides20"><i class="fa fa-slack"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
