
<!-- Feature 3 -->

<section class="feature_3 bg_white padding_top100 padding_bottom60">
	<div class="container nopadding">
		<h2 class="font42 font_second light dark_gray text-center">What's New in Startup?</h2>
		<div class="max_width770 margin_auto top35 font22 light dark_blue text-center hyphens text text1">
			We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.
		</div>
		<div class="text-center">
			<a href="#" class="top55 btn red font12 uppercase semibold size40 padding_sides25 spacing20">View presentation</a>
		</div>
		<div class="top65 flex justify_between inner">
			<div class="width370 padding_sides50 padding_top60 padding_bottom55 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-paint-brush font40 red"></i>
				<div class="top20 font22 light dark_gray title">New Design</div>
				<div class="top25 font18 light dark_blue text">
					Carefully crafted precise design, with harmonious typography and perfect padding around every component
				</div>
			</div>
			<div class="width370 padding_sides50 padding_top60 padding_bottom55 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-code font40 red"></i>
				<div class="top20 font22 light dark_gray title">New Code</div>
				<div class="top25 font18 light dark_blue text">
					Built with HTML, CSS and JS. Startup’s code is easy to understand and easy to change. No other frameworks needed.
				</div>
			</div>
			<div class="width370 padding_sides50 padding_top60 padding_bottom55 radius10 text-center margin_auto bottom50 block">
				<i class="fa fa-toggle-on font40 red"></i>
				<div class="top20 font22 light dark_gray title">New Character</div>
				<div class="top25 font18 light dark_blue text">
					Transform your ideas into reality and launch a beautiful site with minimal frustration.
				</div>
			</div>
		</div>
	</div>
</section>
